<h1 class="govuk-heading-l"><%= I18n.t("support.case_contract.new.edit.header") %></h1>

<%= form_with model: @case_contracts_form, scope: :case_contracts_form, url: support_case_contract_path(@current_case, @current_case.new_contract), method: :patch do |form| %>
  <%= form.govuk_error_summary %>
  <%= form.govuk_date_field :started_at, legend: { text: I18n.t("support.case_contract.new.edit.started_at.header") } %>
  <%= form.govuk_number_field :duration, width: 5, label: { text: I18n.t("support.case_contract.new.edit.duration.header"), size: 'm' } %>
  <%= form.govuk_text_field :spend, width: 5, label: { text: I18n.t("support.case_contract.new.edit.spend.header"), size: 'm' }, prefix_text: '£' %>
  <%= form.govuk_text_field :supplier, width: 20, label: { text: I18n.t("support.case_contract.new.edit.supplier.header"), size: 'm' } %>
  <%= form.hidden_field :is_supplier_sme, value: 'false' %>
  <%= form.govuk_check_box :is_supplier_sme, 'true', unchecked_value: 'false', multiple: false, checked: @current_case.new_contract.is_supplier_sme, label: { text: I18n.t("support.case.label.procurement_details.supplier_is_sme"), size: 'm' } %>
  <br>
  <%= form.submit I18n.t("support.case_contract.new.edit.submit"), class: "govuk-button", role: "button" %>
<% end %>
