<% truncated_message = defined?(truncated_message) ? truncated_message : false %>

<div class="message">
  <div class="message-details">
    <div>
      <%= message.sent_by_name %>
      <%= message.render_actions(self) %>
      <%= message.render_details(self) %>
    </div>

    <div><%= message.sent_at_formatted %></div>
  </div>

  <div <% if truncated_message %>class="message-preview govuk-body truncated-view" data-component="toggle-truncate"<% else %>class="message-preview govuk-body"<% end %>>
    <% if truncated_message %>
      <div class="truncated">
        <%= message.truncated_body_for_display(self) %>
      </div>
    <% end %>

    <div class="full-view <% if truncated_message %>govuk-!-display-none<% end %>">
      <%= message.body_for_display(self) %>

      <%= render "support/cases/messages/attachments", email: message %>

      <% if message.show_recap? %>
        <%= render "support/cases/messages/recaps/recap", message: message, expand_recap: false %>
      <% end %>
    </div>
  </div>
</div>

<hr class="govuk-!-margin-bottom-6" />
