<% truncated_message = defined?(truncated_message) ? truncated_message : false %>
<% show_recap = defined?(show_recap) ? show_recap : false %>

<div class="message <%= message.is_read? ? "read" : "unread" %>">
  <div class="message-details">
    <div>
      <%= message.sent_by_name %>

      <% unless message.is_read? %>
        <span class="govuk-!-margin-left-2">
          <%= render "support/cases/emails/unread_badge" %>
        </span>
      <% end %>

      <span class="govuk-!-margin-left-1">
        <%= link_to I18n.t("support.case.label.messages.table.#{message.is_read? ? "mark_as_unread" : "mark_as_read"}"),
          support_email_read_status_path(message, status: message.is_read? ? "unread" : "read"),
          method: :patch,
          class: "govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-!-font-weight-bold" %>
      </span>

      <% if message.attachments.non_inline.any? %>
        <span class="govuk-!-margin-left-2">
          <%= link_to I18n.t("support.case.label.messages.table.save_attachments"), new_support_email_save_attachments_path(message), class: "govuk-link govuk-link--no-underline govuk-link--no-visited-state govuk-!-font-weight-bold" %>
        </span>
      <% end %>
    </div>

    <div><%= message.sent_at_formatted %></div>
  </div>

  <div <% if truncated_message %>class="message-preview govuk-body truncated-view" data-component="toggle-truncate"<% else %>class="message-preview govuk-body"<% end %>>
    <% if truncated_message %>
      <div class="truncated">
        <%= message.truncated_body_for_display(self) %>
      </div>
    <% end %>

    <div class="full-view <% if truncated_message %>govuk-!-display-none<% end %>">
      <%= message.body_for_display(self) %>

      <%= render "support/cases/messages/attachments", email: message %>

      <% if show_recap %>
        <div class="message-recap">
          <div class="recap-controls" data-component="toggle-panel-visibility" data-panel="recap-<%= message.id %>">
            <div class="dots">...</div>
          </div>

          <div class="recap-view govuk-!-display-none" id="recap-<%= message.id %>">
            <%= message.message_recap(self) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr class="govuk-!-margin-bottom-6" />
