<tr class="govuk-table__row" id="thread_templated_messages">
  <td class="govuk-table__cell">
    <%= @current_case.full_name.presence || @current_case.email %>
  </td>
  <td class="govuk-table__cell">
    <%= I18n.t("support.case.label.message_threads.templated_messages") %>
  </td>
  <td class="govuk-table__cell">
    <span title="<%= @current_case.templated_messages_last_updated %>">
      <%= relative_date_format(@current_case.templated_messages_last_updated) %>
    </span>
  </td>
  <td class="govuk-table__cell">
    N/A
  </td>
  <td class="govuk-table__cell">
    <%= link_to I18n.t("support.case.label.message_threads.view"), templated_messages_support_case_message_threads_path(back_to: Base64.encode64(@back_url)), class: "govuk-link" %>
  </td>
</tr>
