<tr class="govuk-table__row <%= thread.unread_messages? ? "unread-thread" : "" %>">
  <td class="govuk-table__cell">
    <%= thread.recipient_emails %>
  </td>
  <td class="govuk-table__cell">
    <%= thread.subject %>
  </td>
  <td class="govuk-table__cell">
    <span title="<%= thread.last_updated %>">
      <%= relative_date_format(thread.last_updated) %>
    </span>
  </td>
  <td class="govuk-table__cell">
    <%= render "support/cases/emails/#{thread.unread_messages? ? "unread_badge" : "read_badge"}" %>
  </td>
  <td class="govuk-table__cell">
    <%= link_to I18n.t("support.case.label.message_threads.view"), portal_case_message_thread_path(id: thread, back_to: Base64.encode64(@back_url)), class: "govuk-link" %>
  </td>
</tr>
