<%= turbo_frame_tag "messages-frame" do %>
  <h2 class="govuk-heading-l"><%= I18n.t("support.case.header.messages") %></h2>

  <table class="govuk-table messages-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header name-column"><%= I18n.t("support.case.label.message_threads.recipients") %></th>
        <th class="govuk-table__header"><%= I18n.t("support.case.label.message_threads.subject") %></th>
        <th class="govuk-table__header date-column"><%= I18n.t("support.case.label.message_threads.last_update") %></th>
        <th class="govuk-table__header date-column"><%= I18n.t("support.case.label.message_threads.status") %></th>
        <th class="govuk-table__header date-column"><%= I18n.t("support.case.label.message_threads.action") %></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% @message_threads.each do |thread| %>
        <%= render "thread", thread: thread %>
      <% end %>

      <% if @templated_messages.any? %>
        <%= render "templated_message_thread" %>
      <% end %>

      <% if @logged_contacts.any? %>
        <%= render "logged_contact_thread" %>
      <% end %>
    </tbody>
  </table>

  <%= link_to I18n.t("support.case.label.message_threads.new_thread"), new_support_case_message_thread_path(back_to: Base64.encode64(@back_url)), class: "govuk-button", role: "button"%>
<% end %>
