<%= render "support/cases/show/tabs", tab: "messages" do %>
  <div class="govuk-tabs__panel" id="messages" role="tabpanel" aria-labelledby="tab_messages">
    <%= link_to I18n.t("support.case.label.message_threads.back"), support_case_message_threads_path(back_to: Base64.encode64(@back_url)), class: "govuk-back-link pull-up" %>

    <h3 class="govuk-heading-m"><%= @current_thread.subject %></h3>

    <%= render "support/cases/message_threads/#{@current_thread.messages.count > 4 ? "greater_than_four_messages" : "four_or_less_messages"}", messages: @current_thread.messages, current_case: @current_case %>

    <% if @current_thread.last_received_reply&.inbox? %>
      <details class="govuk-details govuk-!-margin-top-5" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Reply to message
          </span>
        </summary>
        <div class="govuk-details__text">
          <%= render "support/cases/messages/replies/form", reply: true, email: @current_thread.last_received_reply %>
        </div>
      </details>
    <% end %>
  </div>
<% end %>
