<%= turbo_frame_tag "messages-frame" do %>
  <%= link_to I18n.t("support.case.label.message_threads.back"), support_case_message_threads_path(back_to: Base64.encode64(@back_url)), class: "govuk-back-link pull-up" %>

  <h3 class="govuk-heading-m"><%= @subject %></h3>

  <%= render "support/cases/message_threads/#{@messages.count > 4 ? "greater_than_four_messages" : "four_or_less_messages"}", messages: @messages, current_case: @current_case %>

  <% if @last_received_reply&.inbox? %>
    <details class="govuk-details govuk-!-margin-top-5" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Reply to message
        </span>
      </summary>
      <div class="govuk-details__text">
        <%= render "support/cases/messages/replies/form", reply: true, email: @last_received_reply %>
      </div>
    </details>
  <% end %>
<% end %>
