<%= turbo_frame_tag "messages-frame" do %>
  <%= link_to I18n.t("support.case.label.message_threads.back"), back_link_message_threads_path(back_to: Base64.encode64(@back_url)), class: "govuk-back-link pull-up" %>

  <h3 class="govuk-heading-m"><%= @subject %></h3>

  <%= render "support/cases/message_threads/#{@messages.count > 4 ? "greater_than_four_messages" : "four_or_less_messages"}", messages: @messages, current_case: @current_case %>

  <% if @last_received_reply&.inbox? %>
    <details class="govuk-details govuk-!-margin-top-5" open="true">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Reply to message
        </span>
      </summary>
      <div class="govuk-details__text">
        <%= turbo_frame_tag "reply-frame", src: @reply_frame_url.presence do %>
          <div class="govuk-button-group flex-align-center">
            <%= link_to I18n.t("support.case.label.message_threads.reply_with_template"), support_case_email_templates_path(thread_id: @current_thread.id, message_id: @last_received_reply, back_to: Base64.encode64(@back_url)), class: "govuk-button govuk-button--secondary", data: { turbo_frame: "messages-frame" }, role: "button" %>
            <%= button_to I18n.t("support.case.label.message_threads.reply_with_signature"), support_case_message_replies_path(message_id: @last_received_reply), class: "govuk-button govuk-button--secondary" %>
          </div>
        <% end %>
      </div>
    </details>
  <% end %>
<% end %>
