<div class="govuk-summary-card" id="statistics-by-person-by-top-level-stage" aria-label="<%= I18n.t("support.case_statistics.section_headings.by_top_level_stage") %>">
  <div class="govuk-summary-card__title-wrapper">
		<h2 class="govuk-summary-card__title">
      <div class="govuk-summary-card__title_cell"><%= I18n.t("support.case_statistics.section_headings.by_top_level_stage") %></div>
      <div class="govuk-summary-card__title_cell"><%= show_all_case_workers_link %></div>
    </h2>
  </div>

  <div class="govuk-summary-card__content">
	  <div class="case-panel">
			<table class="govuk-table overview-table overview-by-stage" aria-label="<%= "Table for #{I18n.t("support.case_statistics.section_headings.by_top_level_stage")}" %>">
			  <thead class="govuk-table__head">
			    <tr class="govuk-table__row">
			      <th scope="col" class="govuk-table__header agent-name"><%= I18n.t("support.case_statistics.column_headings.name") %></th>
						<% @top_level_stages.each do |stage| %>
							<th scope="col" class="govuk-table__header result-value"><%= stage %></th>
						<% end %>
						<th scope="col" class="govuk-table__header result-value"><%= I18n.t("support.case_statistics.column_headings.unspecified") %></th>
			    </tr>
			  </thead>
			  <tbody class="govuk-table__body">
			    <% @caseworkers_to_display.each do |agent| %>
			      <tr class="govuk-table__row">
			        <td scope="row" class="govuk-table__header agent-name">
								<%= govuk_link_to agent.full_name, request.params.merge(selected_caseworker: agent.id), no_visited_state: true %>
			        </td>
							<% @top_level_stages.each do |stage| %>
				        <td class="govuk-table__cell result-value">
									<%= govuk_link_to @live_cases.by_agent(agent.id).by_procurement_stage(top_level_stage(stage)).count, filtered_cases_path(nil, { procurement_stage: substage_ids_for_stage(stage), state: %w[live], agent: agent.id, category: "all" }), no_visited_state: true %>
								</td>
							<% end %>
			        <td class="govuk-table__cell result-value">
								<%= govuk_link_to @live_cases.by_agent(agent.id).by_procurement_stage_unspecified.count, filtered_cases_path(nil, { procurement_stage: "unspecified", state: %w[live], agent: agent.id, category: "all" }), no_visited_state: true %>
							</td>
			      </tr>
			    <% end %>
		      <tr class="govuk-table__row">
		        <td scope="row" class="govuk-table__header agent-name">
							<%= I18n.t("support.case_statistics.row_headings.assigned_to_non_caseworkers").upcase %>
		        </td>
						<% @top_level_stages.each do |stage| %>
			        <td class="govuk-table__cell result-value">
								<%= govuk_link_to @live_cases.assigned_to_non_caseworkers.by_procurement_stage(top_level_stage(stage)).count, filtered_cases_path(nil, { procurement_stage: substage_ids_for_stage(stage), state: %w[live], agent: "former", category: "all" }), no_visited_state: true %>
							</td>
						<% end %>
		        <td class="govuk-table__cell result-value">
							<%= govuk_link_to @live_cases.assigned_to_non_caseworkers.by_procurement_stage_unspecified.count, filtered_cases_path(nil, { procurement_stage: "unspecified", state: %w[live], agent: "former", category: "all" }), no_visited_state: true %>
						</td>
		      </tr>
		      <tr class="govuk-table__row">
		        <td scope="row" class="govuk-table__header agent-name">
							<%= I18n.t("support.case_statistics.row_headings.unassigned").upcase %>
		        </td>
						<% @top_level_stages.each do |stage| %>
			        <td class="govuk-table__cell result-value">
								<%= govuk_link_to @live_cases.unassigned.by_procurement_stage(top_level_stage(stage)).count, filtered_cases_path(nil, { procurement_stage: substage_ids_for_stage(stage), state: %w[live], agent: "unassigned", category: "all" }), no_visited_state: true %>
							</td>
						<% end %>
		        <td class="govuk-table__cell result-value">
							<%= govuk_link_to @live_cases.unassigned.by_procurement_stage_unspecified.count, filtered_cases_path(nil, { procurement_stage: "unspecified", state: %w[live], agent: "unassigned", category: "all" }), no_visited_state: true %>
						</td>
		      </tr>
		      <tr class="govuk-table__row">
		        <td scope="row" class="govuk-table__header agent-name">
							<%= I18n.t("support.case_statistics.row_headings.total").upcase %>
		        </td>
						<% @top_level_stages.each do |stage| %>
			        <td class="govuk-table__cell result-value">
								<%= govuk_link_to @live_cases.by_procurement_stage(top_level_stage(stage)).count, filtered_cases_path(nil, { procurement_stage: substage_ids_for_stage(stage), state: %w[live], category: "all" }), no_visited_state: true %>
							</td>
						<% end %>
		        <td class="govuk-table__cell result-value">
							<%= govuk_link_to @live_cases.by_procurement_stage_unspecified.count, filtered_cases_path(nil, { procurement_stage: "unspecified", state: %w[live], category: "all" }), no_visited_state: true %>
						</td>
		      </tr>
			  </tbody>
			</table>
	  </div>
	</div>
</div>