<div class="govuk-summary-card" id="statistics-by-person-by-status" aria-label="<%= I18n.t("support.case_statistics.section_headings.by_status") %>">
  <div class="govuk-summary-card__title-wrapper">
		<h2 class="govuk-summary-card__title">
      <div class="govuk-summary-card__title_cell"><%= I18n.t("support.case_statistics.section_headings.by_status") %></div>
      <div class="govuk-summary-card__title_cell"><%= show_all_case_workers_link %></div>
    </h2>
  </div>

  <div class="govuk-summary-card__content">
	  <div class="case-panel">
			<table class="govuk-table overview-table overview-by-status" aria-label="<%= "Table for #{I18n.t("support.case_statistics.section_headings.by_status")}" %>">
			  
			  <thead class="govuk-table__head">
			    <tr class="govuk-table__row">
			      <th scope="col" class="govuk-table__header agent-name"><%= I18n.t("support.case_statistics.column_headings.name") %></th>
							<% @live_statuses.each do |status| %>
					      <th scope="col" class="govuk-table__header result-value"><%= I18n.t("support.case_statistics.states.#{status}") %></th>
							<% end %>
			    </tr>
			  </thead>
			  <tbody class="govuk-table__body">
			    <% @caseworkers_to_display.each do |agent| %>
			      <tr class="govuk-table__row">
			        <td scope="row" class="govuk-table__header agent-name">
								<%= govuk_link_to agent.full_name, request.params.merge(selected_caseworker: agent.id), no_visited_state: true %>
			        </td>
							<% @live_statuses.each do |status| %>
				        <td class="govuk-table__cell result-value">
									<%= govuk_link_to eval("@live_cases.by_agent(agent.id).#{status}.count"), filtered_cases_path(nil, { state: status, agent: agent.id, category: "all" }), no_visited_state: true %>
								</td>
							<% end %>
			      </tr>
			    <% end %>
		      <tr class="govuk-table__row">
		        <td scope="row" class="govuk-table__header agent-name">
							<%= I18n.t("support.case_statistics.row_headings.assigned_to_non_caseworkers").upcase %>
		        </td>
						<% @live_statuses.each do |status| %>
			        <td class="govuk-table__cell result-value">
								<%= govuk_link_to eval("@live_cases.assigned_to_non_caseworkers.#{status}.count"), filtered_cases_path(nil, { state: status, agent: "former", category: "all" }), no_visited_state: true %>
							</td>
						<% end %>
		      </tr>
		      <tr class="govuk-table__row">
		        <td scope="row" class="govuk-table__header agent-name">
							<%= I18n.t("support.case_statistics.row_headings.unassigned").upcase %>
		        </td>
						<% @live_statuses.each do |status| %>
			        <td class="govuk-table__cell result-value">
  							<%= govuk_link_to eval("@live_cases.unassigned.#{status}.count"), filtered_cases_path(nil, { state: status, agent: "unassigned", category: "all" }), no_visited_state: true %>
							</td>
						<% end %>
		      </tr>
		      <tr class="govuk-table__row">
		        <td scope="row" class="govuk-table__header agent-name">
							<%= I18n.t("support.case_statistics.row_headings.total").upcase %>
		        </td>
						<% @live_statuses.each do |status| %>
			        <td class="govuk-table__cell result-value">
                <%= govuk_link_to eval("@live_cases.#{status}.count"), filtered_cases_path(nil, { state: status}), no_visited_state: true %>
							</td>
						<% end %>
		      </tr>
			  </tbody>
			</table>
	  </div>
	</div>
</div>