<%= content_for :title, I18n.t("support.case_statistics.header") %>

<h1 class="govuk-heading-l"><%= I18n.t("support.case_statistics.header") %> 
	<% if @selected_caseworker %>
		<%= "#{I18n.t("support.case_statistics.selected_caseworker.for")} #{@selected_caseworker.full_name}" %>
	<% end %>
</h1>

<div class="govuk-tabs" data-module="govuk-tabs" data-component="select-tab">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <%= link_to I18n.t("support.case_statistics.tabs.by_person.tab_heading"), "#stats-by-person", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item">
      <%= link_to I18n.t("support.case_statistics.tabs.by_stage.tab_heading"), "#stats-by-stage", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item">
      <%= link_to I18n.t("support.case_statistics.tabs.by_category.tab_heading"), "#stats-by-category", class: "govuk-tabs__tab" %>
    </li>
  </ul>

	<div class="govuk-tabs__panel">
		<%= render "support/case_statistics/headline_figures" %>
	  <%= render "support/case_statistics/tab_person" %>
	  <%= render "support/case_statistics/tab_stage" %>
	  <%= render "support/case_statistics/tab_category" %>
  </div>
</div>

<%= link_to I18n.t("support.case_statistics.download.csv"), support_case_statistics_path(format: :csv), class: "govuk-button", role: "button" %>

