<tr class="govuk-table__row">
  <th class="govuk-table__cell" scope="row">
    <strong><%= link_to attachment.custom_name, support_document_download_path(attachment, type: attachment.class), class: "govuk-link", target: "_blank" %></strong>
    <% if attachment.description.present? %>
      <br> <span class="govuk-!-font-weight-regular"><%= attachment.description %></span>
    <% end %>
  </th>
  <td class="govuk-table__cell">
    <span title="<%= attachment.created_at.strftime("%d %b %Y %H:%M") %>">
      <%= relative_date_format(attachment.created_at) %>
    <span>
  </td>
  <td class="govuk-table__cell">
    <div class="attachment-actions">
      <%= link_to "Edit", edit_message_attachment_path(@ticket, attachment, ticket_type: @ticket.class, redirect_page: params[:page], back_to: current_url_b64), class: "govuk-link govuk-link--no-visited-state" %>
      <%= link_to "Hide", message_attachment_path(@ticket, attachment, ticket_type: @ticket.class, redirect_page: params[:page]), data: { turbo_method: :delete, turbo_confirm: "Are you sure you wish to remove this file from view?" }, class: "govuk-link govuk-link--no-visited-state" %>
    </div>
  </td>
</tr>
