<% if Flipper.enabled?(:energy_bill_flow) %>
  <p class="govuk-body">
    <%= I18n.t("faf.user_query.hint") %>
  </p>

  <p class="govuk-body">
    <%= I18n.t("faf.user_query.hint_list_start") %>
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <% for bullet in I18n.t("faf.user_query.hint_bullets") %>
      <li><%= bullet %></li>
    <% end %>
  </ul>

  <p class="govuk-body">
    <%= I18n.t("faf.user_query.hint_list_end") %>
  </p>
<% else %>
  <%= I18n.t("faf.user_query.hint") %>
<% end %>
