<%= content_for :title, I18n.t("dashboard.header") %>
<%= link_to I18n.t("generic.button.back"), root_path, class: "govuk-back-link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= I18n.t("dashboard.header") %></h1>

    <% if @journeys.none? %>
      <h2 class="govuk-heading-m"><%= I18n.t("dashboard.create.header") %></h2>
      <p class="govuk-body"><%= I18n.t("dashboard.create.body") %></p>

      <%= link_to I18n.t("dashboard.create.button"), new_journey_path, class: "govuk-button" %>
    <% else %>
      <%= link_to I18n.t("dashboard.create.button"), new_journey_path, class: "govuk-button" %>

      <h2 class="govuk-heading-m"><%= I18n.t("dashboard.existing.header") %></h2>
      <p class="govuk-body"><%= I18n.t("dashboard.existing.body") %></p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date started</th>
            <th scope="col" class="govuk-table__header">Category</th>
            <th scope="col" class="govuk-table__header govuk-table__cell--numeric"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @journeys.each do |journey| %>
            <tr class="govuk-table__row">
              <%# TODO: create a top-level journey presenter for created_at %>
              <td class="govuk-table__cell"><%= journey.created_at.strftime("%e %B %Y") %></td>
              <td class="govuk-table__cell"><%= journey.category.title %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <%= link_to I18n.t("dashboard.edit.button"), journey_path(journey), class: "govuk-link" %>
                -
                <%= link_to I18n.t("dashboard.delete.button"), journey_path(journey, confirm: true), method: :delete, class: "govuk-link" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>
