<%= content_for :title, I18n.t("dashboard.header") %>
<%= link_to I18n.t("generic.button.back"), root_path, class: "govuk-back-link" %>

<h1 class="govuk-heading-xl"><%= I18n.t("dashboard.header") %></h1>

<h2 class="govuk-heading-m"><%= I18n.t("dashboard.create.header") %></h2>

<p class="govuk-body"><%= I18n.t("dashboard.create.body") %></p>

<%= link_to I18n.t("dashboard.create.link"), new_journey_path, class: "govuk-link" %>
