<% # skip this interaction if it an email from outlook and feature not enabled. %>
<% return if interaction.outlook_email? && !Features.enabled?(:incoming_emails) %>

<div id="<%= interaction.id %>" class="govuk-accordion__section">

  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button"
        id="case-history-<%= "#{interaction.event_type.dasherize}-#{interaction.id}" %>">

        <%= I18n.t("support.interaction.type.#{interaction.event_type}") %>

        <% if interaction.email_from_school? && interaction.email&.is_read == false %>
          <%= render "support/cases/emails/unread_badge" %>
        <% end %>
      </span>
    </h2>
    <div class="govuk-accordion__section-summary govuk-body"
      id="accordion-case-history-<%= "#{interaction.event_type.dasherize}-#{interaction.id}" %>-created-at">

      <%= interaction.created_at %>
    </div>
  </div>

  <div id="accordion-case-history-<%= "#{interaction.event_type.dasherize}-#{interaction.id}" %>"
    class="govuk-accordion__section-content"
    aria-labelledby="accordion-case-history-<%= "#{interaction.event_type.dasherize}-#{interaction.id}" %>">

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <% if interaction.outlook_email? %>
        <%= render "support/cases/case_history/details_outlook_email", current_case: current_case, interaction: interaction %>
      <% else %>
        <%= render "support/cases/case_history/details", current_case: current_case, interaction: interaction %>
      <% end %>
    </dl>
  </div>
</div>
