<h2 class="govuk-heading-m"><%= I18n.t("usability_survey.heading") %></h2>
<p class="govuk-body"><%= I18n.t("usability_survey.body") %></p>

<%= form_with model: @usability_survey, scope: :usability_survey, url: usability_surveys_path do |form| %>
  <%= form.govuk_error_summary %>
  <%= form.hidden_field :service, value: @usability_survey.service %>
  <%= hidden_field_tag :return_url, params[:return_url] %>

  <%= form.govuk_check_boxes_fieldset :usage_reasons, legend: { text: I18n.t("usability_survey.usage_reasons.question"), size: "m"  }, hint: { text: I18n.t("usability_survey.usage_reasons.hint") } do %>
    <% usability_survey_usage_reason_options.each do |option| %>
      <% if option.id == "other" %>
        <%= form.govuk_check_box :usage_reasons, option.id, label: { text: option.title } do %>
          <%= form.govuk_text_area :usage_reason_other, label: { text: I18n.t("usability_survey.usage_reasons.usage_reason_other") }, form_group: { class: "govuk-!-margin-left-6" } %>
        <% end %>
      <% else %>
        <%= form.govuk_check_box :usage_reasons, option.id, label: { text: option.title } %>
      <% end %>
    <% end %>
  <% end %>

  <%= form.govuk_radio_buttons_fieldset :service_helpful, legend: { text: I18n.t("usability_survey.service_helpful"), size: "m" } do %>
    <%= form.govuk_radio_button :service_helpful, true, label: { text: "Yes" } %>
    <%= form.govuk_radio_button :service_helpful, false, label: { text: "No" } do %>
      <%= form.govuk_text_area :service_not_helpful_reason, label: { text: I18n.t("usability_survey.service_not_helpful_reason") } %>
    <% end %>
  <% end %>

  <%= form.govuk_text_area :improvements,
    rows: 5,
    label: { text: I18n.t("usability_survey.improvements"), size: "m" }
  %>

  <div class="govuk-button-group">
    <%= form.submit I18n.t("usability_survey.send"), class: "govuk-button" %>
    <%= link_to I18n.t("usability_survey.skip"), @decoded_url || root_path, class: "govuk-link govuk-link--no-visited-state" %>
  </div>
<% end %>
