<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="timeline__end-date-container">
      <strong class="timeline__date-tag">End date: <%= @timeline.end_date.strftime("%-d %B %Y") %></strong>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Timeline for Case <%= @current_case.ref %></h1>
    <div class="timeline__action-container">
      <div class="govuk-button-group flex-space-between flex-align-center">
        <%= button_to "Edit", support_case_timeline_drafts_path(case_id: @current_case, timeline_id: @timeline), class: "govuk-button govuk-button--secondary", method: :post %>
        <%= govuk_link_to "Version History", support_case_timeline_versions_path(case_id: @current_case.id, timeline_id: @timeline.id), no_visited_state: true %>
      </div>
    </div>

    <% @timeline.stages.each do |stage| %>
      <div class="timeline-stages__heading-box" data-stage="<%= stage.stage %>">
        <span class="timeline-stages__heading-stage-indicator" title="<%= stage.stage_title %>"><%= stage.stage_shorthand %></span>
        <div class="timeline-stages__heading-stage-title"><h2 class="govuk-heading-m govuk-!-static-margin-bottom-0"><%= stage.title %></h2></div>
      </div>
      <% if stage.complete_by.present? %>
        <span class="govuk-caption-l govuk-!-margin-bottom-4">Complete by <%= stage.complete_by.strftime("%-d %B %Y") %></span>
      <% end %>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <% stage.tasks.each do |task| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= govuk_link_to task.title, support_case_timeline_task_path(case_id: @current_case, timeline_id: @timeline, id: task), no_visited_state: true %></td>
              <td class="govuk-table__cell"><strong class="timeline-tasks__timeframe-tag"><%= task.time_frame %></strong></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
