<%= content_for :title, "#{I18n.t("energy.check_your_answers.title")} - #{I18n.t('energy.service_name')}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= I18n.t("energy.check_your_answers.title")%></h1>

    <% @organisation_task_lists.each do |org_task_list| %>
      <h2 class="govuk-heading-l"><%= org_task_list.org_name %></h2>

      <% org_task_list.sections.each do |sec| %>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title"><%= I18n.t("energy.check_your_answers.#{sec.title}.title") %></h3>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <% change_title = sec.title.to_s.gsub('_', ' ') %>
                <%= link_to safe_join([I18n.t("energy.generic.change"),
                      content_tag(:span, "Change details for #{change_title}", class: "govuk-visually-hidden")]),
                      sec.path,
                      class: "govuk-link",
                      id: "#{sec.title}_change" %>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <% sec.summary.each do |row| %>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key"><%= I18n.t("energy.check_your_answers.#{sec.title}.#{row[0]}") %></dt>
                  <dd class="govuk-summary-list__value"><%= row[2] || row[1] %></dd>
                </div>
              <% end %>
            </dl>
          </div>
        </div>
      <% end %>
    <% end %>

    <% I18n.t("energy.check_your_answers.notes").each do |note| %>
      <%= render ParagraphComponent.new(text: note) %>
    <% end %>

    <div class="govuk-button-group flex-align-center">
      <%= link_to I18n.t("generic.button.continue"),
        @continue_button_route,
        class: "govuk-button"
      %>
    </div>
  </div>
</div>
