<%= form_with model: @merge_emails_form,
              scope: :merge_emails_form,
              url: support_case_merge_emails_path(case_id: @from_case.id),
              method: :post do |form|
%>

  <%= form.govuk_error_summary %>

  <%# 
   # 1. Search
   # 2. Preview
  %>
  <%= render "support/cases/merge_emails/#{@stage}", form: form %>

  <ul class="govuk-list">
    <li class="govuk-!-display-inline">
      <%= form.submit I18n.t("support.generic.continue"), class: "govuk-button" %>    
    </li>
    <% if @stage == :preview %>
      <li class="govuk-!-display-inline-block govuk-!-padding-left-3 govuk-!-padding-top-1">
        <%= link_to I18n.t("support.generic.cancel"), new_support_case_merge_emails_path, class: "govuk-link"  %>  
      </li>
    <% end %>
  </ul>
<% end %>
