<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        <%= I18n.t("support.case_merge_emails.show.header") %>
      </h1>
      <div class="govuk-panel__body">
        <p>
          <%= I18n.t("support.case_merge_emails.show.body.moved") %>
        </p>

        <p class="govuk-!-font-weight-bold">
          <%= I18n.t("support.case_merge_emails.show.body.case_org", case_ref: @to_case.ref, org: @to_case.org_name) %>
        </p>

        <p class="govuk-!-font-weight-bold">
          <%= I18n.t("support.case_merge_emails.show.body.assigned", agent: @to_case.agent_name) %>
        </p>
      </div>
    </div>
    <p class="govuk-body">
      <%= I18n.t("support.case_merge_emails.show.body.closed", case_ref: @from_case.ref) %>
    </p>

    <p class="govuk-heading-m">
      <%= I18n.t("support.case_merge_emails.show.links.actions") %>
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= link_to I18n.t("support.case_merge_emails.show.links.this_case", case_ref: @to_case.ref), support_case_path(@to_case), class: "govuk-link"  %>
      </li>
      <li>
        <%= link_to I18n.t("support.case_merge_emails.show.links.notifications"), "/support/emails", class: "govuk-link"  %>
      </li>
      <li>
        <%= link_to I18n.t("support.case_merge_emails.show.links.my_cases"), support_cases_path, class: "govuk-link"  %>
      </li>
    </ul>
  </div>
</div>
