<%= content_for :title, I18n.t("cms.signin.page_title") %>

<h1 class="govuk-heading-xl">
  <%= I18n.t("cms.signin.page_title")%>
</h1>

<p class="govuk-body">
    <%= I18n.t("cms.signin.overview_purpose") %>
</p>

<ul class="govuk-list govuk-list--bullet">
  <% I18n.t("cms.signin.overview_purpose_list").each do |list_item| %>
    <li><%= list_item %></li>
  <% end %>
</ul>

<p class="govuk-body">
  <%= I18n.t("cms.signin.contact_line_manager") %>
</p>

<%= button_to @start_now_button_route,
    :method => @start_now_button_method,
    class: "govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" do %>
  <%= I18n.t("cms.signin.sign_in") %>
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
<% end %>

