<div
  id="<%= container_id %>"
  data-component="autocomplete"
  data-autocomplete-label-text="<%= label_text %>"
  data-autocomplete-element-id="<%= element_id %>"
  data-autocomplete-element-name="<%= element_name %>"
  data-autocomplete-template-suggestion="<%= template_suggestion %>"
  data-autocomplete-template-input="<%= value_field %>"
  data-autocomplete-query-url="<%= query_url %>">
</div>

<noscript>
  <%= yield %>
</noscript>