<div
  id="<%= container_id %>"
  data-component="autocomplete"
  data-autocomplete-label-text="<%= label_text %>"
  data-autocomplete-label-class="<%= defined?(label_class) ? label_class : "" %>"
  data-autocomplete-element-id="<%= element_id %>"
  data-autocomplete-element-name="<%= element_name %>"
  data-autocomplete-template-field="<%= defined?(template_field) ? template_field : nil %>"
  data-autocomplete-templates="<%= defined?(templates) ? templates.to_json : nil %>"
  data-autocomplete-template-suggestion="<%= defined?(template_suggestion) ? template_suggestion : nil %>"
  data-autocomplete-template-input="<%= value_field %>"
  data-autocomplete-default-value="<%= defined?(default_value) ? default_value : nil %>"
  data-autocomplete-hidden-fields="<%= defined?(hidden_fields) ? hidden_fields.to_json : nil %>"
  data-autocomplete-query-url="<%= query_url %>">

  <% if defined?(hidden_fields) %>
    <% hidden_fields.each do |field_name, key_or_key_and_default| %>
      <input type="hidden" name="<%= field_name %>" value="<%= Array.wrap(key_or_key_and_default)[1] %>">
    <% end %>
  <% end %>
</div>
<noscript>
  <%= yield %>
</noscript>
