<%= content_for :title, I18n.t("faf.name.title") %>

<%= form.hidden_field :dsi, value: form.object.dsi %>
<%= form.hidden_field :group, value: form.object.group %>
<%= form.hidden_field :org_id, value: form.object.org_id %>

<span class="govuk-caption-l">
  <%= I18n.t("faf.name.subtitle") %>
</span>

<h1 class="govuk-heading-l">
  <%= I18n.t("faf.name.title") %>
</h1>

<%= form.govuk_text_field :first_name, autofocus: true, label: { text: I18n.t("faf.name.first_name.label") } %>
<%= form.govuk_text_field :last_name, label: { text: I18n.t("faf.name.last_name.label") } %>
