<%= content_for :title, I18n.t("faf.check_answers.header") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"><%= I18n.t("faf.check_answers.header") %></h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.name") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.user.full_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @current_user.guest? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_name_path(@framework_request), class: "govuk-link", id: "edit-name", "aria-label": I18n.t("faf.check_answers.aria.change_name") %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.email") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.user.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if current_user.guest? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_email_path(@framework_request), class: "govuk-link", id: "edit-email", "aria-label": I18n.t("faf.check_answers.aria.change_email")  %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.school") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.org_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if current_user.guest? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_search_for_organisation_path(@framework_request), class: "govuk-link", id: "edit-school", "aria-label": I18n.t("faf.check_answers.aria.change_school")  %>
          <% elsif !current_user.single_org? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_select_organisation_path(@framework_request), class: "govuk-link", id: "edit-school", "aria-label": I18n.t("faf.check_answers.aria.change_school")  %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.school_type") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @framework_request.group %>
            <%= @framework_request.group_type %>
          <% else %>
            <%= I18n.t("faf.check_answers.details.single") %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if current_user.guest? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_organisation_type_path(@framework_request), class: "govuk-link", id: "edit-school-type", "aria-label": I18n.t("faf.check_answers.aria.change_school_type")  %>
          <% end %>
        </dd>
      </div>
      <% if @framework_request.multischool? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("faf.check_answers.details.schools_buying_for") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= I18n.t("faf.check_answers.details.school_number", selected: @framework_request.school_urns.count, total: @framework_request.available_schools.length ) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_school_picker_path(@framework_request, framework_support_form: { source: :change_link }), class: "govuk-link", id: "edit-school-picker", "aria-label": I18n.t("faf.check_answers.aria.change_school_picker")  %>
          </dd>
        </div>
      <% end %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.category") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.category&.title %>
          <% if @framework_request.category&.other? %>
            <br><br>
            <%= @framework_request.category_other %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_category_path(@framework_request), class: "govuk-link", id: "edit-category", "aria-label": I18n.t("faf.check_answers.aria.change_category")  %>
        </dd>
      </div>
      <% if @framework_request.contract_length.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("faf.check_answers.details.contract_length") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @framework_request.contract_length %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_contract_length_path(@framework_request), class: "govuk-link", id: "edit-contract-length", "aria-label": I18n.t("faf.check_answers.aria.change_contract_length")  %>
          </dd>
        </div>
      <% end %>
      <% if @framework_request.flow.energy_or_services? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("faf.check_answers.details.contract_start_date") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @framework_request.contract_start_date || I18n.t("faf.check_answers.not_known") %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_contract_start_date_path(@framework_request), class: "govuk-link", id: "edit-contract-start-date", "aria-label": I18n.t("faf.check_answers.aria.change_contract_start_date")  %>
          </dd>
        </div>
      <% end %>
      <% if @framework_request.same_supplier_used.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("faf.check_answers.details.same_supplier_used") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @framework_request.same_supplier_used %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_same_supplier_path(@framework_request, framework_support_form: { source: :change_link }), class: "govuk-link", id: "edit-same-supplier", "aria-label": I18n.t("faf.check_answers.aria.change_same_supplier_used")  %>
          </dd>
        </div>
      <% end %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("request.label.procurement_amount") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.procurement_amount %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% unless @framework_request.submitted? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_procurement_amount_path(@framework_request), class: "govuk-link", id: "edit-procurement-amount", "aria-label": I18n.t("faf.check_answers.aria.change_procurement_amount")  %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.problem") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.message_body %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_message_path(@framework_request), class: "govuk-link", id: "edit-message", "aria-label": I18n.t("faf.check_answers.aria.change_message")  %>
        </dd>
      </div>
      <% if @framework_request.has_bills? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("faf.check_answers.details.bills_attached") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @framework_request.bill_count %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <% unless @framework_request.submitted? %>
              <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_bill_uploads_path(@framework_request, framework_support_form: { source: :change_link }), class: "govuk-link", id: "edit-bill-uploads", "aria-label": I18n.t("faf.check_answers.aria.change_bills_attached")  %>
            <% end %>
          </dd>
        </div>
      <% end %>
      <% if @framework_request.has_documents? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("faf.check_answers.details.documents_attached") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @framework_request.document_count %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <% unless @framework_request.submitted? %>
              <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_document_uploads_path(@framework_request, framework_support_form: { source: :change_link }), class: "govuk-link", id: "edit-document-uploads", "aria-label": I18n.t("faf.check_answers.aria.change_documents_attached")  %>
            <% end %>
          </dd>
        </div>
      <% end %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("request.label.special_requirements") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.special_requirements %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% unless @framework_request.submitted? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_special_requirements_path(@framework_request), class: "govuk-link", id: "edit-special-requirements", "aria-label": I18n.t("faf.check_answers.aria.change_special_requirements")  %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.origin") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.origin %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_origin_path(@framework_request), class: "govuk-link", id: "edit-origin", "aria-label": I18n.t("faf.check_answers.aria.change_origin")  %>
        </dd>
      </div>
    </dl>

    <p class="govuk-body">
      <%= I18n.t("faf.check_answers.response_time") %>
    </p>

    <%= button_to I18n.t("faf.check_answers.button.send"), framework_request_submission_path(@framework_request), class: "govuk-button", method: :patch, data: { disable_with: "Submitting..." } %>

  </div>
</div>

<% if Rails.env.development? %>
  <%= render "framework_requests/debug" %>
<% end %>
