<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <button class="govuk-button govuk-button--secondary pull-right" data-panel="filter-all-cases" data-component="toggle-panel-visibility">
      <%= I18n.t("support.case.filter.filter_results") %>
    </button>
    <h1 class="govuk-heading-l">
      <%= I18n.t("support.case.search.results") %>
    </h1>
    <p class="govuk-body"><%= I18n.t("support.case.search.count", count: @results.total_entries, term: @form.search_term) %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "support/cases/forms/filter_cases_form",
               form: @form,
               scope: :search_case_form,
               filter_url: support_case_search_index_path,
               clear_url: new_support_case_search_path,
               tab: "all-cases",
               search_term: @form.search_term %>

    <% if @results.none? %>
      <%= render partial: "support/cases/not_found" %>
    <% else %>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            <%= I18n.t("support.case.label.case") %>
          </th>
          <th class="govuk-table__header" scope="col">
            <%= I18n.t("support.case.label.organisation") %>
          </th>
          <th class="govuk-table__header" scope="col">
            <%= I18n.t("support.case.label.sub_category") %>
          </th>
          <th class="govuk-table__header" scope="col">
            <%= I18n.t("support.case.label.status") %>
          </th>
          <th class="govuk-table__header" scope="col">
            <%= I18n.t("support.case.label.assigned_to") %>
          </th>
          <th class="govuk-table__header" scope="col">
            <%= I18n.t("support.case.label.last_updated") %>
          </th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <% @results.each do |result| %>
          <%= render "support/cases/searches/result", result: result %>
        <% end %>
        </tbody>
      </table>
      <%= render "components/pagination", records: @results, page_param_name: 'my_cases_page', pagination_params: { anchor: "my-cases" } %>
    <% end %>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= link_to I18n.t("support.case.search.button"), new_support_case_search_path, class: "govuk-button govuk-!-margin-top-4", "role" => "button" %>
  </div>
</div>

