<%= search_form_for @search do |form| %>

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="search_ref_or_organisation_urn_or_organisation_name_cont">
        <%= I18n.t("support.case.label.search.heading") %>
      </label>
    </h1>

    <div id="search_ref_or_organisation_urn_or_organisation_name_cont-hint" class="govuk-hint">
      <%= I18n.t("support.case.label.search.hint") %>
    </div>

    <%= form.search_field :ref_or_organisation_urn_or_organisation_name_cont, class: "govuk-input govuk-input--width-20" %>
  </div>

  <%= form.submit I18n.t("support.generic.search"), class: "govuk-button", role: "button" %>
<% end %>
