<%= content_for :title, I18n.t("faf.contact_info.title") %>

<span class="govuk-caption-l"><%= I18n.t("faf.contact_info.caption") %></span>
<h1 class="govuk-heading-l"><%= I18n.t("faf.contact_info.heading") %></h1>
<p class="govuk-body"><%= I18n.t("faf.contact_info.body.if_incorrect") %></p>

<ul class="govuk-list govuk-list--bullet">
  <li><%= I18n.t("faf.contact_info.body.login_correct_account") %></li>
  <li><%= link_to I18n.t("faf.contact_info.body.amend_details"), dsi_url(subdomain: "profile", path: "/edit-details"), class: "govuk-link" %></li>
</ul>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= I18n.t("faf.contact_info.body.description_list.name") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= current_user.full_name if current_user %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= I18n.t("faf.contact_info.body.description_list.email") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= current_user.email if current_user %>
    </dd>
  </div>
</dl>

<%= form.hidden_field :dsi %>
<%= form.submit I18n.t("faf.contact_info.button.continue"), class: "govuk-button", role: "button" %>
