<%= content_for :title, I18n.t("request.procurement_amount.heading") %>

<%= render "framework_requests/common_form_fields", form: form %>

<span class="govuk-caption-l"><%= I18n.t("request.procurement_amount.caption") %></span>
<h1 class="govuk-heading-l"><%= I18n.t("request.procurement_amount.heading") %></h1>
<% for content in I18n.t("request.procurement_amount.helper_content") do %>
  <p class="govuk-hint"><%= content %></p>
<% end %>

<%= form.govuk_text_field :procurement_amount, width: 5, label: nil, prefix_text: "£" %>
