<h1 class="govuk-heading-xl"><%= I18n.t("support.case_contact_details.header") %></h1>

<%= form_with model: @case_contact_details_form, scope: :case_contact_details_form, url: portal_case_contact_details_path(@current_case), method: :patch do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.govuk_text_field :first_name, autofocus: true, width: 'one-half', label: { text: I18n.t("support.case_contact_details.label.first_name") } %>
  <%= form.govuk_text_field :last_name, width: 'one-half', label: { text: I18n.t("support.case_contact_details.label.last_name") } %>
  <%= form.govuk_text_field :phone_number, width: 'one-quarter', label: { text: I18n.t("support.case_contact_details.label.phone") } %>
  <%= form.govuk_text_field :extension_number, width: 'one-quarter', label: { text: I18n.t("support.case_contact_details.label.extension_number") } %>
  <%= form.govuk_text_field :email, width: 'one-half', label: { text: I18n.t("support.case_contact_details.label.email") } %>
  
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Roles</legend>

    <div class="govuk-form-group">
      <%= form.govuk_check_box :lead_role, :true, checked: true, disabled: true, label: { text: "Lead" } %>
    </div>
    
    <div class="govuk-form-group">
      <%= form.govuk_check_box :is_evaluator, :true, :false, multiple: false,  checked: @current_case.is_evaluator, label: { text: "Evaluator" } %>
    </div>

            
  <%= form.submit I18n.t("support.case_contact_details.submit"), class: "govuk-button" %>
  <%= link_to 'Cancel changes', support_case_path(@current_case), class: 'govuk-button govuk-button--secondary' %>
<% end %>

