<h2 class="govuk-heading-l">Details</h2>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Framework Provider</dt>
    <dd class="govuk-summary-list__value"><%= link_to @evaluation.framework_provider_name, frameworks_provider_path(@evaluation.provider, back_to: current_url_b64(:framework)), class: "govuk-link", "data-turbo" => false %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Framework Name</dt>
    <dd class="govuk-summary-list__value"><%= link_to @evaluation.framework_reference_and_name, frameworks_framework_path(@evaluation.framework, back_to: current_url_b64(:framework)), class: "govuk-link", "data-turbo" => false %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact</dt>
    <dd class="govuk-summary-list__value">
      <% if @evaluation.contact %>
        <%= link_to @evaluation.contact_name, frameworks_provider_contact_path(@evaluation.contact, back_to: current_url_b64(:framework)), class: "govuk-link", "data-turbo" => false %>
      <% end %>
    </dd>
    <dd class="govuk-summary-list__actions"><%= link_to "Change", "#", class: "govuk-link", "data-turbo" => false %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact Email</dt>
    <dd class="govuk-summary-list__value"><%= @evaluation.contact_email %></dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Contact Phone</dt>
    <dd class="govuk-summary-list__value"><%= @evaluation.contact_phone %></dd>
  </div>
</dl>
