<%= content_for :title, @step.title %>

<%# TODO: A heading may be required here to satisfy accessibility assessment %>
<%= form_for @answer, as: :answer, url: journey_step_answers_path(@journey, @step), method: "post" do |f| %>
  <%= f.govuk_error_summary %>
  <%= yield f %>
  <div class="govuk-button-group">
    <%= f.submit @step.primary_call_to_action_text, class: "govuk-button" %>
    <%= link_to I18n.t("step.button.skip"), journey_step_path(@journey, @step), method: :put, class: "govuk-button govuk-button--secondary", role: "button" %>
  </div>
<% end %>
