<%= render layout: layout do |f| %>
  <%= f.govuk_check_boxes_fieldset :response, legend: { text: @step.title, size: "l" } do %>
    <% if @step.help_text.present? %>
      <span class="govuk-hint">
        <%= @step.help_text_html %>
      </span>
    <% end %>

    <% @step.options.each do |option| %>
      <% machine_value = machine_readable_option(string: option["value"]) %>
      <% if option.fetch("separated_by_or", nil) == true %>
        <div class="govuk-radios__divider">or</div>
      <% end %>

      <% f.object = monkey_patch_form_object_with_further_information_field(form_object: f.object, associated_choice: machine_value) %>

      <% if option["display_further_information"] == true || option["display_further_information"] == "single" %>
        <%= f.govuk_check_box :response, option["value"], label: { text: option["value"] } do %>
          <%= f.govuk_text_field "#{machine_value}_further_information",
            label: { text: option.fetch("further_information_help_text", "Optional further information"), hidden: !option.keys.include?("further_information_help_text") } %>
        <% end %>
      <% elsif option["display_further_information"] == "long" %>
        <%= f.govuk_check_box :response, option["value"], label: { text: option["value"] } do %>
          <%= f.govuk_text_area "#{machine_value}_further_information", rows: 6,
            label: { text: option.fetch("further_information_help_text", "Optional further information"), hidden: !option.keys.include?("further_information_help_text") } %>
        <% end %>
      <% else %>
        <%= f.govuk_check_box :response, option["value"], label: { text: option["value"] } %>
      <% end %>
    <% end %>
  <% end %>

  <% if @step.skippable? %>
    <div class="govuk-radios__divider">or</div>
    <div class="govuk-form-group">
      <%= f.button @step.skip_call_to_action_text, type: "submit", name: "skip", value: "true", class: "govuk-button govuk-button--secondary" %>
    </div>
  <% end %>
<% end %>
