<%= form_with model: @document_uploader,  scope: :document_uploader, url: support_case_upload_contract_handover_path,
          html: { "data-controller" => "case-files",  "data-case-files-error-summary-outlet"=>".govuk-error-summary" } do |form| %>

    <h2 class="govuk-heading-m"><%= I18n.t("support.cases.upload_documents.choose_file_title") %></h2>

    <div class="govuk-error-summary govuk-!-display-none"
      data-controller="error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title" data-error-summary-target="title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body" data-error-summary-target="body" aria-live="polite">
        </div>
      </div>
    </div>

    <%= form.govuk_error_summary %>  
 
    <span class="govuk-button govuk-button--secondary" role="button"
      data-case-files-target="btnDisplayFileDialog">
      <%= I18n.t("support.cases.upload_documents.button.choose_file") %>
    </span>

    <%= render "uploaded_documents" %>

    <div class="govuk-form-group govuk-!-margin-top-7">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><%= I18n.t("support.cases.upload_documents.file_upload_confirmation") %></legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <%= form.radio_button :has_uploaded_contract_handovers, true, checked: @current_case.has_uploaded_contract_handovers == true, class: "govuk-radios__input" %>
            <%= form.label :has_uploaded_contract_handovers, "Yes, I have uploaded all documents", value: true, class: "govuk-label govuk-radios__label" %>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button :has_uploaded_contract_handovers, false, checked: @current_case.has_uploaded_contract_handovers == false, class: "govuk-radios__input" %>
            <%= form.label :has_uploaded_contract_handovers, "No", value: false, class: "govuk-label govuk-radios__label" %>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-button-group flex-align-center">
        <%= form.submit I18n.t("generic.button.next"), class: "govuk-button", role: "button", "data-action" => "case-files#submit", data: { disable_with: "Uploading..." } %>
        <%= link_to I18n.t("generic.button.cancel"), @back_url, class: "govuk-link govuk-link--no-visited-state" %>
    </div>

    <%= form.govuk_file_field :files, multiple: true, include_hidden: false, class: "govuk-!-display-none", "data-case-files-target" => "filesField", form_group: { class: "govuk-!-display-none" } %>
    <%= form.hidden_field :edit_form, value: @uploaded_handover_packs.any? ? true: false %>
<% end %>