<%= turbo_frame_tag "request-details-frame" do %>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="request-details">
    <h2 class="govuk-heading-l">
      <%= I18n.t("support.case.header.request_details") %>
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.received_at") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= short_date_format(@current_case.received_at) %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <% if @current_case.created_by.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case.label.created_by") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @current_case.created_by.email %>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.user_selected_category") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @current_case.user_selected_category || I18n.t("support.case.label.unavailable_category") %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.auto_assigned_category") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @current_case.detected_category&.title || I18n.t("support.case.label.unassigned_category") %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <% if @current_case.query.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case.label.query") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @current_case.query.title %><%= " - #{@current_case.other_query}" if @current_case.other_query.present? %>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_amount") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @current_case.procurement_amount %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.special_requirements") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @current_case.special_requirements %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.initial_problem_description") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= simple_format(@current_case.initial_request_text, class: "govuk-body") %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.attached_specification") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% unless @current_case.documents.for_rendering.any? %>
            <%= I18n.t("support.case.label.attached_specification_none") %>
          <% end %>

          <% @current_case.documents.for_rendering.each.with_index(1) do |document, i| %>
            <%= link_to "specification-#{i} #{I18n.t("support.generic.link.opens_in_new_tab")}",
                  support_case_document_path(@current_case, document),
                  class: "govuk-link", target: "_blank", rel: "noreferrer noopener" %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <% if @request&.school_urns.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case.label.participating_schools") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @request.school_urns.count %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to I18n.t("support.generic.view"), support_case_request_participating_schools_path, class: "govuk-link" %>
          </dd>
        </div>
      <% end %>

      <% if @current_case.case_attachments.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case.label.request_details.uploaded_files") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <% @current_case.case_attachments.pluck(:custom_name).each do |custom_name| %>
                <li><%= custom_name %></li>
              <% end %>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to I18n.t("support.generic.view"), support_case_path(@current_case, anchor: "case-files"), target: "_top", class: "govuk-link" %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
<% end %>
