<tr id="<%= dom_id(notification) %>" class="govuk-table__row notification <%= (defined?(appear) && appear) ? "appear" : "" %> <%= notification.read ? "read" : "unread" %>">
  <td class="govuk-table__cell"><span class="notification-unread-icon"></span></td>

  <td scope="row" class="govuk-table__cell">
    <%= render "support/notifications/topics/#{notification.topic}", notification: %>
  </td>

  <td class="govuk-table__cell">
    <span title="<%= notification.received_at.strftime("%d %B %Y %H:%M") %>">
      <%= time_ago_in_words(notification.received_at) %> ago
    </span>
  </td>

  <% if cec_portal? || (support_portal? && (current_agent.roles & %w[cec cec_admin]).any?) %>
    <td class="govuk-table__cell">
      <% if notification.read %>
        <%= link_to(cec_notification_read_path(notification, mark_as: "unread"), data: { turbo_method: :post }, class: "govuk-link--no-visited-state", title: "Changes the status of the notification to unread") do %>
          Mark as unread
        <% end %>
      <% else %>
        <%= link_to(cec_notification_read_path(notification, mark_as: "read"), data: { turbo_method: :post }, class: "govuk-link--no-visited-state", title: "Changes the status of the notification to read") do %>
          Mark as read
        <% end %>
      <% end %>
    </td>
  <% else %>
    <td class="govuk-table__cell">
      <% if notification.read %>
        <%= link_to(support_notification_read_path(notification, mark_as: "unread"), data: { turbo_method: :post }, class: "govuk-link--no-visited-state", title: "Changes the status of the notification to unread") do %>
          Mark as unread
        <% end %>
      <% else %>
        <%= link_to(support_notification_read_path(notification, mark_as: "read"), data: { turbo_method: :post }, class: "govuk-link--no-visited-state", title: "Changes the status of the notification to read") do %>
          Mark as read
        <% end %>
      <% end %>
    </td>
  <% end %>
</tr>
