<tr id="<%= dom_id(notification) %>" class="govuk-table__row notification <%= (defined?(appear) && appear) ? "appear" : "" %> <%= notification.read ? "read" : "unread" %>">
  <td scope="row" class="govuk-table__cell">
    <%= render "support/notifications/topics/#{notification.topic}", notification: %>
  </td>

  <td class="govuk-table__cell"><%= time_ago_in_words(notification.received_at) %> ago</td>

  <td class="govuk-table__cell">
    <div class="notification-actions">
      <% if notification.read %>
        Read
      <% else %>
        <%= link_to(support_notification_read_path(notification), data: { turbo_method: :post }, class: "govuk-link--no-visited-state") do %>
          Mark as read
        <% end %>

        <span class="notification-unread-icon"></span>
      <% end %>
    </div>
  </td>
</tr>
