<% content_for :title, "Buy for your school | Notifications" %>

<%= turbo_stream_from current_agent, "notifications" %>

<div class="notifications-header">
  <h1 class="govuk-heading-l">Notifications</h1>
  <div><%= link_to "Mark all as read", support_notifications_mark_all_read_path, method: :post, class: "govuk-link govuk-link--no-visited-state" %></div>
</div>

<%= turbo_frame_tag "notifications-table" do %>
  <table class="govuk-table">
    <caption class="govuk-!-display-none">Notifications</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header notification-icon-header"></th>
        <th scope="col" class="govuk-table__header">Notification</th>
        <th scope="col" class="govuk-table__header notification-fixed-header">Received</th>
        <th scope="col" class="govuk-table__header notification-fixed-header">Action</th>
      </tr>
    </thead>
    <tbody id="notifications" class="govuk-table__body">
      <%= render partial: "support/notifications/notification", collection: @notifications, as: :notification %>
    </tbody>
  </table>
<% end %>

<%= render "components/pagination", records: @notifications %>
