<table class="govuk-table email-list">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"><%= I18n.t("support.emails.index.table.sender") %></th>
      <th scope="col" class="govuk-table__header"><%= I18n.t("support.emails.index.table.subject") %></th>
      <th scope="col" class="govuk-table__header"><%= I18n.t("support.emails.index.table.case") %></th>
      <th scope="col" class="govuk-table__header"><%= I18n.t("support.emails.index.table.sent_at") %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% if emails.count.zero? %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-text-align-centre" colspan="4">No Emails</td>
      </tr>
    <% end %>

    <% emails.each do |email| %>
      <tr class="govuk-table__row email-row <%= email.is_read ? "read" : "unread" %>">
        <td class="govuk-table__cell email-sent-by">
          <span title="<%= email.sent_by_email %>">
            <%= email.sent_by_name %>
          </span>
        </td>
        <td class="govuk-table__cell email-subject">
          <%= link_to email.subject, support_email_path(email), class: "govuk-link", target: "_blank", rel: "noopener noreferrer" %>
        </td>
        <td class="govuk-table__cell email-case-ref">
          <small>
            <% if email.case.present? %>
              <%= link_to email.case_reference, support_case_path(email.case), title: email.case_org_name, class: "govuk-link" %>
            <% end %>
          </small>
        </td>
        <td class="govuk-table__cell email-sent-at"><small><%= email.sent_at_formatted %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>