<h1 class="govuk-heading-l flex-align-center">
  <%= I18n.t("support.emails.show.header") %>

  <% unless @email.is_read? %>
    <%= render "support/cases/emails/unread_badge" %>
  <% end %>
</h1>

<% if @email.case.present? %>
  <h2 class="govuk-heading-m">
    <%= I18n.t("support.emails.show.case_id") %>: <%= @email.case.ref %>
  </h2>
<% end %>

<%= button_to I18n.t("support.emails.button.#{@email.is_read? ? "mark_as_unread" : "mark_as_read"}"),
      support_email_read_status_path(@email, status: @email.is_read? ? "unread" : "read"),
      method: :patch,
      class: "govuk-button govuk-button--secondary" %>

<div class="email-preview govuk-body">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row email-sent-by">
      <dt class="govuk-summary-list__key"><%= I18n.t("support.emails.show.sender") %></dt>
      <dd class="govuk-summary-list__value">
        <%= @email.sent_by_name %> &lt;<%= @email.sent_by_email %>&gt;
      </dd>
    </div>

    <div class="govuk-summary-list__row email-recipients">
      <dt class="govuk-summary-list__key"><%= I18n.t("support.emails.show.recipients") %></dt>
      <dd class="govuk-summary-list__value">
        <% Array(@email.recipients).map do |recipient| %>
          <%= recipient["name"] %> &lt;<%= recipient["address"]%>&gt;
        <% end.join("br />").html_safe %>
      </dd>
    </div>

    <div class="govuk-summary-list__row email-sent-at">
      <dt class="govuk-summary-list__key"><%= I18n.t("support.emails.show.sent_at") %></dt>
      <dd class="govuk-summary-list__value"><%= time_ago_in_words @email.sent_at %> ago (<%= @email.sent_at_formatted %>)</dd>
    </div>

    <div class="govuk-summary-list__row email-subject">
      <dt class="govuk-summary-list__key"><%= I18n.t("support.emails.show.subject") %></dt>
      <dd class="govuk-summary-list__value"><%= @email.subject %></dd>
    </div>

    <%= render "attachments", email: @email %>
  </dl>

  <div class="email-preview-body">
    <%= @email.body_with_inline_attachments(self).html_safe %>
  </div>
</div>
