<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    <%= I18n.t("support.save_attachments.success.header") %>
  </h1>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header"><%= pluralize(@attachments.count, I18n.t("support.save_attachments.success.table.header.attachment")) %></th>
      <th class="govuk-table__header"><%= I18n.t("support.save_attachments.success.table.header.description") %></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @attachments.each do |attachment| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= attachment.name %></th>
        <td class="govuk-table__cell"><%= attachment.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="govuk-body-m">
  <p class="govuk-heading-m"><%= I18n.t("support.save_attachments.success.actions.header") %></p>

  <ul class="govuk-list govuk-list">
    <li><%= link_to I18n.t("support.save_attachments.success.actions.go_back_to_email"), support_case_message_thread_path(id: @email.outlook_conversation_id, case_id: @email.case_id) %></li>
    <li><%= link_to I18n.t("support.save_attachments.success.actions.view_attachments"), support_case_path(@email.case, anchor: "case-attachments") %></li>
  </ul>
</div>
