<%= content_for :title, "CMS Management | #{I18n.t("support.management.category_detection.header")}" %>

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to I18n.t("support.management.base.header"), support_management_path, class: "govuk-breadcrumbs__link" %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to I18n.t("support.management.category_detection.header"), new_support_management_category_detection_path, class: "govuk-breadcrumbs__link" %>
    </li>
  </ol>
</nav>

<h2 class="govuk-heading-l">Category Detection Statistics</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-text-align-centre">Attempted</th>
      <th scope="col" class="govuk-table__header govuk-!-text-align-centre">Detected</th>
      <th scope="col" class="govuk-table__header govuk-!-text-align-centre">Categories Unchanged</th>
      <th scope="col" class="govuk-table__header govuk-!-text-align-centre">Category Accuracy</th>
      <th scope="col" class="govuk-table__header govuk-!-text-align-centre">Towers Unchanged</th>
      <th scope="col" class="govuk-table__header govuk-!-text-align-centre">Tower Accuracy</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-text-align-centre"><%= @stats.attempted %></td>
      <td class="govuk-table__cell govuk-!-text-align-centre"><%= @stats.detected_cats %></td>
      <td class="govuk-table__cell govuk-!-text-align-centre"><%= @stats.unchanged_cats %></td>
      <td class="govuk-table__cell govuk-!-text-align-centre"><%= @stats.category_accuracy %>%</td>
      <td class="govuk-table__cell govuk-!-text-align-centre"><%= @stats.unchanged_towers %></td>
      <td class="govuk-table__cell govuk-!-text-align-centre"><%= @stats.tower_accuracy %>%</td>
    </tr>
  </tbody>
</table>

<div class="govuk-!-margin-top-5"></div>
<%= form_with model: @category_detection_form, scope: :category_detection, url: support_management_category_detection_path, method: :post do |form| %>
  <%= form.govuk_text_area :request_text,
    class: "govuk-textarea",
    rows: 5,
    label: { text: "Manually detect categories", size: "l" },
    hint: { text: "Enter an example request for text to see which category would be detected" }
  %>
  <%= form.govuk_check_boxes_fieldset :simulate_energy_request, multiple: false, legend: nil do %>
    <%= form.govuk_check_box :simulate_energy_request, true, false, multiple: false, link_errors: true, label: { text: "Simulate energy request" } %>
  <% end %>
  <%= form.submit I18n.t("support.management.category_detection.submit"), class: "govuk-button" %>
<% end %>

<% if @category_results.present? %>
  <table class="govuk-table" id="category-results">
    <caption class="govuk-table__caption govuk-table__caption--l"><%= I18n.t("support.management.category_detection.results.header") %></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><%= I18n.t("support.management.category_detection.results.category") %></th>
        <th scope="col" class="govuk-table__header"><%= I18n.t("support.management.category_detection.results.tower") %></th>
        <th scope="col" class="govuk-table__header"><%= I18n.t("support.management.category_detection.results.similarity") %></th>
        <th scope="col" class="govuk-table__header"><%= I18n.t("support.management.category_detection.results.matching_words") %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @category_results.each_with_index do |result, i| %>
        <tr class="govuk-table__row <%= ("top-category-detection-result" if i.zero?) %>">
          <th scope="row" class="govuk-table__header"><%= result.category %></th>
          <td class="govuk-table__cell"><%= result.tower %></td>
          <td class="govuk-table__cell"><%= result.similarity %></td>
          <td class="govuk-table__cell"><%= result.matching_words %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
