<% if @support_request&.persisted? %>
  <%= link_to I18n.t("generic.button.back"), :back, class: "govuk-back-link" %>
<% elsif @support_form.step == 1 %>
  <%= link_to I18n.t("generic.button.back"), profile_path, class: "govuk-back-link" %>
<% else %>
  <%= form_with model: @support_form, scope: :support_form, url: path, method: verb, namespace: :go_back do |form| %>
    <%= form.hidden_field :step, value: @support_form.step %>
    <%= form.hidden_field :direction, value: :backwards %>
    <%= hidden_fields form_object: form %>

    <%= button_tag I18n.t("generic.button.back"), class: "button-link govuk-back-link" %>
  <% end %>
<% end %>

<% if Rails.env.development? %>
  <%= debug @support_request&.attributes %>
  <%= debug @support_form.step %>
  <%= debug @support_form.to_h %>
<% end %>

<%= form_with model: @support_form, scope: :support_form, url: path, method: verb  do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.hidden_field :step, value: @support_form.step %>
  <%= form.hidden_field :direction, value: :forwards %>
  <%= render "support_requests/_form/step_#{@support_form.step}", form: form %>

  <%= form.submit I18n.t("generic.button.next"), class: "govuk-button", role: "button" %>
<% end %>

<p class="govuk-body">
  <% if @support_request&.persisted? %>
    <%= link_to I18n.t("generic.button.cancel"), support_request_path(@support_request), class: "govuk-link" %>
  <% else %>
    <%= link_to I18n.t("generic.button.cancel"), dashboard_path, class: "govuk-link" %>
  <% end %>
</p>

