<%= form_with model: @support_form_wizard, as: :support_form_wizard, url: url do |form| %>

  <%= render "support_requests/_form/step_1", form: form %>
  <%= render "support_requests/_form/step_2", form: form if @support_form_wizard.step > 1 %>
  <%= render "support_requests/_form/step_3", form: form if @support_form_wizard.step > 2 %>

  <%= form.hidden_field :step, value: form.object.step %>

  <%= form.submit I18n.t("generic.button.next"), class: "govuk-button", role: "button" %>
<% end %>

<p class="govuk-body">
  <%= link_to I18n.t("generic.button.exit_without_save"), dashboard_path %>
</p>
