<%= form_for @support_form, as: :support_form, url: url, method: method  do |form| %>

  <%= render "support_requests/_form/step_#{@support_form.step}", form: form %>

  <%= form.hidden_field :step, value: @support_form.step %>
  <%= form.submit I18n.t("generic.button.next"), class: "govuk-button", role: "button" %>
<% end %>

<p class="govuk-body">
  <%= link_to I18n.t("generic.button.exit_without_save"), dashboard_path, class: "govuk-link" %>
</p>
