<% if @support_request&.persisted? %>
  <%# link_to I18n.t("generic.button.back"), support_request_path(@support_request), class: "govuk-back-link" %>
  <%= link_to I18n.t("generic.button.back"), :back, class: "govuk-back-link" %>
<% else %>
  <%# link_to I18n.t("generic.button.back"), new_support_request_path(step: @support_form.back), class: "govuk-back-link" %>
<% end %>

<%= debug @support_request&.attributes %>

<%= debug @support_form.step %>
<%= debug @support_form.to_h %>

<%= form_with model: @support_form, scope: :support_form, url: path, method: verb  do |form| %>
  <%# form.govuk_error_summary(presenter: presenter_class) %>
  <%= form.govuk_error_summary %>

  <%= form.hidden_field :step, value: @support_form.step %>
  <%= render "support_requests/_form/step_#{@support_form.step}", form: form %>

  <%= form.submit I18n.t("generic.button.next"), class: "govuk-button", role: "button" %>
<% end %>

<p class="govuk-body">
  <% if @support_request&.persisted? %>
    <%= link_to I18n.t("generic.button.cancel"), support_request_path(@support_request), class: "govuk-link" %>
  <% else %>
    <%= link_to I18n.t("generic.button.cancel"), dashboard_path, class: "govuk-link" %>
  <% end %>
</p>

