<%= form.hidden_field :phone_number, value: form.object.phone_number %>

<span class="govuk-caption-l"><%= I18n.t("support_requests.title.specification") %></span>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <%= form.label :specification_ids, I18n.t("support_requests.label.specification"), class: "govuk-label govuk-label--l" %>
  </h1>
  <div id="specification-ids-hint" class="govuk-hint">
    <%= I18n.t("support_requests.hint.specification") %>
  </div>

  <%= form.govuk_radio_button :journey_id, "none",
      label: { text: "My request is not related to an existing specification" },
      checked: true
    %>

  <%# FIXME: wrap current_user in a decorator and connect decorated journeys %>
  <% current_user.journeys.initial.each do |journey| %>
    <%# TODO: reference spec by user-defined journey title %>
    <%= form.govuk_radio_button :journey_id, journey.id,
      label: { text: journey.created_at.strftime("%e %B %Y") },
      hint: { text: journey.category.title }
    %>
  <% end %>
</div>
