<%= form.hidden_field :phone_number, value: form.object.phone_number %>
<%= form.hidden_field :journey_id, value: form.object.journey_id %>
<%= form.hidden_field :category_id, value: form.object.category_id %>

<span class="govuk-caption-l">
  <%= I18n.t("support_requests.title.message") %>
</span>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <%= form.label :message_body, I18n.t("support_requests.label.message"), class: "govuk-label govuk-label--l" %>
  </h1>

  <%= form.govuk_text_area :message_body,
        autofocus: true,
        class: "govuk-textarea",
        rows: 5,
        label: { text: "Message" },
        hint: { text: I18n.t("support_requests.hint.message") }
        # max_words: 20
      %>

</div>
