<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key"><%= step.title %></dt>
  <% if step.answer %>
    <dd class="govuk-summary-list__value"><%= NumberAnswerPresenter.new(step.answer).response %></dd>
    <dd class="govuk-summary-list__actions"><%= link_to I18n.t("generic.button.change_answer"), edit_journey_step_path(@journey, step), class: "govuk-link" %></dd>
  <% else %>
    <dd class="govuk-summary-list__value"><%= "-" %></dd>
    <dd class="govuk-summary-list__actions"><%= link_to I18n.t("generic.button.change_answer"), journey_step_path(@journey, step), class: "govuk-link", id: "number" %></dd>
  <% end %>
</div>
