<%= content_for :title, @current_task.title %>

<h1 class="govuk-heading-xl"><%= @task.title %></h1>

<dl class="govuk-summary-list">
  <% @steps.each do |step| %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= step.title %>
      </dt>
      <%= render "question", step: step if step.question? %>
      <%= render "statement", step: step if step.statement? %>
    </div>

  <% end %>
</dl>


<% if @current_task.next_incomplete_step_id %>
  <%= link_to I18n.t("task.button.continue"), journey_step_path(@journey, @current_task.next_incomplete_step_id), class: "govuk-button", role: "button" %>
<% elsif @next_task&.next_incomplete_step_id %>
  <%= link_to I18n.t("task.button.next"), journey_step_path(@journey, @next_task.next_incomplete_step_id), class: "govuk-button", role: "button" %>
<% end %>

<br />
<%= link_to I18n.t("task.button.back"), journey_path(@journey), class: "govuk-back-link" %>
