<%= content_for :title, @task.title %>
<%= link_to I18n.t("generic.button.back"), journey_path(@journey), class: "govuk-back-link" %>

<h1 class="govuk-heading-xl"><%= @task.title %></h1>

<dl class="govuk-summary-list">
  <% @steps.each do |step| %>
    <% if step.question? %>
      <%= render "#{step.contentful_type}_answer", step: step, answer: step.answer %>
    <% end %>
  <% end %>
</dl>

<% if @task.next_unanswered_step_id %>
  <%= link_to I18n.t("task.button.continue"), journey_step_path(@journey, @task.next_unanswered_step_id), class: "govuk-button" %>
<% end %>

<br />
<%= link_to I18n.t("task.button.back"), journey_path(@journey), class: "govuk-back-link" %>
