<h1 class="govuk-heading-l"><%= I18n.t("support.case_email_content.preview.header") %></h1>

<div class="email-preview govuk-body">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"><%= I18n.t("support.case_email_content.preview.to.label") %></dt>
      <dd class="govuk-summary-list__value"><%= @current_case.email %></dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"><%= I18n.t("support.case_email_content.preview.subject.label") %></dt>
      <dd class="govuk-summary-list__value"><%= @case_email_content_form.email_subject %></dd>
    </div>
  </dl>

  <div class="email-preview-body">
  <% if @template == :basic %>
    <p><%= I18n.t("support.case_email_content.preview.salutation", first_name: @current_case.first_name, last_name: @current_case.last_name) %>
    <p><%= markdown_to_html(@case_email_content_form.email_body) %></p>
    <p><%= markdown_to_html(I18n.t("support.case_email_content.preview.signature_html", agent_name: current_agent.full_name)) %></p>
  <% else %>
    <%= simple_format(@case_email_content_form.email_body) %>
  <% end %>
  </div>
</div>

<%= form_with model: @case_email_content_form, scope: :case_email_content_form, url: support_case_email_path(@current_case), method: :post do |form| %>
  <%= form.hidden_field :email_body, value: form.object.email_body %>
  <%= form.hidden_field :email_subject, value: form.object.email_subject %>
  <%= form.hidden_field :email_template, value: form.object.email_template %>

  <%= form.submit I18n.t("support.case_email_content.preview.submit"), class: "govuk-button", role: "button" %>
<% end %>
