<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Publish timeline for Case <%= @current_case.ref %></h1>
    <% if @timeline.initial_publish? %>
      <%= render "first_time" %>
    <% else %>
      <%= render "changes" %>
    <% end %>

    <div class="govuk-button-group flex-align-center">
      <%= button_to "Publish", support_case_timeline_draft_publish_path(case_id: @current_case, timeline_id: @timeline, draft_id: @draft), class: "govuk-button", data: { disable_with: "Publishing..." } %>
      <%= govuk_link_to "Cancel", @back_url, no_visited_state: true %>
    </div>
  </div>
</div>
