<%= content_for :title, "CMS Management for Cec" %>

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to I18n.t("support.management.base.header"), cec_management_path, class: "govuk-breadcrumbs__link" %>
    </li>
  </ol>
</nav>

<h1 class="govuk-heading-l"><%= I18n.t("support.management.base.header") %></h1>

<h2 class="govuk-heading-m"><%= I18n.t("support.management.base.configuration") %></h2>

<ul>
  <% if policy(:cms_portal).manage_agents? %>
    <li><%= link_to I18n.t("support.management.agents.header"), cec_management_agents_path, class: "govuk-link" %></li>
  <% end %>
</ul>
