<%= content_for :title, I18n.t("energy.electricity_meter.page_title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @organisation_detail.name%>: <%= I18n.t("energy.electricity_meter.title") %></span>
    <h1 class="govuk-heading-l"><%= I18n.t("energy.electricity_meter.list_item.heading") %></h1>
    <table class="govuk-table messages-table">
      <% if @electricity_meter_details.count == 1 %>
        <caption class="govuk-table__caption govuk-table__caption--m">
          <%= I18n.t("energy.electricity_meter.list_item.one_mpan") %>
        </caption>
      <% elsif @electricity_meter_details.count > 1 %>
        <caption class="govuk-table__caption govuk-table__caption--m">
          <%= I18n.t("energy.electricity_meter.list_item.total_mpan", total: @electricity_meter_details.count) %>
        </caption>
      <% end %>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"
            ><%= I18n.t("energy.electricity_meter.list_item.mpan") %></th>
          <th scope="col" class="govuk-table__header"
            ><%= I18n.t("energy.electricity_meter.list_item.is_half_hourly") %></th>
          <th scope="col" class="govuk-table__header"
            ><%= I18n.t("energy.electricity_meter.list_item.electricity_usage") %></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @electricity_meter_details.each do |electricity_meter| %>
          <div class="govuk-summary-list__row">
            <tr>
              <td class="govuk-table__cell"><%= electricity_meter.mpan %></td>
              <td class="govuk-table__cell"><%= electricity_meter.is_half_hourly? ? "Yes": "No" %></td>
              <td class="govuk-table__cell"><%= electricity_meter.electricity_usage %></td>
              <td class="govuk-table__cell govuk-table__cell--numeric no-wrap">
                  <%= link_to safe_join([I18n.t("generic.link.change"),
                      content_tag(:span, "Change details for #{electricity_meter.mpan}", class: "govuk-visually-hidden")]),
                          edit_energy_case_org_electricity_meter_path(id: electricity_meter.id, return_to: 'summary', **@routing_flags),
                           class: "govuk-link govuk-!-margin-right-3" %>
                <% if @electricity_meter_details.count > 1 %>
                  <%= link_to safe_join([I18n.t("generic.button.remove"),
                      content_tag(:span, "Remove details for #{electricity_meter.mpan}", class: "govuk-visually-hidden")]),
                          energy_case_org_electricity_meter_path(id: electricity_meter.id, **@routing_flags),
                          class: "govuk-link", method: :delete %>
                <% end %>
              </td>
            </tr>
          </div>
        <% end %>
      </tbody>
    </table>

    <% if add_another_mpan_enabled? %>
      <%= link_to I18n.t("energy.electricity_meter.list_item.add_another_mpan"),
                  new_energy_case_org_electricity_meter_path(return_to: 'summary', **@routing_flags),
                  class: 'govuk-button govuk-button--secondary' %>
      <br>
    <% end %>
    <div class="govuk-button-group flex-align-center">
      <%= link_to I18n.t("generic.button.save_continue"),
                  energy_case_org_electric_bill_consolidation_path(**@routing_flags),
                  class: 'govuk-button', id: "save_and_continue" %>
      <% unless @routing_flags[:check] == "1" %>
        <%= link_to I18n.t("generic.button.discard_go_to_task_list"), energy_case_tasks_path, class: "govuk-link" %>
      <% end %>
    </div>
  </div>
</div>


