<%= content_for :title, I18n.t("faf.search_for_a_group.heading") %>

<span class="govuk-caption-l">
  <%= I18n.t("faf.search_for_org.caption") %>
</span>
<h1 class="govuk-heading-l">
  <%= I18n.t("faf.search_for_a_group.heading") %>
</h1>

<%= render "components/autocomplete",
      default_value: form.object.org_id,
      container_id: "framework-support-form-org-id-field",
      element_id: "framework-support-form-org-id-field",
      element_name: "framework_support_form[org_id]",
      label_text: I18n.t("faf.search_for_a_group.hint"),
      label_class: "govuk-hint",
      template_suggestion: "UID: {{uid}}, <strong>{{name}}</strong>, UKPRN: {{ukprn}}",
      value_field: :formatted_name,
      query_url: support_establishment_groups_path(format: :json, q: "{{QUERY}}") %>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= I18n.t("faf.search_for_org.details.summary") %>
    </span>
  </summary>

  <% text = I18n.t("faf.search_for_a_group.details.search_for_a_school_link") %>

  <% school_search_link =
      if @edit_route
        link_to text, edit_framework_request_search_for_organisation_path(@framework_request, form.object.find_other_type), class: "govuk-link"
      else
        link_to text, search_for_organisation_framework_requests_path(framework_support_form: form.object.find_other_type), class: "govuk-link"
      end
  %>

  <% gias_link = link_to I18n.t("faf.search_for_org.details.gias_link"), "https://www.get-information-schools.service.gov.uk/", class: "govuk-link" %>

  <div class="govuk-details__text"><%= I18n.t("faf.search_for_a_group.details.body.p1", search_for_a_school_link: school_search_link).html_safe %></div>
  <div class="govuk-details__text">
    <p class="govuk-body"><%= I18n.t("faf.search_for_org.details.body.p2.body", gias_link: gias_link).html_safe %></p>
    <ul class="govuk-list govuk-list--bullet">
      <% I18n.t("faf.search_for_a_group.details.body.p2.list").each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </div>
  <div class="govuk-details__text"><%= I18n.t("faf.search_for_org.details.body.p3") %></div>
  <div class="govuk-details__text"><%= I18n.t("faf.search_for_org.details.body.p4") %></div>
</details>
