<% first_unchecked_found = false %>

<%= form_with model: @form, scope: :letter_of_authorisation_form, url: energy_case_letter_of_authorisation_path, method: :patch do |form| %>
  <%= form.govuk_error_summary %>

  <h1 class="govuk-heading-l"><%= I18n.t("energy.letter_of_authorisation.title") %></h1>
  <p class="govuk-body"><%= I18n.t("energy.letter_of_authorisation.paragraphs.paragraph1", school_name: @organisation_detail.name) %></p>
  <% I18n.t("energy.letter_of_authorisation.paragraphs").drop(1).each do |key, value| %>
    <p class="govuk-body"><%= value %></p>
  <% end %>

  <ul class="govuk-list govuk-list--bullet">
    <li><%= @organisation_detail.name %>, <%= Support::OrganisationPresenter.new(@organisation_detail)&.formatted_address %></li>
  </ul>

  <h2 class="govuk-heading-m"><%= I18n.t("energy.letter_of_authorisation.appointment.title") %></h2>
  <p class="govuk-body"><%= I18n.t("energy.letter_of_authorisation.appointment.paragraph_one") %></p>

  <p class="govuk-body"><%= I18n.t("energy.letter_of_authorisation.appointment.paragraph_two") %></p>

  <ul class="govuk-list govuk-list--bullet">
    <% I18n.t("energy.letter_of_authorisation.appointment.first_list").each do |key, value| %>
      <li><%= value %></li>
    <% end %>
  </ul>

  <p class="govuk-body"><%= I18n.t("energy.letter_of_authorisation.appointment.paragraph_three") %></p>

  <ul class="govuk-list govuk-list--bullet">
    <% I18n.t("energy.letter_of_authorisation.appointment.second_list").each do |key, value| %>
      <li><%= value %></li>
    <% end %>
  </ul>

  <h2 class="govuk-heading-m"><%= I18n.t("energy.letter_of_authorisation.responsibilities.title") %></h2>
  <p class="govuk-body"><%= I18n.t("energy.letter_of_authorisation.responsibilities.paragraph_one.") %></p>

  <ul class="govuk-list govuk-list--bullet">
    <% I18n.t("energy.letter_of_authorisation.responsibilities.list").each do |key, value| %>
      <li><%= value %></li>
    <% end %>
  </ul>

  <h2 class="govuk-heading-m"><%= I18n.t("energy.letter_of_authorisation.invoices_and_billing.title") %></h2>
  <p class="govuk-body"><%= I18n.t("energy.letter_of_authorisation.invoices_and_billing.paragraph_one") %></p>
  <p class="govuk-body"><%= I18n.t("energy.letter_of_authorisation.invoices_and_billing.paragraph_two") %></p>

  <h2 class="govuk-heading-m"><%= I18n.t("energy.letter_of_authorisation.non_payment_of_invoices.title") %></h2>
  <p class="govuk-body"><%= I18n.t("energy.letter_of_authorisation.non_payment_of_invoices.paragraph_one") %></p>

  <%= form.govuk_check_boxes_fieldset :loa_agreed, legend: nil do %>
    <% ['agreement1', 'agreement2', 'agreement3'].each do |agreement| %>
      <% is_checked = Array(@form.loa_agreed)&.include?(agreement) %>
      <% link_errors = !is_checked && !first_unchecked_found %>
      <% first_unchecked_found ||= link_errors %>

      <%= form.govuk_check_box :loa_agreed, agreement,
            label: { text: I18n.t(agreement, scope: "energy.letter_of_authorisation.agreement") },
            link_errors: link_errors %>
    <% end %>
  <% end %>

  <%= render SubmitButtonComponent.new(form) %>
<% end %>
