<% tower_id = "#{@tower.title.parameterize}-tower" %>

<%= turbo_frame_tag "#{tower_id}-frame" do %>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="<%= tower_id %>">
    <button class="govuk-button govuk-button--secondary pull-right" data-panel="filter-<%= tower_id %>" data-component="toggle-panel-visibility">
      <%= I18n.t("support.case.filter.filter_results") %>
    </button>

    <h1 class="govuk-heading-l">
      <%= @tower.title %> Tower
    </h1>

    <%= render "support/cases/forms/filter_cases_form",
          form: @filter_form,
          scope: :filter_cases,
          filter_url: support_tower_path(@tower),
          clear_url: support_tower_path(@tower),
          tab: tower_id,
          hide_towers: true %>

    <%= render "support/cases/index/detailed_cases", cases: Support::CasePresenter.wrap_collection(@cases) %>
    <%= render "components/pagination", records: @cases %>
  </div>
<% end %>
