<%= content_for :title, I18n.t("support.case_statistics.header") %>

<%= link_to I18n.t("generic.button.back"), support_case_statistics_path, class: "govuk-back-link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l"><%= I18n.t("support.case_statistics.tower.header", type: params[:id] ) %></h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title govuk-!-margin-bottom-0 no_of_live_cases">
            <%= @no_of_live_cases_by_tower[params[:id]] %>
          </h1>
          <div class="govuk-panel__body">
            <%= I18n.t("support.case_statistics.body.no_of_live_cases") %>
          </div>
        </div>
      </div>
    </div>
        
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-inset-text border-left-colour-green opened-live-cases"><strong><%= @no_of_live_cases_by_tower_and_state[[params[:id], "opened"]].to_i || 0 %> </strong> <%= I18n.t("support.case.label.state.state_opened") %></div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-inset-text border-left-colour-yellow on-hold-live-cases"><strong><%= @no_of_live_cases_by_tower_and_state[[params[:id], "on_hold"]].to_i || 0 %> </strong><%= I18n.t("support.case.label.state.state_on_hold") %></div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-inset-text border-left-colour-blue initial-live-cases"><strong><%= @no_of_live_cases_by_tower_and_state[[params[:id], "initial"]].to_i || 0 %> </strong><%= I18n.t("support.case.label.state.state_initial") %></div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <table class="govuk-table overview-by-stage">
          <caption class="govuk-table__caption govuk-table__caption--m"><%= I18n.t("support.case_statistics.tower.live_cases_by_stage") %></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"><%= I18n.t("support.case_statistics.tower.stage") %></th>
              <th scope="col" class="govuk-table__header"><%= I18n.t("support.case_statistics.states.open") %></th>
              <th scope="col" class="govuk-table__header"><%= I18n.t("support.case_statistics.states.on_hold") %></th>
              <th scope="col" class="govuk-table__header"><%= I18n.t("support.case_statistics.states.new") %></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @stages.each do | stage | %>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><%= I18n.t("support.case_statistics.stages.#{stage}") %></th>
                <% @live_states.each do |state| %>
                  <td class="<%="govuk-table__cell #{stage.gsub(" ", "-")}-#{state}-cell"%>"><%= @no_of_live_cases_by_tower_state_and_stage[[params[:id], state, stage]].to_i %></td>
                <% end %>   

              </tr>
            <% end %> 
            <tr>
              <th scope="row" class="govuk-table__header"><%= I18n.t("support.case_statistics.tower.unspecified") %></th>
                <% @live_states.each do |state| %>
                  <td class="<%="govuk-table__cell unspecified-#{state}-cell"%>"><%= @no_of_live_cases_by_tower_state_and_stage[[params[:id], state, nil]].to_i %></td>
              <% end %>
            </tr> 
          </tbody>
        </table>
      </div>
      <div class="govuk-grid-column-one-half">
        <table class="govuk-table overview-by-level">
          <caption class="govuk-table__caption govuk-table__caption--m"><%= I18n.t("support.case_statistics.tower.live_cases_by_level") %></caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"><%= I18n.t("support.case_statistics.tower.level") %></th>
              <th scope="col" class="govuk-table__header"><%= I18n.t("support.case_statistics.states.open") %></th>
              <th scope="col" class="govuk-table__header"><%= I18n.t("support.case_statistics.states.on_hold") %></th>
              <th scope="col" class="govuk-table__header"><%= I18n.t("support.case_statistics.states.new") %></th>
            </tr>
          </thead>
          
          <tbody class="govuk-table__body">
            <% @levels.each do | level | %>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><%= level %></th>
                <% @live_states.each do |state| %>
                  <td class="<%="govuk-table__cell #{level}-#{state}-cell"%>"><%= @no_of_live_cases_by_tower_state_and_level[[params[:id], state, level]].to_i %></td>
                <% end %>   
              </tr>
            <% end %> 
            <tr>
              <th scope="row" class="govuk-table__header"><%= I18n.t("support.case_statistics.tower.unspecified") %></th>
                <% @live_states.each do |state| %>
                  <td class="<%="govuk-table__cell unspecified-#{state}-cell"%>"><%= @no_of_live_cases_by_tower_state_and_level[[params[:id], state, nil]].to_i %></td>
              <% end %>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>