<%= content_for :title, current_journey.category.title %>

<%= link_to I18n.t("generic.button.back"), journey_specification_path(current_journey), class: "govuk-back-link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      <%= I18n.t("journey.specification.edit.header") %>
    </h1>
    <p class="govuk-body">
      <%= I18n.t("journey.specification.edit.body")[0] %>
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= I18n.t("journey.specification.edit.body")[1] %>
      </li>
      <li>
        <%= I18n.t("journey.specification.edit.body")[2] %>
      </li>
    </ul>


    <%= form_with model: form,
                  scope: :form,
                  url: journey_specification_path(current_journey),
                  method: :create do |f|
    %>

      <%= f.govuk_error_summary %>

      <%=
        f.govuk_collection_radio_buttons(
            :finished,
            [
              OpenStruct.new(value: true, label: I18n.t("generic.yes")),
              OpenStruct.new(value: false, label: I18n.t("generic.no")),
            ],
            :value,
            :label,
            legend: nil
          )
      %>

      <%=
        f.submit(
            I18n.t("support.case_hub_migration.submit"),
            class: "govuk-button",
            role: "button"
          )
      %>

    <% end %>
  </div>
</div>
