<%= content_for :title, current_journey.category.title %>

<div class="govuk-grid-row">

  <!-- SPECIFICATION -->
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl"><%= I18n.t("journey.specification.show.header") %></h1>
    <p class="govuk-caption-l"><%= I18n.t("journey.specification.caption", name: current_journey.name)%></p>
    <br>
    <p class="govuk-body">
      <% body_link = link_to I18n.t("journey.specification.show.body.link"), journey_path(current_journey) %>
      <%= I18n.t("journey.specification.show.body.text", link: body_link).html_safe %>
    </p>

    <% unless current_journey.finished? || current_journey.all_tasks_completed? %>
      <div class="info-box-grey govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          <%= I18n.t("journey.specification.show.draft") %>
        </strong>
      </div>
    <% end %>

    <h2 class="govuk-heading-m">
        <%= I18n.t("journey.specification.show.sub_header") %>
    </h2>

    <div class="govuk-inset-text">
      <%= link_to "Request free help and support with your specification", "/support-requests" %>
    </div>

    <article class="specification">
      <%= current_journey.specification %>
    </article>

    <%= link_to I18n.t("journey.specification.show.download.button"), download_journey_specification_path(current_journey), class: "govuk-button", role: "button" %>
  </div>
  <!-- END -->

  <!-- SIDEBAR -->
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-!-padding-bottom-9"></div>
    <h2 class="govuk-heading-m"> <%= I18n.t("journey.specification.show.sidebar.header") %> </h2>
    <ul class="govuk-list govuk-list--spaced">
      <li> <%= link_to I18n.t("journey.specification.show.sidebar.links.completed_specification"), @next_steps_path, class: "govuk-link", target: "_blank" %> </li>
      <li> <%= link_to I18n.t("journey.specification.show.sidebar.links.feedback"), sidebar_feedback_link, class: "govuk-link", target: "_blank" %> </li>
    </ul>
  </div>
  <!-- END -->

</div>
