<%= render partial: "support/cases/components/case_header",
  locals: { current_case: @current_case } %>
<h1 class="govuk-heading-l"><%= I18n.t("evaluation.download_documents.header") %></h1>
<p class="govuk-body">Use these documents to complete your evaluation of each supplier</p>
<p class="govuk-body govuk-!-static-margin-bottom-8">If you have a problem or conflict of interest, 
  <% mail_to_address = "mailto:#{ENV.fetch('MS_GRAPH_SHARED_MAILBOX_ADDRESS')}?subject= Case #{ @current_case.ref} - query" %>
  <%= link_to "contact us", mail_to_address , class: "govuk-link" %>
</p>
<%= render "document_list"%>
<div class="govuk-button-group flex-align-center">
  <%= link_to I18n.t("generic.button.continue"), @back_url, class: "govuk-button" %>
  <%= link_to I18n.t("generic.button.cancel"), @back_url, class: "govuk-link govuk-link--no-visited-state" %>
</div>
