<%= content_for :title, "#{I18n.t("support.management.base.header")} | #{I18n.t("support.management.email_templates.header")}" %>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to I18n.t("support.management.base.header"), support_management_path, class: "govuk-breadcrumbs__link" %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to I18n.t("support.management.email_templates.header"), support_management_email_templates_path, class: "govuk-breadcrumbs__link" %>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-l"><%= I18n.t("support.management.email_templates.header") %></h1>

<%= link_to I18n.t("support.management.email_templates.index.new"), new_support_management_email_template_path, class: "govuk-button", role: "button" %>

<%= email_template_manager_editor(filter_url: support_management_email_templates_path) %>

<%= render "components/pagination", records: @templates %>
