<%= form_with model: @form, scope: :electric_bill_consolidation_form, url: energy_case_org_electric_bill_consolidation_path(**@routing_flags), method: :patch do |form| %>
    <%= form.govuk_error_summary %>
    <span class="govuk-caption-l"><%= @organisation_detail.name %>: <%= I18n.t("energy.electric_bill_consolidation.title") %></span>
    <%= form.hidden_field :is_electric_bill_consolidated, value: '' %>
    <%= form.govuk_collection_radio_buttons :is_electric_bill_consolidated,
          [
          OpenStruct.new(value: true, label: I18n.t("energy.electric_bill_consolidation.radio_buttons.option_yes")),
          OpenStruct.new(value: false, label: I18n.t("energy.electric_bill_consolidation.radio_buttons.option_no")),
          ],
          :value,
          :label,
          legend: { text: I18n.t("energy.electric_bill_consolidation.option_heading"), tag: "h1", size: "l" }
    %>
    <%= render EnergyFormButtonsComponent.new(form, routing_flags: @routing_flags)%>
<% end %>
