<%= content_for :title, I18n.t("support.case.label.transfer_to_framework_evaluation.title", reference: @current_case.ref) %>

<%= form_with model: @case_transferer,
  scope: :case_transferer,
  url: support_case_transfer_to_framework_evaluation_path(back_to: Base64.encode64(@back_url), redirect_back: params[:redirect_back]) do |form| %>
    <%= form.govuk_error_summary %>

    <h1 class="govuk-heading-l"><%= I18n.t("support.case.label.transfer_to_framework_evaluation.header", reference: @current_case.ref) %></h1>
    <p class="govuk-body"><%= I18n.t("support.case.label.transfer_to_framework_evaluation.body") %></p>

    <%= form.govuk_select :framework_id, @frameworks.map {|framework| ["#{framework.reference_and_name} (#{framework.provider_name})", framework.id] },
        options: { include_blank: "Select a framework" },
        label: { text: "Framework", size: "m" } %>
    
    <%= form.govuk_select :assignee_id, @agents.map {|agent| [agent.full_name, agent.id] },
        options: { include_blank: "Select an agent" },
        label: { text: "Case Owner", size: "m" } %>

    <div class="govuk-button-group">
      <%= form.submit I18n.t("support.case.label.transfer_to_framework_evaluation.transfer"), class: "govuk-button", role: "button", data: { disable_with: "Transferring..." } %>
      <%= link_to I18n.t("support.case.label.transfer_to_framework_evaluation.cancel"), @back_url, class: "govuk-link govuk-link--no-visited-state" %>
    </div>
<% end %>
