<% if @support_request&.persisted? %>
  <%= link_to I18n.t("generic.button.back"), support_request_path(@support_request), class: "govuk-back-link" %>
<% # TODO: when phone number is reinstated this is position 1 %>
<% elsif @form.position?(2)  %>
  <%= link_to I18n.t("generic.button.back"), support_requests_path, class: "govuk-back-link"  %>
<% else %>
  <%= link_to I18n.t("generic.button.back"), support_requests_path(@support_request, support_form: @form.go_back), method: :post, class: "govuk-back-link" %>
<% end %>

<%= form_with model: @form, scope: :support_form, url: path, method: verb, id: "support-form"  do |form| %>
  <%# form.govuk_error_summary(presenter: presenter_class) %>
  <%= form.govuk_error_summary %>

  <%= form.hidden_field :step, value: @form.step %>
  <%= render "specify/support_requests/_form/step_#{@form.step}", form: form %>

  <%= form.submit I18n.t("generic.button.next"), class: "govuk-button", role: "button" %>
<% end %>

<p class="govuk-body">
  <% if @support_request&.persisted? %>
    <%= link_to I18n.t("generic.button.cancel"), support_request_path(@support_request), class: "govuk-link" %>
  <% else %>
    <%= link_to I18n.t("generic.button.cancel"), dashboard_path, class: "govuk-link" %>
  <% end %>
</p>

<% if Rails.env.development? %>
  <%= debug @support_request&.attributes %>
  Step
  <%= debug @form.step %>
  Supported Schools
  <%= debug @form.user.supported_schools %>
  Input
  <%= debug @form.to_h.except(:user) %>
  Output
  <%= debug @form.data %>
<% end %>
