<%= content_for :title, I18n.t("journey.edit.name.label") %>

<%= render "specify/journeys/steps/back_link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, scope: :edit_journey_form, url: journey_path, method: :patch  do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_text_field :name, label: { text: I18n.t("journey.edit.name.label"), size: "l" }, hint: { text: I18n.t("journey.edit.name.hint") } %>

      <%= form.submit I18n.t("generic.button.next"), class: "govuk-button", role: "button" %>
    <% end %>
  </div>
</div>
