<%= content_for :title, @journey.name %>

<h1 class="govuk-heading-xl">
  <%= I18n.t("journeys_title", category: @journey.category.title_downcase) %>
</h1>
<p class="govuk-caption-l"><%= I18n.t("journeys_caption", name: @journey.name)%></p>
<br>
<%= link_to I18n.t("journeys_edit.button"), edit_journey_path(@journey), class: "govuk-link" %>
<br>
<br>
<p class="govuk-body"><%= I18n.t("journeys_body") %></p>
<div class="govuk-inset-text">
<%= link_to I18n.t("support_request.link"), support_requests_path, class: "govuk-link" %>
</div>

<ol class="app-task-list sections">
  <% @journey.sections.each do |section| %>
    <li>
      <h2 class="app-task-list__section"><%= section.title %></h2>
      <ul class="app-task-list__items">
        <% section.tasks.each do |task| %>
          <% if task.one_step? %>
            <li class="app-task-list__item step__item" id="<%= task.step.id %>">
              <% if task.step.completed? %>
                <span class="app-task-list__task-name">
                  <%= link_to task.title, edit_journey_step_path(@journey, task.step), class: "govuk-link", 'aria-describedby': task.step.status_id %>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="<%= task.step.status_id %>">
                  <%= I18n.t("task_list.status.completed") %>
                </strong>
              <% else %>
                <span class="app-task-list__task-name">
                  <%= link_to task.title, journey_step_path(@journey, task.step), class: "govuk-link", 'aria-describedby': task.step.status_id %>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="<%= task.step.status_id %>">
                  <%= I18n.t("task_list.status.not_started") %>
                </strong>
              <% end %>
            </li>
          <% elsif task.many_steps? %>
            <li class="app-task-list__item task__item" id="<%= task.id %>">
              <span class="app-task-list__task-name">
                <%= link_to task.title, journey_task_path(@journey, task), class: "govuk-link", 'aria-describedby': task.status_id %>
              </span>
              <% if task.completed? %>
                <strong class="govuk-tag app-task-list__tag" id="<%= task.status_id %>">
                  <%= I18n.t("task_list.status.completed") %>
                </strong>
              <% elsif task.in_progress? %>
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="<%= task.status_id %>">
                  <%= I18n.t("task_list.status.in_progress") %>
                </strong>
              <% elsif task.not_started? %>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="<%= task.status_id %>">
                  <%= I18n.t("task_list.status.not_started") %>
                </strong>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>

<%= link_to I18n.t("journey.specification.button"), journey_specification_path(@journey), class: "govuk-button", role: "button" %>
