<%= content_for :title, "CMS Management | #{I18n.t("support.management.categories.header")}" %>

<% user_type_options = [OpenStruct.new(id: true, name: "Internal"), OpenStruct.new(id: false, name: "Proc-Ops")] %>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to I18n.t("support.management.base.header"), support_management_path, class: "govuk-breadcrumbs__link" %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to I18n.t("support.management.categories.header"), support_management_categories_path, class: "govuk-breadcrumbs__link" %>
    </li>
  </ol>
</div>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l"><%= I18n.t("support.management.categories.header") %></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"><%= I18n.t("support.management.categories.table.parent_category") %></th>
      <th scope="col" class="govuk-table__header"><%= I18n.t("support.management.categories.table.sub_category") %></th>
      <th scope="col" class="govuk-table__header"><%= I18n.t("support.management.categories.table.tower") %></th>
      <th scope="col" class="govuk-table__header"><%= I18n.t("support.management.categories.table.num_cases") %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @top_level_categories.sort_by(&:title).each do |parent_category| %>
      <% parent_category.sub_categories.sort_by(&:title).each do |category| %>
        <%= form_with(model: category, url: support_management_category_path(category), method: :patch, scope: :category) do |form| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <% if category.archived? %>
                <span class="govuk-tag govuk-tag--grey govuk-!-margin-right-2">Archived</span>
              <% end %>
              <%= parent_category.title %>
            </td>
            <td class="govuk-table__cell">
              <%= category.title %>
            </td>
            <td class="govuk-table__cell">
              <%= category.tower_title %>
            </td>
            <td class="govuk-table__cell govuk-!-text-align-centre">
              <%= link_to category.cases.length, support_cases_path(filter_all_cases_form: { category: category.id }, anchor: 'all-cases'), class: 'govuk-link--no-visited-state' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
