<%
  support_level = kase.support_level.nil? ? "Not set" : 1 + kase.read_attribute_before_type_cast(:support_level)
%>

<tr class="govuk-table__row case-row tower-top-row single-row">
  <td class="govuk-table__cell">
    <%= kase.ref %>
  </td>

  <td class="govuk-table__cell govuk-!-text-align-centre">
    <%= support_level %>
  </td>

  <td class="govuk-table__cell">
    <div class="ellipsis-overflow col-organisation">
      <%= kase.organisation_name %>
    </div>
  </td>

  <td class="govuk-table__cell">
    <%= kase.category.title %>
  </td>

  <td class="govuk-table__cell case-status">
    <%= kase.creator_full_name %>
  </td>

  <td class="govuk-table__cell">
    <span title="<%= kase.last_updated_at %>"><%= short_date_format(kase.created_at, show_time: false, always_show_year: true) %></span>
  </td>
</tr>
