<%= content_for :title, "#{I18n.t("energy.before_you_start.subtitle")} - #{I18n.t("energy.service_name")}" %>

<%= render Column21Component.new do |c| %>
  <% c.with_left do %>
    <h1 class="govuk-heading-xl"><%= I18n.t("energy.before_you_start.title") %></h1>
    <h2 class="govuk-heading-m"><%= I18n.t("energy.before_you_start.subtitle") %></h2>
    <%= render ParagraphComponent.new(text: I18n.t("energy.before_you_start.need")) %>
    <%= govuk_list I18n.t("energy.before_you_start.need_list"), type: :bullet %>
    <%= render ParagraphComponent.new(text: I18n.t("energy.before_you_start.time_required")) %>
    <%= govuk_button_to(I18n.t("generic.button.continue"), '/auth/dfe') %>
  <% end %>

  <% c.with_right do %>
  <% end %>
<% end %>