<%= content_for :title, "#{I18n.t("energy.guidance.title")} - #{I18n.t("energy.service_name")}" %>

<%= govuk_back_link(href: energy_start_path) %>
<%= render Column21Component.new do |c| %>
  <% c.with_left do %>
    <h1 class="govuk-heading-xl"><%= I18n.t("energy.guidance.title") %></h1>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.intro"), size: :l) %>

    <nav>
      <h2 class="govuk-body"><%= I18n.t("energy.guidance.contents") %></h2>
      <%= govuk_list [
        govuk_link_to(I18n.t("energy.guidance.about.title"), "#about"),
        govuk_link_to(I18n.t("energy.guidance.v30contract.title"), "#v30contract"),
        govuk_link_to(I18n.t("energy.guidance.compliance.title"), "#compliance"),
        govuk_link_to(I18n.t("energy.guidance.considerations.title"), "#considerations"),
        govuk_link_to(I18n.t("energy.guidance.how_to_join.title"), "#how_to_join"),
      ].map {|text| "&mdash; #{text}".html_safe} %>
    </nav>

    <h2 class="govuk-heading-l" id="about"><%= I18n.t("energy.guidance.about.title") %></h2>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.about.body")) %>

    <h3 class="govuk-heading-m"><%= I18n.t("energy.guidance.benefits.title") %></h3>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.benefits.body")) %>
    <%= govuk_list I18n.t("energy.guidance.benefits.list"), type: :bullet %>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.benefits.body2")) %>

    <h2 class="govuk-heading-l" id="v30contract"><%= I18n.t("energy.guidance.v30contract.title") %></h3>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.v30contract.body", email: I18n.t("energy.guidance.email"))) %>

    <h3 class="govuk-heading-m"><%= I18n.t("energy.guidance.start_date.title") %></h3>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.start_date.body")) %>
    <%= render TableComponent.new(
      headings: I18n.t("energy.guidance.start_date.table.headings"),
      rows: I18n.t("energy.guidance.start_date.table.rows"),
    ) %>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.start_date.body2")) %>

    <h3 class="govuk-heading-m"><%= I18n.t("energy.guidance.interim_rate.title") %></h3>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.interim_rate.body")) %>

    <h3 class="govuk-heading-m"><%= I18n.t("energy.guidance.billing.title") %></h3>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.billing.body")) %>

    <h2 class="govuk-heading-l" id="compliance"><%= I18n.t("energy.guidance.compliance.title") %></h3>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.compliance.body")) %>

    <h2 class="govuk-heading-l" id="considerations"><%= I18n.t("energy.guidance.considerations.title") %></h3>

    <h3 class="govuk-heading-m"><%= I18n.t("energy.guidance.vat_declaration.title") %></h3>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.vat_declaration.body")) %>

    <h3 class="govuk-heading-m"><%= I18n.t("energy.guidance.renewable_energy.title") %></h3>
    <%= render ParagraphComponent.new(
      text: I18n.t("energy.guidance.renewable_energy.body", email: I18n.t("energy.guidance.email"))
    ) %>

    <h2 class="govuk-heading-l" id="how_to_join"><%= I18n.t("energy.guidance.how_to_join.title") %></h3>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.how_to_join.body")) %>
    <%= govuk_list I18n.t("energy.guidance.how_to_join.list"), type: :bullet %>
    <%= render ParagraphComponent.new(text: I18n.t("energy.guidance.how_to_join.body2")) %>

    <h3 class="govuk-heading-m"><%= I18n.t("energy.guidance.objections.title") %></h3>
    <%= render ParagraphComponent.new(
      text: I18n.t("energy.guidance.objections.body", email: I18n.t("energy.guidance.email"))) %>

    <%= govuk_button_link_to(I18n.t("energy.guidance.button.primary"), energy_start_path) %>
  <% end %>

  <% c.with_right do %>
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m"><%= I18n.t("energy.related_actions.title") %></h2>
      <%= govuk_list [
        link_to(I18n.t('energy.related_actions.join'), energy_start_path, class: "govuk-link"),
      ] %>
    </aside>
  <% end %>
<% end %>
