<!DOCTYPE html>
<html lang="en" class="govuk-template--rebranded">
<head>
  <%= render "shared/analytics_tags" %>

  <title><%= page_title(@page_title) %></title>
  <%= render "shared/favicons" %>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= tag :link, href: @canonical_url, rel: 'canonical' %>

  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "application", defer: true %>
</head>

<body class="govuk-template__body" data-controller="external-link-tracking internal-link-tracking engagement-tracking">
  <%= javascript_tag nonce: true do -%>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
  <% end -%>

  <%= render "cookie_preferences/banner" %>

  <%= yield %>
</body>
</html>
