<% unless subcategories.empty? %>
  <div class="moj-filter" data-module="moj-filter">

    <%# Header %>
    <div class="moj-filter__header">
      <div class="moj-filter__header-title">
        <h2 class="govuk-heading-m"><%= t(".filter") %></h2>
      </div>
      <div class="moj-filter__header-action"></div>
    </div>

    <div class="moj-filter__content">

      <%# Selected filters section — only shown when filters are active %>
      <% selected_subcategory_slugs = params.fetch(:subcategory_slugs, []).compact_blank %>
      <% selected_ways_to_buy_slugs = params.fetch(:ways_to_buy_slugs, []).compact_blank %>

      <% if selected_subcategory_slugs.present? || selected_ways_to_buy_slugs.present? %>
        <div class="moj-filter__selected">
          <div class="moj-filter__selected-heading">
            <div class="moj-filter__heading-title">
              <h2 class="govuk-heading-m"><%= t(".selected_filters") %></h2>
            </div>
          </div>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            <%= t(".subcategories") %>
          </h3>
          <ul class="moj-filter-tags">
            <% subcategories.select { |s| selected_subcategory_slugs.include?(s.slug) }.each do |subcategory| %>
              <%# Build URL with this subcategory removed from the selected slugs %>
              <% remaining_slugs = selected_subcategory_slugs - [subcategory.slug] %>
              <% remove_url = category_path(category, subcategory_slugs: remaining_slugs) %>
              <li>
                <a class="moj-filter__tag" href="<%= remove_url %>">
                  <span class="govuk-visually-hidden"><%= t(".remove_filter") %></span>
                  <%= subcategory.title %>
                </a>
              </li>
            <% end %>
          </ul>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            <%= t(".ways_to_buy") %>
          </h3>
          <ul class="moj-filter-tags">
            <% ways_to_buy.select { |w| selected_ways_to_buy_slugs.include?(w.slug) }.each do |way_to_buy| %>
              <% remaining_slugs = selected_ways_to_buy_slugs - [way_to_buy.slug] %>
              <% remove_url = category_path(category, ways_to_buy_slugs: remaining_slugs) %>
              <li>
                <a class="moj-filter__tag" href="<%= remove_url %>">
                  <span class="govuk-visually-hidden"><%= t(".remove_filter") %></span>
                  <%= way_to_buy.title %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%# Filter options with checkboxes %>
      <div class="moj-filter__options">
        <%= form_with url: category_path(category), method: :get do |f| %>
          <% if subcategories.present? %>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <%= t(".subcategories") %>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <%= f.collection_check_boxes :subcategory_slugs, subcategories, :slug, :title,
                      checked: params[:subcategory_slugs] do |b| %>
                    <div class="govuk-checkboxes__item">
                      <%= b.check_box(class: "govuk-checkboxes__input") %>
                      <%= b.label(class: "govuk-label govuk-checkboxes__label") do %>
                        <%= b.text %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>
          <% end %>

          <% if ways_to_buy.present? && ways_to_buy.count > 1 %>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <%= t(".ways_to_buy") %>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <%= f.collection_check_boxes :ways_to_buy_slugs, ways_to_buy, :slug, :title,
                      checked: params[:ways_to_buy_slugs] do |b| %>
                    <div class="govuk-checkboxes__item">
                      <%= b.check_box(class: "govuk-checkboxes__input") %>
                      <%= b.label(class: "govuk-label govuk-checkboxes__label") do %>
                        <%= b.text %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>
          <% end %>

          <div class="moj-filter__heading-action">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            <%= t(".apply_filters") %>
          </button>
          <% unless selected_subcategory_slugs.blank? %>
            <div class="moj-filter__heading-action">
              <p>
                <%= link_to t(".clear_filters"),
                      category_path(@category),
                      class: "govuk-link govuk-link--no-visited-state" %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>
<% end %>
