<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= I18n.t("support.case.label.stage") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <% if kase.procurement_stage.present? %>
        <div class="stage">
          <span class="stage-indicator" title="<%= kase.procurement_stage.stage_label %>">
            <%= kase.procurement_stage.stage_indicator %>
          </span>
          <%= kase.procurement_stage.title %>
        </div>
      <% else %>
        <%= I18n.t("support.generic.not_specified") %>
      <% end %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= I18n.t("support.case.label.status") %>
    </dt>
    <dd class="govuk-summary-list__value flex-gap-5px">
      <%= render "support/cases/status_badge", state: kase.state %>
      <%= render "support/cases/with_school_badge" if kase.with_school %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= I18n.t("support.case.label.assignee") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= kase.agent_name %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= I18n.t("support.case.label.updated") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <span title="<%= kase.last_updated_at %>"><%= relative_date_format(kase.last_updated_at) %></span>
    </dd>
  </div>
  <% if kase.organisation.present? && other_cases_by_case_org_exist?(kase.organisation) %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.other_cases") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= govuk_link_to I18n.t("support.case.label.view_all"), other_cases_by_case_org_path(kase.organisation, back_to: current_url_b64(tab)), no_visited_state: true, "target" => "_top" %>
      </dd>
    </div>
  <% end %>
</dl>
