<%= content_for :title, I18n.t("faf.email.title") %>

<%= form.hidden_field :dsi, value: form.object.dsi %>
<%= form.hidden_field :group, value: form.object.group %>
<%= form.hidden_field :org_id, value: form.object.org_id %>
<%= form.hidden_field :first_name, value: form.object.first_name %>
<%= form.hidden_field :last_name, value: form.object.last_name %>

<span class="govuk-caption-l">
  <%= I18n.t("faf.email.subtitle") %>
</span>

<h1 class="govuk-label-wrapper">
  <label class="govuk-label govuk-label--l" for="email-address">
    <%= I18n.t("faf.email.title") %>
  </label>
</h1>

<%= form.govuk_text_field :email, autofocus: true, label: { text: I18n.t("faf.email.label"), class: "govuk-hint" } %>
