<%= form_with model: @form, scope: :create_case_form, url: support_create_case_preview_path do |form| %>
  <%= form.govuk_error_summary %>

  <h1 class="govuk-heading-l">
    <%= I18n.t("support.case.label.create") %>
  </h1>

  <%= render "components/autocomplete",
             container_id: "create-case-form-school-urn-field",
             label_text: I18n.t("support.case_hub_migration.label.school_urn"),
             label_class: "govuk-hint",
             element_id: "school-urn-autocomplete",
             element_name: "create_case_form[school_urn]",
             template_suggestion: "{{urn}}, <strong>{{name}}</strong>, {{postcode}}",
             value_field: :urn,
             default_value: "#{@form.school_urn}",
             query_url: support_organisations_path(format: :json, q: "{{QUERY}}") do %>
    <%= form.govuk_text_field :school_urn, autofocus: true, label: { text: "Establishment URN" } %>
  <% end %>



  <%= form.govuk_text_field :first_name,
                            label: { text: I18n.t("support.case_hub_migration.label.first_name") }
  %>

  <%= form.govuk_text_field :last_name,
                            label: { text: I18n.t("support.case_hub_migration.label.last_name") }
  %>

  <%= form.govuk_email_field :email,
                            label: { text: I18n.t("support.case_hub_migration.label.email") }
  %>

  <%= form.govuk_phone_field :phone_number,
                             label: { text: I18n.t("support.case_hub_migration.label.phone_number", optional: I18n.t("support.generic.form.optional")) }
  %>

  <%=
    form.govuk_collection_radio_buttons :request_type,
      [
        OpenStruct.new(value: true, label: "Yes"),
        OpenStruct.new(value: false, label: "No"),
      ],
      :value,
      :label,
      inline: true,
      hint: { text: 'Is the request related to a procurement category?' },
      legend: { text: "Request Type", size: "l" }
  %>

  <%= form.govuk_select(:category_id, form_group: { class: "govuk-inset-text govuk-!-display-none" }, label: { text: I18n.t("support.case_hub_migration.label.category") }) do %>
    <option data-tags="<%= I18n.t("support.case_categorisations.label.none") %>" value=""><%= I18n.t("support.case_categorisations.label.none") %></option>
    <% Support::Category.grouped_opts.each do |parent_name, sub_categories| %>
      <optgroup label="<%= parent_name%>">
        <% sub_categories.each do |name, value| %>
          <option data-tags="<%= name %>" value="<%= value %>"><%= name %></option>
        <% end %>
      </optgroup>
    <% end %>
  <% end %>

  <h2 class="govuk-heading-l">
    <%= I18n.t("support.case_hub_migration.header") %>
  </h2>

  <p class="govuk-body">
    <%= I18n.t("support.case_hub_migration.label.form_hint") %>
  </p>

  <%= form.govuk_text_field :hub_case_ref,
                             label: { text: I18n.t("support.case_hub_migration.label.hub_case_ref", optional: I18n.t("support.generic.form.optional")) },
                             hint:  { text: I18n.t("support.case_hub_migration.label.hub_case_ref_hint") }
  %>

  <%= form.govuk_text_field :estimated_procurement_completion_date,
                            label: { text: I18n.t("support.case_hub_migration.label.estimated_procurement_completion_date", optional: I18n.t("support.generic.form.optional")) },
                             hint:  { text: I18n.t("support.case_hub_migration.label.estimated_procurement_completion_date_hint") },
                              placeholder: "DD/MM/YYYY"
  %>

  <%= form.govuk_text_field :estimated_savings,
                            label: { text: I18n.t("support.case_hub_migration.label.estimated_savings", optional: I18n.t("support.generic.form.optional")) },
                            hint:  { text: I18n.t("support.case_hub_migration.label.estimated_savings_hint") },
                            prefix_text: I18n.t("support.generic.currency.unit_symbol")
  %>

  <%= form.govuk_text_area :hub_notes,
                            label: { text: I18n.t("support.case_hub_migration.label.hub_notes", optional: I18n.t("support.generic.form.optional")) },
                            hint:  { text: I18n.t("support.case_hub_migration.label.hub_notes_hint") }
  %>

  <%= form.govuk_text_area :progress_notes,
                           label: { text: I18n.t("support.case_hub_migration.label.progress_notes", optional: I18n.t("support.generic.form.optional")) },
                           hint:  { text: I18n.t("support.case_hub_migration.label.progress_notes_hint") }
  %>

  <%= form.submit I18n.t("support.case_hub_migration.submit"), class: "govuk-button", role: "button" %>
<% end %>

<%= javascript_include_tag "supported_create_case" %>
