<%= form_with model: @form, scope: :create_case_form, url: support_create_case_preview_path do |form| %>
  <%= form.govuk_error_summary %>

  <h1 class="govuk-heading-l">
    <%= I18n.t("support.case.label.create") %>
  </h1>
  <%= render "components/autocomplete",
             container_id: "create-case-form-school-urn-field",
             label_text: I18n.t("support.case_hub_migration.label.school_name"),
             label_class: "govuk-hint",
             element_id: "school-urn-autocomplete",
             element_name: "create_case_form[organisation_name]",
             template_suggestion: "<strong>{{name}}</strong>, {{postcode}}<br />{{establishment_type}}<br />URN: {{urn}} - UKPRN: {{ukprn}}",
             value_field: :name,
             default_value: @form.organisation_name,
             hidden_fields: {
               'create_case_form[organisation_id]' => [:id, @form.organisation_id],
               'create_case_form[organisation_type]' => [:source, @form.organisation_type],
               'create_case_form[organisation_urn]' => [:urn, @form.organisation_urn],
             },
             query_url: support_establishments_path(format: :json, q: "{{QUERY}}") %>



  <%= form.govuk_text_field :first_name,
                            label: { text: I18n.t("support.case_hub_migration.label.first_name") }
  %>

  <%= form.govuk_text_field :last_name,
                            label: { text: I18n.t("support.case_hub_migration.label.last_name") }
  %>

  <%= form.govuk_email_field :email,
                            label: { text: I18n.t("support.case_hub_migration.label.email") }
  %>

  <%= form.govuk_phone_field :phone_number,
                             label: { text: I18n.t("support.case_hub_migration.label.phone_number", optional: I18n.t("support.generic.form.optional")) }
  %>

  <%= form.govuk_phone_field :extension_number,
                             label: { text: I18n.t("support.case_hub_migration.label.extension_number", optional: I18n.t("support.generic.form.optional")) }
  %>

	<%= render "support/cases/discovery_method/discovery_method", form: form %>

  <%= render "support/cases/request_details/form_fields", form: form, show_request_text: false %>

  <%= form.govuk_text_field :procurement_amount, width: 5,
    label: { text: I18n.t("support.case.label.procurement_value"), size: "m" },
    prefix_text: "£" %>

  <h2 class="govuk-heading-m">
    <%= I18n.t("support.case_source.header") %>
  </h2>

  <%= form.govuk_select(:source,
                        [
                          ["Please select", ""],
                          [I18n.t("support.case.label.source.engagement_and_outreach"), "engagement_and_outreach"],
                          [I18n.t("support.case.label.source.schools_commercial_team"), "schools_commercial_team"]
                        ],
                        label: { text: I18n.t("support.case_source.select.header") })
  %>

  <%= form.submit I18n.t("support.case_hub_migration.submit"), class: "govuk-button", role: "button" %>
<% end %>

