<%= content_for :title, @journey.category.title %>

<h1 class="govuk-heading-xl"><%= I18n.t("journey.specification.header") %></h1>
<p class="govuk-body"><%= I18n.t("journey.specification.body") %></p>
<% unless @journey.all_tasks_completed? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <%= I18n.t("journey.specification.draft") %>
    </strong>
  </div>
<% end %>
<%= link_to I18n.t("journey.specification.download.button"), journey_specification_path(@journey, format: :docx), class: "govuk-button", role: "button" %>
<article class="specification">
  <p>
    <%= I18n.t("journey.specification.next_steps.text") %>
    <%= link_to I18n.t("journey.specification.next_steps.link_text"), "/next-steps-#{@journey.category.slug}" %>
  </p>
  <h2 class="govuk-heading-m">
    <%= I18n.t("journey.specification.feedback.heading") %>
  </h2>
  <p>
    <%= I18n.t("journey.specification.feedback.body") %>
  </p>
  <%= link_to I18n.t("journey.specification.feedback.button"), ENV.fetch('QUALTRICS_SURVEY_URL', 'https://dferesearch.fra1.qualtrics.com'), class: "govuk-button govuk-button--secondary", role: "button", target: "_blank", rel: "noopener noreferrer" %>

  <%= @journey.specification %>
</article>
