<%= content_for :title, @journey.category.title %>

<h1 class="govuk-heading-xl"><%= I18n.t("journey.specification.header") %></h1>
<p class="govuk-body"><%= I18n.t("journey.specification.body") %></p>
<% unless @journey.all_tasks_completed? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <%= I18n.t("journey.specification.draft") %>
    </strong>
  </div>
<% end %>
<%= link_to I18n.t("journey.specification.download.button"), journey_specification_path(@journey, format: :docx), class: "govuk-button", role: "button" %>
<article class="specification">
  <%= @journey.specification %>
</article>
