<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= I18n.t("support.requests.sections.send_your_request") %></h1>
    <h2 class="govuk-heading-m"><%= I18n.t("support.requests.sections.about_your_school.heading") %></h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your school
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="enter-school-name">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m"><%= I18n.t("support.requests.sections.about_you.heading") %></h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your name
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="enter-name">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your phone number
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="enter-phone-number">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your email address
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="enter-email-address">
            Change<span class="govuk-visually-hidden"> contact information</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m"><%= I18n.t("support.requests.sections.about_your_request.heading") %></h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Support request
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="enter-name">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description of problem
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="enter-problem-description">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attached specifications
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="attach-your-specification">
            Change<span class="govuk-visually-hidden"> contact information</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m"><%= I18n.t("support.requests.sections.about_your_contact_consent.heading") %></h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Department of Education research
        </dt>
        <dd class="govuk-summary-list__value">
          TODO
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="enter-name">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Department of Education research
        </dt>
        <dd class="govuk-summary-list__value">
          TODO
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="enter-problem-description">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
    </dl>

  </div>
</div>
