<%= content_for :title, I18n.t("exit_survey.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <%= form_with model: @form, scope: :opt_in_form, url: exit_survey_opt_in_path, method: :patch do |form| %>
    <%= form.govuk_error_summary %> 

    <%= form.hidden_field :opt_in, value: form.object.opt_in %> 

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading"><%= I18n.t("exit_survey.opt_in.question") %></h1>   
          </legend>
          <p class="govuk-body"><%= I18n.t("exit_survey.opt_in.text").html_safe %></p>

          <%=
            form.govuk_collection_radio_buttons :opt_in,
                [
                OpenStruct.new(value: true, label: I18n.t("exit_survey.opt_in.yes")),
                OpenStruct.new(value: false, label: I18n.t("exit_survey.opt_in.no")),
                ],
                :value,
                :label,
                legend: nil
            %>
      </div> 

      <%= form.submit I18n.t("exit_survey.continue"), class: "govuk-button" %>
    <% end %>
  </div>
</div>

