<%= form_with model: @form, scope: :vat_certificate_form, url: @form_url, method: :patch do |form| %>
    <%= form.govuk_error_summary %>

    <div class="govuk-form-group">
      <%= form.govuk_check_boxes_fieldset :vat_certificate_declared, legend: nil do %>
        <% ['declaration1', 'declaration2', 'declaration3'].each do |dec| %>
          <%= form.govuk_check_box :vat_certificate_declared, dec, label: { text: I18n.t(dec, scope: "energy.vat_certificate.declaration") } %>
        <% end %>
      <% end %>
    </div>

    <%= render EnergyFormButtonsComponent.new(form, routing_flags: @routing_flags) %>
<% end %>
