<%= content_for :title, I18n.t("energy.vat_certificate.heading") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-caption-l"><%= @organisation_detail.name %>: <%= I18n.t("energy.vat_certificate.title") %></p>
    <h1 class="govuk-heading-l"><%= I18n.t("energy.vat_certificate.heading") %></h1>
    <p class="govuk-body"><%= I18n.t("energy.vat_certificate.sub_title") %></p>

    <%= render "form" %>
  </div>
</div>