<%= content_for :title, "GHBS | Provider Contacts | Edit #{@provider_contact.name}" %>

<%= turbo_frame_tag dom_id(@provider_contact) do %>
  <span class="govuk-caption-l">Edit Framework Provider Contact</span>
  <h1 class="govuk-heading-l"><%= @provider_contact.name %></h2>

  <h2 class="govuk-heading-m">Details</h2>

  <div class="govuk-!-width-two-thirds">
    <%= form_for @provider_contact do |f| %>
      <%= render "frameworks/provider_contacts/form", f:, submit: "Save changes" %>
    <% end %>
  </div>
<% end %>
