<%= content_for :title, "GHBS | Provider Contacts | #{@provider_contact.name}" %>

<%= turbo_frame_tag dom_id(@provider_contact) do %>
  <span class="govuk-caption-l">Framework Provider Contact</span>
  <h1 class="govuk-heading-l"><%= @provider_contact.name %></h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-tabs" data-module="govuk-tabs" data-component="select-tab">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <%= link_to "Details", "#provider-contact-details", class: "govuk-tabs__tab" %>
          </li>
          <li class="govuk-tabs__list-item">
            <%= link_to "Frameworks", "#frameworks-register", class: "govuk-tabs__tab" %>
          </li>
        </ul>

        <%= turbo_frame_tag "provider-contact-details-frame" do %>
          <div id="provider-contact-details" class="govuk-tabs__panel">
            <%= render "frameworks/provider_contacts/show/details" %>
          </div>
        <% end %>

        <%= turbo_frame_tag "frameworks-register-frame", src: frameworks_frameworks_path(**{ viewing_from_entity: true, frameworks_filter: { provider_contact: [@provider_contact.id] } }.merge(request.params.except(:controller, :action))) do %>
          <div id="frameworks-register" class="govuk-tabs__panel govuk-tabs__panel--hidden">
            <p class="govuk-body">Loading...</p>
          </div>
        <% end %>
      </div>

      <h2 class="govuk-heading-m">Actions</h2>
      <ul class="govuk-list">
        <li><%= link_to "Edit Contact", edit_frameworks_provider_contact_path(@provider_contact), class: "govuk-link" %></li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Activity</h2>

      <%= turbo_frame_tag "activity-log-frame" do %>
        <%= render "frameworks/provider_contacts/show/history" %>
      <% end %>
    </div>
  </div>
<% end %>
