<%= content_for :title, I18n.t("exit_survey.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <%= form_with model: @form, scope: :satisfaction_form, url: exit_survey_satisfaction_path, method: :patch do |form| %>
    <%= form.govuk_error_summary %> 

    <%= form.hidden_field :satisfaction_level, value: form.object.satisfaction_level %> 

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading"><%= I18n.t("exit_survey.satisfaction.question") %></h1>
          </legend>
          
          <%= form.govuk_radio_buttons_fieldset :satisfaction_level, legend: nil do %>
              <% form.object.satisfaction_options.each do |option| %>
                <%= form.govuk_radio_button :satisfaction_level, option, label: { text: I18n.t("exit_survey.satisfaction.options.#{option}") } %>
              <% end %>
          <% end %>
      </div> 

      <%= form.submit I18n.t("exit_survey.continue"), class: "govuk-button" %>
    <% end %>
  </div>
</div>

