<div class="govuk-grid-row case-panel">
  <div class="govuk-grid-column-one-half govuk-!-margin-bottom-3">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Framework Ref</dt>
        <dd class="govuk-summary-list__value"><%= link_to framework.reference, frameworks_framework_path(framework, back_to: current_url_b64(:frameworks_register)), class: "govuk-link", "data-turbo" => false %></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Framework Name</dt>
        <dd class="govuk-summary-list__value"><%= framework.name %></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Framework Provider</dt>
        <dd class="govuk-summary-list__value"><%= framework.provider_name %></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Categories</dt>
        <dd class="govuk-summary-list__value"><%= framework.category_names %></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Proc Ops Lead</dt>
        <dd class="govuk-summary-list__value"><%= framework.proc_ops_lead_name %></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">E&O Lead</dt>
        <dd class="govuk-summary-list__value"><%= framework.e_and_o_lead_name %></dd>
      </div>
    </dl>
  </div>

  <div class="govuk-grid-column-one-half">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Is approved?</dt>
        <dd class="govuk-summary-list__value"><%= framework.display_status %></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Provider Start date</dt>
        <dd class="govuk-summary-list__value"><%= framework.display_provider_start_date %></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Provider End date</dt>
        <dd class="govuk-summary-list__value"><%= framework.display_provider_end_date %></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">DfE Review date</dt>
        <dd class="govuk-summary-list__value"><%= framework.display_dfe_review_date %></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">FaF End date</dt>
        <dd class="govuk-summary-list__value"><%= framework.display_faf_end_date %></dd>
      </div>
    </dl>
  </div>
</div>
