<div class="filters-panel">
  <h2 class="govuk-heading-m"><%= I18n.t("support.case.label.filters") %></h2>

  <%= form_with model: @filtering, scope: :frameworks_filter, method: :get, url: frameworks_frameworks_path, html: { "data-controller" => "case-filters" } do |form| %>
    <%= link_to I18n.t("support.case.filter.buttons.clear"), frameworks_frameworks_path, class: "govuk-button govuk-button--secondary", role: "button" %>

    <%= form.govuk_select :sort_by,
        options_for_select(@filtering.available_sort_options, @filtering.sort_by),
        label: { text: I18n.t("support.case.label.sort_by"), size: "s" } %>

    <%= form.govuk_collection_radio_buttons :sort_order,
        available_sort_orders,
        :id,
        :title,
        legend: nil,
        small: true %>

    <%= expander title: "Status", subtitle: "#{@filtering.number_of_selected(:statuses)} selected", expanded: true do %>
      <%= form.govuk_check_boxes_fieldset :status, legend: nil, small: true, form_group: { class: "govuk-!-margin-bottom-0" } do %>
        <% @filtering.available_status_filter_options.each do |status| %>
          <%= form.govuk_check_box :status, status.last, exclusive: false, label: { text: status.first } %>
        <% end %>
      <% end %>
    <% end %>

    <%= expander title: "Category", subtitle: "#{@filtering.number_of_selected(:categories)} selected", expanded: @filtering.number_of_selected(:categories).positive? do %>
      <%= form.govuk_check_boxes_fieldset :category, legend: nil, small: true, form_group: { class: "govuk-!-margin-bottom-0" } do %>
        <% @filtering.available_category_options.each do |option| %>
          <%= form.govuk_check_box :category, option.last, exclusive: false, label: { text: option.first } %>
        <% end %>
      <% end %>
    <% end %>

    <%= expander title: "Provider", subtitle: "#{@filtering.number_of_selected(:providers)} selected", expanded: @filtering.number_of_selected(:providers).positive? do %>
      <%= form.govuk_check_boxes_fieldset :provider, legend: nil, small: true, form_group: { class: "govuk-!-margin-bottom-0" } do %>
        <% @filtering.available_provider_filter_options.each do |option| %>
          <%= form.govuk_check_box :provider, option.last, exclusive: false, label: { text: option.first } %>
        <% end %>
      <% end %>
    <% end %>

    <%= expander title: "Proc-Ops Lead", subtitle: "#{@filtering.number_of_selected(:proc_ops_leads)} selected", expanded: @filtering.number_of_selected(:proc_ops_leads).positive? do %>
      <%= form.govuk_check_boxes_fieldset :proc_ops_lead, legend: nil, small: true, form_group: { class: "govuk-!-margin-bottom-0" } do %>
        <% @filtering.available_proc_ops_lead_options.each do |option| %>
          <%= form.govuk_check_box :proc_ops_lead, option.last, exclusive: false, label: { text: option.first } %>
        <% end %>
      <% end %>
    <% end %>

    <%= expander title: "E&O Lead", subtitle: "#{@filtering.number_of_selected(:e_and_o_leads)} selected", expanded: @filtering.number_of_selected(:e_and_o_leads).positive? do %>
      <%= form.govuk_check_boxes_fieldset :e_and_o_lead, legend: nil, small: true, form_group: { class: "govuk-!-margin-bottom-0" } do %>
        <% @filtering.available_e_and_o_lead_options.each do |option| %>
          <%= form.govuk_check_box :e_and_o_lead, option.last, exclusive: false, label: { text: option.first } %>
        <% end %>
      <% end %>
    <% end %>

    <%= expander title: "Provider Contact", subtitle: "#{@filtering.number_of_selected(:provider_contacts)} selected", expanded: @filtering.number_of_selected(:provider_contacts).positive? do %>
      <%= form.govuk_check_boxes_fieldset :e_and_o_lead, legend: nil, small: true, form_group: { class: "govuk-!-margin-bottom-0" } do %>
        <% @filtering.available_provider_contact_options.each do |option| %>
          <%= form.govuk_check_box :provider_contact, option.last, exclusive: false, label: { text: option.first } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
