<%= content_for :title, @page.title %>

<div class="<%= @page.container_class%> md-page">
  <div class="<%= @page.body_class %>">
    <%= @page.body %>
    <p id="last-updated"><%= @page.updated_at %></p>
  </div>

  <%= render 'sidebar' if @page.sidebar %>
</div>
