<%= content_for :title, I18n.t("specifying.start_page.page_title", category: "something") %>

<h1 class="govuk-heading-xl">
  <%= I18n.t("specifying.start_page.page_title", category: "something") %>
</h1>

<% I18n.t("specifying.start_page.overview_body").each do |paragraph| %>
  <p class="govuk-body"><%= paragraph %></p>
<% end %>

<h2 class="govuk-heading-l"><%= I18n.t("specifying.start_page.who_for_title") %></h2>
<p class="govuk-body"><%= I18n.t("specifying.start_page.who_for_can_use_body") %></p>
<ul class="govuk-list govuk-list--bullet"">
  <% I18n.t("specifying.start_page.who_for_can_use_list").each do |list_item| %>
    <li><%= list_item.html_safe %></li>
  <% end %>
</ul>
<p class="govuk-body"><%= I18n.t("specifying.start_page.who_for_cannot_use_body") %></p>
<ul class="govuk-list govuk-list--bullet"">
  <% I18n.t("specifying.start_page.who_for_cannot_use_list").each do |list_item| %>
    <li><%= list_item %></li>
  <% end %>
</ul>

<h2 class="govuk-heading-l"><%= I18n.t("specifying.start_page.how_service_works_title") %></h2>
<p class="govuk-body"><%= I18n.t("specifying.start_page.how_service_works_document_body") %></p>
<ul class="govuk-list govuk-list--bullet"">
  <% I18n.t("specifying.start_page.how_service_works_document_list").each do |list_item| %>
    <li><%= list_item %></li>
  <% end %>
</ul>
<p class="govuk-body"><%= I18n.t("specifying.start_page.how_service_works_themes_body") %></p>
<ul class="govuk-list govuk-list--bullet"">
  <% I18n.t("specifying.start_page.how_service_works_themes_list").each do |list_item| %>
    <li><%= list_item %></li>
  <% end %>
</ul>

<p class="govuk-body"><%= I18n.t("specifying.start_page.pause_and_resume_body") %></p>

<% if DfESignIn.bypass? %>
  <%= button_to "#{I18n.t("generic.button.start")} (bypass DSI)", "/auth/developer", class: "govuk-button" %>
<% else %>
  <%= button_to I18n.t("generic.button.start"), "/auth/dfe", class: "govuk-button" %>
<% end %>
