<div class="notification-details">
  <div class="major">
    <% if cec_portal? || (support_portal? && (current_agent.roles & %w[cec cec_admin]).any?) %>
      <span class="action">
        <%= link_to(cec_notification_read_path(notification, redirect_to: cec_case_message_thread_path(notification.support_case, notification.subject.outlook_conversation_id, back_to: Base64.encode64(cec_notifications_path))), method: :post, class: "govuk-link--no-visited-state") do %>
          Email received - <%= notification.subject.subject %>
        <% end %>
      </span>
    <% else %>
      <span class="action">
        <%= link_to(support_notification_read_path(notification, redirect_to: support_case_message_thread_path(notification.support_case, notification.subject.outlook_conversation_id, back_to: Base64.encode64(support_notifications_path))), method: :post, class: "govuk-link--no-visited-state") do %>
          Email received - <%= notification.subject.subject %>
        <% end %>
      </span>
    <% end %>
    <span class="by">from <%= notification.subject.sender["address"] %></span>
  </div>
</div>
