<%= content_for :title, I18n.t("support.case_openings.new.header") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= I18n.t("support.case_openings.new.header") %></h1> 
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row" ><%= I18n.t("support.case_openings.new.table.case_id") %></th>
          <td class="govuk-table__cell"><%= @current_case.ref %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row" ><%= I18n.t("support.case_openings.new.table.status") %></th>
          <td class="govuk-table__cell"><%= @current_case.state %></td>
        </tr>
        <% @case_organisation = @current_case.organisation_name%>
        <% if @case_organisation.present? && @case_organisation != @current_case.email %>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row" ><%= I18n.t("support.case_openings.new.table.organisation") %></th>
            <td class="govuk-table__cell"><%= @case_organisation %></td>
          </tr>
        <% end %>  
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row" ><%= I18n.t("support.case_openings.new.table.email") %></th>
          <td class="govuk-table__cell"><%= @current_case.email %></td>
        </tr>
        <% @sub_category = @current_case.sub_category%>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row" ><%= I18n.t("support.case_openings.new.table.request_category") %></th>
          <td class="govuk-table__cell"><%= @sub_category || "Not Specific" %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row" ><%= I18n.t("support.case_openings.new.table.reason") %></th>
          <td class="govuk-table__cell"><%= I18n.t("support.case_openings.new.table.reasons.#{@current_case.closure_reason}") %></td>
        </tr>
      </tbody>
    </table>

    <br>

    <div class="govuk-button-group">
      <%= link_to I18n.t("support.case_openings.new.reopen"), support_case_opening_path(@current_case), method: :post, class: "govuk-button govuk-button--warning", role: "button" %>
      <%= link_to I18n.t("support.case_openings.new.cancel"), @back_url, class: "govuk-link" %>
    </div>
  </div>
</div>
