<% unique_id = "A#{SecureRandom.uuid}" %>
<% url = submit_message_thread_path(ticket_id: @ticket.id, ticket_type: @ticket.class, id: params[:id], unique_id:) %>
<% submit_text = I18n.t("support.case.label.messages.reply.send_message") %>

<%= form_with id: "message-form", model: @draft, scope: :"message_reply_form_#{unique_id}", url:, method: :post,
    html: {
      "data-controller" => "draft-email",
      "data-draft-email-list-attachments-endpoint-value" => attachments_messages_path(message_id: params[:id]),
      "data-draft-email-upload-attachments-endpoint-value" => attachments_messages_path(message_id: params[:id]),
      "data-draft-email-remove-attachments-endpoint-value" => attachments_remove_messages_path(message_id: params[:id]),
      "data-draft-email-update-endpoint-value" => messages_path(message_id: params[:id], unique_id: unique_id),
      "data-draft-email-target" => "form"
    } do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.hidden_field :to_recipients, value: @to_recipients || form.object.to_recipients.to_json  %>
  <%= form.hidden_field :cc_recipients, value: @cc_recipients || nil  %>
  <%= form.hidden_field :bcc_recipients, value: @bcc_recipients || nil  %>

  <%= form.govuk_text_field :subject, label: { text: I18n.t("support.case.label.message_threads.new.enter_subject"), size: "m" }, class: "subject-input" %>

  <p class="govuk-label govuk-label--m"><%= I18n.t("support.case.label.message_threads.new.add_recipients") %></p>
  <span class="recipient-input-group">
    <%= form.govuk_text_field :to,
          label: nil,
          prefix_text: I18n.t("support.case.label.message_threads.new.to"),
          placeholder: I18n.t("support.case.label.message_threads.new.press_enter_to_add_recipients"),
          "data-collection" => "message_reply_form_#{unique_id}[to_recipients]",
          "data-table" => "#{unique_id}_to" %>
    <button class="govuk-button"
            data-module="govuk-button"
            data-component="add-recipients"
            data-input-field=<%= "message_reply_form_#{unique_id}[to]" %>
            type="button">
      <%= I18n.t("support.case.label.message_threads.new.add_to") %>
    </button>
  </span>
  <div id="cc" hidden="true">
    <span class="recipient-input-group">
      <%= form.govuk_text_field :cc,
            label: nil,
            prefix_text: I18n.t("support.case.label.message_threads.new.cc"),
            placeholder: I18n.t("support.case.label.message_threads.new.press_enter_to_add_cc"),
            "data-collection" => "message_reply_form_#{unique_id}[cc_recipients]",
            "data-table" => "#{unique_id}_cc" %>
      <button class="govuk-button"
              data-module="govuk-button"
              data-component="add-recipients"
              data-input-field=<%= "message_reply_form_#{unique_id}[cc]" %>
              type="button">
        <%= I18n.t("support.case.label.message_threads.new.add_cc") %>
      </button>
    </span>
  </div>

  <div id="bcc" hidden="true">
    <span class="recipient-input-group">
      <%= form.govuk_text_field :bcc,
            label: nil,
            prefix_text: I18n.t("support.case.label.message_threads.new.bcc"),
            placeholder: I18n.t("support.case.label.message_threads.new.press_enter_to_add_bcc"),
            "data-collection" => "message_reply_form_#{unique_id}[bcc_recipients]",
            "data-table" => "#{unique_id}_bcc" %>
      <button class="govuk-button"
              data-module="govuk-button"
              data-component="add-recipients"
              data-input-field=<%= "message_reply_form_#{unique_id}[bcc]" %>
              type="button">
        <%= I18n.t("support.case.label.message_threads.new.add_bcc") %>
      </button>
    </span>
  </div>

  <div class="govuk-button-group">
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-component="display-cc" type="button">
      <%= I18n.t("support.case.label.message_threads.new.show_cc") %>
    </button>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-component="display-bcc" type="button">
      <%= I18n.t("support.case.label.message_threads.new.show_bcc") %>
    </button>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <table id="<%= unique_id %>_to" class="govuk-table added_recipients_table" data-row-label="TO" hidden="true">
        <tbody class="govuk-table__body">
          <% # to be populated by javascript %>
        </tbody>
      </table>
      <table id="<%= unique_id %>_cc" class="govuk-table added_recipients_table" data-row-label="CC" hidden="true">
        <tbody class="govuk-table__body">
          <% # to be populated by javascript %>
        </tbody>
      </table>
      <table id="<%= unique_id %>_bcc" class="govuk-table added_recipients_table" data-row-label="BCC" hidden="true">
        <tbody class="govuk-table__body">
          <% # to be populated by javascript %>
        </tbody>
      </table>
    </div>
  </div>

  <%= form.govuk_text_area :html_content, label: { text: I18n.t("support.case.label.messages.reply.body"), class: "govuk-!-display-none" }, rows: 8, class: "message-reply-box",
    "data-component" => "tinymce",
    "data-tinymce-profile" => "basic",
    "data-tinymce-selector" => ".message-reply-box",
    value: form.object.body
  %>

  <div class="govuk-button-group">
    <%= form.submit submit_text, class: "govuk-button", role: "button", "data-prevent-double-click" => true, "data-draft-email-target" => "btnSubmit" %>
    <%= govuk_link_to I18n.t("support.case.label.messages.reply.delete"), messages_path(message_id: params[:id], redirect_back: message_threads_path(ticket_id: @ticket.id, ticket_type: @ticket.class)), data: { turbo_method: :delete, turbo_frame: "messages-frame", turbo_confirm: I18n.t("support.case.label.messages.reply.delete_confirmation") }, no_visited_state: true %>
  </div>

  <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><%= I18n.t("support.emails.attachments.attach_files") %></h2>
  <ul class="govuk-list">
    <li><%= govuk_link_to I18n.t("support.emails.attachments.email_attachments"), attach_email_attachments_path(message_id: params[:id], back_to: back_to_url_b64, turbo_frame: "messages-frame"), no_visited_state: true, "data-draft-email-target": "emailAttachmentsLink" %></li>
    <li>
      <span class="fake-link" role="link" data-draft-email-target="btnDisplayFileDialog">
        <%= I18n.t("support.emails.attachments.files_from_your_computer") %>
      </span>
    </li>
  </ul>

  <%= render "components/draft_email_attachments" %>
<% end %>
