<%= content_for :title, "#{I18n.t("energy.confirmation.title", date: @onboarding_case.submitted_at&.strftime("%d %B %Y"))} - #{I18n.t('energy.service_name')}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        <%= I18n.t("energy.confirmation.title", date: @onboarding_case.submitted_at&.strftime("%d %B %Y")) %>
      </h1>
      <div class="govuk-panel__body">
        <%= I18n.t("energy.confirmation.case_reference_number") %><br>
        <strong><%= @case_ref_no %></strong>
      </div>
    </div>
    <p class="govuk-body"><%= I18n.t("energy.confirmation.paragraph_one", email: @onboarding_case.support_case&.email).html_safe %></p>
    <p class="govuk-body"><%= I18n.t("energy.confirmation.paragraph_two") %></p>
    <h2 class="govuk-heading-m"><%= I18n.t("energy.confirmation.next_steps") %></h2>
    <p class="govuk-body"><%= I18n.t("energy.confirmation.paragraph_three") %></p>
    <% if Flipper.enabled?(:allow_mat_flow) && @trust_code.present? %>
      <p class="govuk-body"><%= I18n.t("energy.confirmation.paragraph_four") %></p>

      <div class="govuk-button-group">
        <a href="<%= energy_mat_school_picker_path(@trust_code) %>" class="govuk-button" draggable="false">
          <%= I18n.t("energy.confirmation.switch_another_school") %>
        </a>
      </div>

      <%= render ParagraphComponent.new(text: I18n.t("energy.confirmation.paragraph_five", register_your_interest_form_url: register_your_interest_form_url)) %>
    <% else %>
      <p class="govuk-body"><a class="govuk-link" href="<%= I18n.t("energy.confirmation.link.url") %>"><%= I18n.t("energy.confirmation.link.label") %></a> <%= I18n.t("energy.confirmation.takes_five_minutes") %></p>
    <% end %>
  </div>
</div>
