<%= form_with model: @document_uploader,  scope: :document_uploader, url: evaluation_upload_completed_documents_path,
          html: current_evaluator&.evaluation_approved? ? {} : { "data-controller" => "case-files", "data-case-files-error-summary-outlet"=>".govuk-error-summary" } do |form| %>

    <h2 class="govuk-heading-m"><%= I18n.t("support.cases.upload_documents.choose_file_title") %></h2>

    <%= render "components/file_upload_errors" %>

    <%= form.govuk_error_summary %>

    <% if current_evaluator&.evaluation_approved? %>
      <span class="govuk-button govuk-button--secondary" role="button"
        data-case-files-target="btnDisplayFileDialog" disabled>
    <% else %>
      <span class="govuk-button govuk-button--secondary" role="button"
        data-case-files-target="btnDisplayFileDialog">
    <% end %>        
        <%= I18n.t("support.cases.upload_documents.button.choose_file") %>
      </span>

    <%= render "uploaded_documents" %>

    <div class="govuk-form-group govuk-!-margin-top-7">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"><%= I18n.t("evaluation.upload_evaluation.file_upload_confirmation") %></legend>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <%= form.radio_button :has_uploaded_documents, true, checked: current_evaluator.present? && current_evaluator.has_uploaded_documents == true, disabled: current_evaluator&.evaluation_approved?, class: "govuk-radios__input" %>
            <%= form.label :has_uploaded_documents, "Yes, I have uploaded all the completed documents", value: true, class: "govuk-label govuk-radios__label" %>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button :has_uploaded_documents, false, checked: current_evaluator.present? && current_evaluator.has_uploaded_documents == false, disabled: current_evaluator&.evaluation_approved?, class: "govuk-radios__input" %>
            <%= form.label :has_uploaded_documents, "No", value: false, class: "govuk-label govuk-radios__label" %>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-button-group flex-align-center">
      <%= form.submit I18n.t("generic.button.continue"), class: "govuk-button", role: "button", "data-action" => "case-files#submit", data: { disable_with: "Uploading..." }, disabled: current_evaluator&.evaluation_approved? %>
      <%= link_to I18n.t("generic.button.cancel"), @back_url, class: "govuk-link govuk-link--no-visited-state" %>
    </div>

    <%= hidden_field_tag :case_id, @current_case.id %>
    <%= form.govuk_file_field :files, multiple: true, include_hidden: false, class: "govuk-!-display-none", "data-case-files-target" => "filesField", form_group: { class: "govuk-!-display-none" } %>
    <%= form.hidden_field :edit_form, value: @uploaded_files.any? ? true: false %>
<% end %>