<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"><%= I18n.t("faf.check_answers.header") %></h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.name") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @faf_presenter.user.full_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @faf_presenter.dsi? == false %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_faf_path(@faf, step: 0), class: "govuk-link", id: "edit-name" %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.email") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @faf_presenter.user.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @faf_presenter.dsi? == false %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_faf_path(@faf, step: 0), class: "govuk-link", id: "edit-email" %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.school") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @faf_presenter.school_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
        <% if @faf_presenter.user.supported_schools.one? == false %>
          <%= link_to I18n.t("generic.button.change_answer"), edit_faf_path(@faf, step: 3), class: "govuk-link", id: "edit-school" %>
        <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.problem") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @faf_presenter.message_body %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to I18n.t("generic.button.change_answer"), edit_faf_path(@faf, step: 4), class: "govuk-link", id: "edit-message" %>
        </dd>
      </div>
    </dl>

    <p class="govuk-body">
      <%= I18n.t("faf.check_answers.response_time") %>
    </p>

    <%= button_to I18n.t("faf.check_answers.button.send"), fafs_submission_path(@faf), class: "govuk-button", method: :patch, data: { disable_with: "Submitting..." } %>

  </div>
</div>
