<%= content_for :title, I18n.t("faf_submissions.title") %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= I18n.t("faf_submissions.header.confirmation") %>
        </h1>
        <div class="govuk-panel__body">
          <%= I18n.t("faf_submissions.sub_header.confirmation") %>
          <br><strong><%= @framework_request.email %></strong>
        </div>
      </div>

      <% if @framework_request.is_energy_request %>
        <%= render "energy" %>
      <% else %>
        <%= render "default" %>
      <% end %>
    </div>
  </div>
</div>
