<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= I18n.t("faf_submissions.header.confirmation") %>
        </h1>
        <div class="govuk-panel__body">
          <%= I18n.t("faf_submissions.sub_header.confirmation") %>
          <br><strong><%= @framework_request.email %></strong>
        </div>
      </div>

      <h1 class="govuk-heading-m">
        <%= I18n.t("faf_submissions.header.what_happens_next") %>
      </h1>
      <p class="govuk-body">
        <%= I18n.t("faf_submissions.body.what_happens_next", days: 2)[0] %>
      </p>  
      <p class="govuk-body">
        <%= I18n.t("faf_submissions.body.what_happens_next")[1] %>
      </p>  
      <p class="govuk-body">
        <%= I18n.t("faf_submissions.body.what_happens_next")[2] %>
      </p>  

      <h1 class="govuk-heading-m">
        <%= I18n.t("faf_submissions.header.what_you_can_do_next") %>
      </h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <%=
            I18n.t("faf_submissions.what_you_can_do_next.read_buying_procedures",
              read_buying_procedures_link: link_to(I18n.t("faf_submissions.what_you_can_do_next.read_buying_procedures_link"), "https://buy-for-your-school-staging.herokuapp.com/beta/phase-6/gov/buying-procedures-for-schools", class: "govuk-link")
            ).html_safe
          %>
        </li>
        <li>
          <%=
            I18n.t("faf_submissions.what_you_can_do_next.read_guides",
              read_guides_link: link_to(I18n.t("faf_submissions.what_you_can_do_next.read_guides_link"), "https://buy-for-your-school-staging.herokuapp.com/beta/phase-6/gov/buying-procedures-for-schools", class: "govuk-link")
            ).html_safe
          %>
        </li>
      </ul>
    </div>
  </div>
</div>