<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= I18n.t("faf_submissions.header.confirmation") %>
        </h1>
        <div class="govuk-panel__body">
          <%= I18n.t("faf_submissions.sub_header.confirmation") %>
          <br><strong><%= @framework_request.email %></strong>
        </div>
      </div>

      <h1 class="govuk-heading-m">
        <%= I18n.t("faf_submissions.header.what_happens_next") %>
      </h1>
      <p class="govuk-body">
        <%= I18n.t("faf_submissions.body.what_happens_next", days: 2)[0] %>
      </p>  
      <p class="govuk-body">
        <%= I18n.t("faf_submissions.body.what_happens_next")[1] %>
      </p>  
      <p class="govuk-body">
        <%= I18n.t("faf_submissions.body.what_happens_next")[2] %>
      </p>  
      <p class="govuk-body">
        <%= I18n.t("faf_submissions.body.what_happens_next")[3] %>
      </p>  

      <h1 class="govuk-heading-m">
        <%= I18n.t("faf_submissions.header.what_you_can_do_next") %>
      </h1>
      
      <p class="govuk-body">
        <%= I18n.t("faf_submissions.what_you_can_do_next.list_start", guidance_link: link_to(I18n.t("faf_submissions.what_you_can_do_next.guidance_link"), "https://www.gov.uk/guidance/buying-for-schools/energy", class: "govuk-link govuk-link--no-visited-state")).html_safe %>
        <ul class="govuk-list govuk-list--bullet">
          <% for bullet in I18n.t("faf_submissions.what_you_can_do_next.bullets") %>
            <li><%= bullet %></li>
          <% end %>
        </ul>
      </p>
    </div>
  </div>
</div>