<h1 class="govuk-heading-l"><%= I18n.t("support.interaction.header.contact_with_school") %></h1>

<%= form.govuk_collection_radio_buttons :event_type, @interaction.contact_options, :id, :label,
                                        legend: { text: I18n.t("support.interaction.header.type_of_contact"), size: "m" }
%>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <%= form.label :body, I18n.t("support.interaction.label.contact_detail"), class: "govuk-label govuk-label--m" %>
  </h1>
  <div id="contact-details-hint" class="govuk-hint">
    <%= I18n.t("support.interaction.label.contact_detail_hint") %>
  </div>
  <%= form.text_area :body, class: "govuk-textarea", rows: 5 %>
</div>
