<%= link_to t("support.cases.back"), support_case_path(@interaction.case), class: "govuk-back-link" %>

<% if @interaction.errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @interaction.errors.full_messages.each do |error_message| %>
          <li>
            <%= error_message %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_with model: [@interaction.case, @interaction] do |form| %>
  <%= render "support/interactions/forms/note", form: form if option == "note" %>
  <%= render "support/interactions/forms/contact", form: form if option == "contact" %>

  <%= hidden_field_tag :option, option %>
  <%= form.submit I18n.t("generic.button.save"), class: "govuk-button", role: "button" %>
<% end %>

