<h2 class="govuk-heading-m">
  <%= I18n.t("support.case_summary_submissions.edit.header") %>
</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-5">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= I18n.t("support.case.label.source.header") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <% if @case_summary_form.source.present? %>
        <%= I18n.t("support.case.label.source.#{@case_summary_form.source}") %>
      <% else %>
        <%= I18n.t("support.case.label.source.unspecified") %>
      <% end %>
    </dd>
    <dd class="govuk-summary-list__value">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= I18n.t("support.case.label.support_level.header") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <% if @case_summary_form.support_level.present? %>
        <%= I18n.t("support.case.label.support_level.#{@case_summary_form.support_level}") %>
      <% else %>
        <%= I18n.t("support.case.label.support_level.unspecified") %>
      <% end %>
    </dd>
    <dd class="govuk-summary-list__value">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= I18n.t("support.case.label.case_value") %>
    </dt>
    <dd class="govuk-summary-list__value">
      <% if @case_summary_form.value.present? %>
        &#163;<%= @case_summary_form.value %>
      <% else %>
        <%= I18n.t("support.case.label.value.unspecified") %>
      <% end %>
    </dd>
    <dd class="govuk-summary-list__value">
    </dd>
  </div>
</dl>

<%= form_with model: @case_summary_form, scope: :case_summary_form, url: support_case_summary_submission_path(@current_case), method: :patch, class: "govuk-!-display-inline" do |form| %>
  <%= form.hidden_field :source %>
  <%= form.hidden_field :support_level %>
  <%= form.hidden_field :value %>

  <%= form.submit I18n.t("support.case_summary_submissions.edit.submit"), class: "govuk-button", role: "button" %>
<% end %>
