<div role="tabpanel" aria-labelledby="tab_case-details">
  <p class="govuk-body">
    <%= I18n.t("support.case.label.requested_at", time: current_case.received_at) %>
  </p>
  <dl class="govuk-summary-list govuk-!-margin-bottom-5">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.category") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= current_case.category.title %>
      </dd>
      <dd class="govuk-summary-list__actions">
        <%= link_to I18n.t("support.case.link.edit_category"), edit_support_case_categorisation_path(current_case), class: "govuk-link" %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.problem_description") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= current_case.request_text %>
      </dd>
      <dd class="govuk-summary-list__actions">
        <% if current_case.created_manually? %>
          <%= link_to I18n.t("support.case.link.edit_description"), edit_support_case_path(current_case), class: "govuk-link" %>
        <% end %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.attached_specification") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <% unless current_case.documents.for_rendering.any? %>
          <%= I18n.t("support.case.label.attached_specification_none") %>
        <% end %>

        <% current_case.documents.for_rendering.each.with_index(1) do |document, i| %>
          <%= link_to "specification-#{i} #{I18n.t("support.generic.link.opens_in_new_tab")}",
                support_case_document_path(@current_case, document),
                class: "govuk-link", target: "_blank", rel: "noreferrer noopener" %>
        <% end %>
      </dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>
  </dl>
</div>
