<h3 class="govuk-heading-m"><%= I18n.t("support.case.header.action") %></h3>

  <ul class="govuk-list case-actions">
    <% if @current_case.opened? %>
      <li>
        <%= link_to I18n.t("support.case.label.change_owner"), new_support_case_assignment_path(@current_case), class: "govuk-link" %>
      </li>
      <li>
        <%= link_to I18n.t("support.case.label.add_note"), new_support_case_interaction_path(@current_case, option: :note), class: "govuk-link" %>
      </li>
      <li>
        <%= link_to I18n.t("support.case.label.send_email"), new_support_case_email_type_path(@current_case), class: "govuk-link" %>
      </li>
      <li>
        <%= link_to I18n.t("support.case.label.add_interaction"), new_support_case_interaction_path(@current_case, option: :contact), class: "govuk-link" %>
      </li>
    <% end %>

    <% if @current_case.resolved? %>
      <li>
        <%= link_to I18n.t("support.case.label.reopen"), support_case_opening_path(@current_case), method: :post, class: "govuk-link" %>
      </li>
    <% else %>
      <li>
        <%= link_to I18n.t("support.case.label.resolve"), new_support_case_resolution_path(@current_case), class: "govuk-link" %>
      </li>
    <% end %>
    <% if @current_case.initial? %>
      <li>
        <%= link_to "Move emails to existing case", new_support_case_merge_emails_path(@current_case) %>
      </li>
    <% end %>
  </ul>
