<div class="govuk-tabs__panel" id="case-details" role="tabpanel" aria-labelledby="tab_case-details">
  <p class="govuk-body">
    <%= I18n.t("support.cases.labels.requested_at", time: current_case.received_at) %>
  </p>
  <dl class="govuk-summary-list govuk-!-margin-bottom-5">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.cases.labels.category") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= current_case.category.title %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.cases.labels.problem_description") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= current_case.request_text %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.cases.labels.attached_specification") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="#">
          specification-1.pdf
        </a>
      </dd>
    </div>
  </dl>
</div>
