<% subject = "Email Subject Here" %>
<h3 class="govuk-heading-m"><%= subject %></h3>

<%= render "support/cases/message_threads/#{messages.count > 4 ? "greater" : "less"}_than_four_messages", messages: messages, current_case: current_case %>

<%
=begin%>
 <% unless messages.empty? %>
  <table class="govuk-table messages-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header name-column"><%= I18n.t("support.case.label.messages.table.added_by") %></th>
        <th class="govuk-table__header"><%= I18n.t("support.case.label.messages.table.message") %></th>
        <th class="govuk-table__header date-column"><%= I18n.t("support.case.label.messages.table.date") %></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% messages.each do |message| %>
        <% email = message.email %>
        <% if email.present? %>
          <%= render "support/cases/messages/outlook_message", message: message %>
        <% else %>
          <%= render "support/cases/messages/message", message: message %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

FIX ME TO BE REPLY
<%= render "support/cases/messages/replies/form", reply: false %>
<%
=end%>
