<div role="tabpanel" aria-labelledby="pd-procurement">
  <% if @current_case.procurement %>
    <h2 class="govuk-heading-m"><%= I18n.t("support.case.header.procurement_detail") %> - <%= link_to I18n.t("support.case.label.procurement_details.change"), edit_support_case_procurement_details_path(@current_case), class: "govuk-link"%></h2>
  <% else %>
    <h2 class="govuk-heading-m"><%= I18n.t("support.case.header.procurement_detail") %></h2>
  <% end %>
    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.required_agreement_type") %>
        </dt>
        <dt class="govuk-summary-list__value">
          <%= @current_case.procurement&.required_agreement_type %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.route_to_market") %>
        </dt>
        <dt class="govuk-summary-list__value">
          <%= @current_case.procurement&.route_to_market %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.reason_for_route_to_market") %>
        </dt>
        <dt class="govuk-summary-list__value">
          <%= @current_case.procurement&.reason_for_route_to_market %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.framework_name") %>
        </dt>
        <dt class="govuk-summary-list__value">
          <%= @current_case.procurement&.framework_name %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.procurement_start_date") %>
        </dt>
        <dt class="govuk-summary-list__value">
          <%= @current_case.procurement&.started_at %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.procurement_end_date") %>
        </dt>
        <dt class="govuk-summary-list__value">
          <%= @current_case.procurement&.ended_at %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.procurement_stage") %>
        </dt>
        <dt class="govuk-summary-list__value">
          <%= @current_case.procurement&.stage %>
        </dt>
      </div>
    </dl>
</div>

<div role="tabpanel" aria-labelledby="pd-existing-contract">
  <h2 id="pd-existing-contract" class="govuk-heading-m">Existing contract details
  <%= link_to I18n.t("support.case.label.procurement_details.change"), edit_support_case_existing_contract_path(@current_case), class: "govuk-link" %></h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.end_date") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.contract_duration") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.contract_spend") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.supplier") %>
        </dt>
      </div>
    </dl>
</div>

<div role="tabpanel" aria-labelledby="pd-new-contract">
  <h2 id="pd-new-contract" class="govuk-heading-m">New contract details
  <%= link_to I18n.t("support.case.label.procurement_details.change"), edit_support_case_new_contract_path(@current_case), class: "govuk-link"%></h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.start_date") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.contract_duration") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.contract_spend") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.supplier") %>
        </dt>
      </div>
    </dl>
</div>

<div role="tabpanel" aria-labelledby="pd-savings">
  <h2 id="pd-savings" class="govuk-heading-m">Saving details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.saving_status") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.saving_estimate_method") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.saving_actual_method") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.saving_estimate") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.saving_actual") %>
        </dt>
      </div>
    </dl>
</div>