<div class="govuk-tabs__panel" id="procurement-details" role="tabpanel" aria-labelledby="tab_procurement-details">
  <h2 class="govuk-heading-m">Procurement details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.required_agreement_type") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.route_to_market") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.reason_for_route_to_market") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.framework_name") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_start_date") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_end_date") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_stage") %>
        </dt>
      </div>
    </dl>
</div>

<div class="govuk-tabs__panel" id="procurement-details" role="tabpanel" aria-labelledby="tab_procurement-details">
  <h2 class="govuk-heading-m">Existing contract details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.end_date") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.contract_duration") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.contract_spend") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.supplier") %>
        </dt>
      </div>
    </dl>
</div>

<div class="govuk-tabs__panel" id="procurement-details" role="tabpanel" aria-labelledby="tab_procurement-details">
  <h2 class="govuk-heading-m">New contract details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.start_date") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.contract_duration") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.contract_spend") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.supplier") %>
        </dt>
      </div>
    </dl>
</div>

<div class="govuk-tabs__panel" id="procurement-details" role="tabpanel" aria-labelledby="tab_procurement-details">
  <h2 class="govuk-heading-m">Saving details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.saving_status") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.saving_estimate_method") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.saving_actual_method") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.saving_estimate") %>
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.saving_actual") %>
        </dt>
      </div>
    </dl>
</div>