<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= link_to kase.organisation_name, support_case_path(kase.id), class: "govuk-link--no-visited-state" %>
  </td>

  <td class="govuk-table__cell"><%= kase.category.name %></td>

  <td class="govuk-table__cell">
    <strong class="govuk-tag govuk-tag--green">
      <%= kase.state %>
    </strong>
  </td>

  <% if %i[all_cases].include?(tab) %>
    <td class="govuk-table__cell"><%= kase.agent_name %></td>
  <% end %>

  <% if %i[my_cases all_cases].include?(tab) %>
    <td class="govuk-table__cell"><%= kase.last_updated_at %></td>
  <% end %>

  <% if %i[new_cases].include?(tab) %>
    <td class="govuk-table__cell"><%= kase.received_at %></td>
  <% end %>
</tr>
