<div class="govuk-tabs__panel" id="school-details" role="tabpanel" aria-labelledby="tab_school-details">
  <dl class="govuk-summary-list govuk-!-margin-bottom-5">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.contact_name") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= current_case.full_name %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.contact_phone") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= current_case.phone_number %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.contact_email") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= current_case.email %>
      </dd>
    </div>
  </dl>

  <% if current_case.organisation.urn.present? %>
    <p class="govuk-body">
      <%= link_to I18n.t("support.case.link.view_school_information"),
          "https://www.get-information-schools.service.gov.uk/Establishments/Establishment/Details/#{current_case.organisation.urn}",
          class: "govuk-link", target: "_blank", rel: "noreferrer noopener"
      %>
    </p>
  <% end %>
</div>
