<%= link_to I18n.t("support.case.label.create"), new_support_case_path, class: "govuk-button", "role" => "button" %>

<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#my-cases"><%= I18n.t("support.case.list.my_cases") %></a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#tower"><%= I18n.t("support.case.list.tower") %></a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#new-cases"><%= I18n.t("support.case.list.new_cases") %></a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#all-cases"><%= I18n.t("support.case.list.all_cases") %></a>
    </li>
  </ul>

  <%= render "support/cases/index/my_cases" %>
  <%= render "support/cases/index/tower" %>
  <%= render "support/cases/index/new_cases" %>
  <%= render "support/cases/index/all_cases" %>
</div>
