<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#my-cases">
        <%= I18n.t("support.cases.lists.my_cases") %>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#new-cases">
        <%= I18n.t("support.cases.lists.new_cases") %>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#all-cases">
        <%= I18n.t("support.cases.lists.all_cases") %>
      </a>
    </li>
  </ul>

  <div class="govuk-tabs__panel" id="my-cases">
    <h2 class="govuk-heading-l"><%= I18n.t("support.cases.lists.my_cases") %></h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <% if @cases.none? %>
          <h1 class="govuk-heading-l">
            <%= I18n.t("support.cases.lists.not_found") %>
          </h1>
        <% else %>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.organisation") %>
                </th>
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.category") %>
                </th>
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.status") %>
                </th>
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.last_updated") %>
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <% @cases.each do |kase| %>
                <%= render "row", kase: kase, tab: :my_cases %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="new-cases">
    <h2 class="govuk-heading-l"><%= I18n.t("support.cases.lists.new_cases") %></h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <% if @cases.none? %>
          <h1 class="govuk-heading-l">
            <%= I18n.t("support.cases.lists.not_found") %>
          </h1>
        <% else %>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.organisation") %>
                </th>
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.category") %>
                </th>
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.status") %>
                </th>
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.date_received") %>
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <% @cases.each do |kase| %>
                <%= render "row", kase: kase, tab: :new_cases %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="all-cases">
    <h2 class="govuk-heading-l"><%= I18n.t("support.cases.lists.all_cases") %></h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <% if @cases.none? %>
          <h1 class="govuk-heading-l">
            <%= I18n.t("support.cases.lists.not_found") %>
          </h1>
        <% else %>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.organisation") %>
                </th>
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.category") %>
                </th>
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.status") %>
                </th>
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.assigned_to") %>
                </th>
                <th class="govuk-table__header" scope="col">
                  <%= I18n.t("support.cases.labels.last_updated") %>
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <% @cases.each do |kase| %>
                <%= render "row", kase: kase, tab: :all_cases %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
