<h1 class="govuk-heading-l govuk-!-margin-bottom-0">
  <%= @current_case.org_name %>
</h1>
<strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-7 ">
  <%= I18n.t("support.case.label.state.state_#{@current_case.state.downcase}") %>
</strong>
<h3 id="case-ref" class="govuk-heading-m">
  <%= @current_case.ref %>
</h3>


<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#school-details">
        <%= I18n.t("support.case.header.school_detail") %>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#case-details">
        <%= I18n.t("support.case.header.case_detail") %>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#case-history">
        <%= I18n.t("support.case.header.case_history") %>
      </a>
    </li>
  </ul>

  <%= render "school_details", current_case: @current_case %>
  <%= render "case_details", current_case: @current_case %>


  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-history">
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-case-history">
      <% if @current_case.agent.present? %>
      <p class="govuk-body">
        <%= I18n.t("support.case.label.case_owner", owner: @current_case.agent_name ) %>
        <%= link_to I18n.t("support.case.label.change_case_owner"), new_support_case_assignment_path(@current_case) %>
      </p>
    <% end %>

      <%= render partial: "support/cases/case_history/interaction", collection: @current_case.interactions %>

      <%# Only cases from Specify are initiated by a support request %>
      <% if @current_case.support_request.present? %>
        <%= render "support/cases/case_history/support_request", support_request: @current_case.support_request %>
      <% end %>

    </div>
  </div>
</div>

<h3 class="govuk-heading-m"><%= I18n.t("support.case.header.action") %></h3>

<ul class="govuk-list case-actions">
  <% if @current_case.opened? %>
    <li>
      <%= link_to I18n.t("support.case.label.change_owner"), new_support_case_assignment_path(@current_case), class: "govuk-link" %>
    </li>
    <li>
      <%= link_to I18n.t("support.case.label.add_note"), new_support_case_interaction_path(@current_case, option: :note), class: "govuk-link" %>
    </li>
    <li>
      <%= link_to I18n.t("support.case.label.send_email"), new_support_case_email_type_path(@current_case), class: "govuk-link" %>
    </li>
    <li>
      <%= link_to I18n.t("support.case.label.add_interaction"), new_support_case_interaction_path(@current_case, option: :contact), class: "govuk-link" %>
    </li>
  <% else %>
    <li>
      <%= link_to I18n.t("support.case.label.assign_to_agent"), new_support_case_assignment_path(@current_case), class: "govuk-link" %>
    </li>
  <% end %>

  <% if @current_case.resolved? %>
    <li>
      <%= link_to I18n.t("support.case.label.reopen"), "#", class: "govuk-link" %>
    </li>
  <% else %>
    <li>
      <%= link_to I18n.t("support.case.label.resolve"), new_support_case_resolution_path(@current_case), class: "govuk-link" %>
    </li>
  <% end %>
</ul>
