<h1 class="govuk-heading-l">
  <%= @current_case.organisation_name %>
</h1>
<div class="govuk-!-margin-bottom-7">
  <%= render "status_badge", kase: @current_case %>
</div>
<p class="govuk-body" id="case-ref">
  <strong><%= @current_case.ref %></strong>
  <%= "Case owner: #{@current_case.agent.full_name}" if @current_case.agent %>
</p>

<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#school-details">
        <%= I18n.t("support.case.header.school_detail") %>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#case-details">
        <%= I18n.t("support.case.header.case_detail") %>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#messages">
        <%= I18n.t("support.case.header.messages") %>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#case-history">
        <%= I18n.t("support.case.header.case_history") %>
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#case-attachments">
        <%= I18n.t("support.case.header.case_attachments") %>
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="school-details" role="tabpanel" aria-labelledby="tab_school-details">
    <%= render "school_details", current_case: @current_case %>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-details">
    <%= render "case_details", current_case: @current_case %>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="messages">
    <%= render "messages", messages: @current_case.message_interactions, current_case: @current_case %>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-history">
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-case-history">
      <%= render partial: "support/cases/case_history/interaction", collection: @current_case.case_history_interactions, locals: { current_case: @current_case } %>

      <%# Only cases from Specify are initiated by a support request %>
      <% if @current_case.support_request.present? %>
        <%= render "support/cases/case_history/support_request", support_request: @current_case.support_request %>
      <% end %>

    </div>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-attachments">
    <%= render "case_attachments", current_case: @current_case %>
  </div>
</div>

<%= render "case_actions" unless @current_case.closed?  %>
