<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    <%= I18n.t("support.case_merge_emails.show.header") %>
  </h1>
  <div class="govuk-panel__body">
    <p>
      <%= I18n.t("support.case_merge_emails.show.body.moved") %>
    </p>

    <p class="govuk-!-font-weight-bold">
      <%= I18n.t("support.case_merge_emails.show.body.evaluation_framework", evaluation_ref: @destination.ref, framework: @destination.framework&.name) %>
    </p>

    <p class="govuk-!-font-weight-bold">
      <%= I18n.t("support.case_merge_emails.show.body.assigned", agent: @destination.assignee.full_name) %>
    </p>
  </div>
</div>
<p class="govuk-body">
  <%= I18n.t("support.case_merge_emails.show.body.closed", case_ref: @current_case.ref) %>
</p>

<p class="govuk-heading-m">
  <%= I18n.t("support.case_merge_emails.show.links.actions") %>
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <%= link_to I18n.t("support.case_merge_emails.show.links.this_evaluation", evaluation_ref: @destination.ref), frameworks_evaluation_path(@destination), class: "govuk-link"  %>
  </li>
  <li>
    <%= link_to I18n.t("support.case_merge_emails.show.links.notifications"), support_notifications_path, class: "govuk-link"  %>
  </li>
  <li>
    <%= link_to I18n.t("support.case_merge_emails.show.links.my_cases"), support_cases_path, class: "govuk-link"  %>
  </li>
</ul>
