<%= form_with model: @case_email_mover,
              scope: :case_email_mover,
              url: support_case_move_emails_confirm_path do |form|
%>

  <%= form.govuk_error_summary %>

  <h1 class="govuk-heading-l"> <%= I18n.t("support.case_merge_emails.search.header") %> </h1>
  <p class="govuk-body-m"> <%= I18n.t("support.case_merge_emails.search.subtitle") %> </p>
  <span class="govuk-caption-m"> <%= I18n.t("support.case_merge_emails.search.hint") %> </span>

  <%=
    render "components/autocomplete",
      container_id: "case-autocomplete-container",
      label_class: "nil",
      label_text: nil,
      element_id: "case-autocomplete",
      element_name: "case_email_mover[destination_ref]",
      template_field: :source,
      templates: {
        "Support::Case" => "{{reference}}, <strong>{{organisation_name}}</strong>, {{organisation_urn}}/{{organisation_ukprn}}, {{agent_name}}",
        "Frameworks::Evaluation" => "{{reference}}, <strong>{{framework_name}}</strong>, {{framework_provider}}, {{agent_name}}"
      },
      value_field: :reference,
      hidden_fields: {
          "case_email_mover[destination_id]" => :id,
          "case_email_mover[destination_type]" => :source
      },
      query_url: tickets_path(format: :json, q: "{{QUERY}}")
  %>

  <%= form.submit I18n.t("support.generic.continue"), class: "govuk-button" %>
<% end %>
