<%= link_to "Add Evaluation", new_frameworks_evaluation_path(framework_id: @framework.id, back_to: current_url_b64(:framework_evaluations)), class: "govuk-button", "data-turbo" => false %>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Case ID</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Assignee</th>
      <th scope="col" class="govuk-table__header">Last Updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @framework.evaluations.each do |evaluation| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= link_to evaluation.reference, frameworks_evaluation_path(evaluation, back_to: current_url_b64(:framework_evaluations)), class: "govuk-link", "data-turbo" => false %></td>
        <td class="govuk-table__cell"><%= evaluation.display_status %></td>
        <td class="govuk-table__cell"><%= evaluation.display_assignee %></td>
        <td class="govuk-table__cell"><%= evaluation.display_last_updated %></td>
      </tr>
    <% end %>
  </tbody>
</table>
