<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @organisation_detail.name%>: <%= I18n.t("energy.gas_meter_details.title") %></span>
    <h1 class="govuk-heading-l">
       <%= I18n.t("energy.gas_meter_details.remove_page.heading") %>
    </h1>

    <div class="govuk-button-group flex-align-center">
      <%= link_to I18n.t("energy.gas_meter_details.remove_page.remove_mprn"),
                  energy_case_org_gas_meter_path(@gas_meter_detail, case_id: @onboarding_case_organisation.energy_onboarding_case_id, org_id: @onboarding_case_organisation.onboardable_id,  confirm: true, **@routing_flags),
                  method: :delete,
                  class: "govuk-button govuk-button--warning remove_meter" %>

      <%= link_to I18n.t("generic.button.cancel"),
                  energy_case_org_gas_meter_index_path(**@routing_flags),
                  class: "govuk-link govuk-link--no-visited-state" %>
    </div>

  </div>
</div>