<%= content_for :title, I18n.t("energy.gas_meter_details.heading") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @organisation_detail.name%>: <%= I18n.t("energy.gas_meter_details.title") %></span>
    <h1 class="govuk-heading-l"><%= I18n.t("energy.gas_meter_details.heading") %></h1>

    <%= render "form" %>
  </div>
</div>