<%= content_for :title, @step.title %>

<h1 class="govuk-heading-xl"><%= @step.title %></h1>

<div class="govuk-body">
  <%= @step.body_html %>
</div>

<%= form_for @step.task, as: :task, method: "put", url: journey_step_answer_path(@journey, @step) do |f| %>
  <%= f.submit @step.primary_call_to_action_text, class: "govuk-button" %>
<% end %>
