<%= render layout: layout do |f| %>
  <%= f.hidden_field :response, value: nil %>
  <%= f.govuk_radio_buttons_fieldset(:response, legend: { size: "l", text: @step.title }) do %>
    <% if @step.help_text.present? %>
      <div class="govuk-hint">
        <%= @step.help_text_html %>
      </div>
    <% end %>

    <%# NOTE: Add validation that radios/checkboxes have `options` - alert content designers to this in the journey_map %>
    <% @step.options.each do |option| %>
      <% machine_value = machine_readable_option(string: option["value"]) %>

      <% f.object = monkey_patch_form_object_with_further_information_field(form_object: f.object, associated_choice: machine_value) %>

      <% if option.fetch("separated_by_or", nil) == true %>
        <div class="govuk-radios__divider">or</div>
      <% end %>
      <% if option["display_further_information"] %>
        <%= f.govuk_radio_button :response, option["value"], label: { text: option["value"] }, hint: { text: option["help_text"] } do %>
          <% if option["display_further_information"] == "single" || option["display_further_information"] == true %>
            <%= f.govuk_text_field "#{machine_value}_further_information", label: { text: option.fetch("further_information_help_text", "Optional further information"), hidden: !option.keys.include?("further_information_help_text") } %>
          <% elsif option["display_further_information"] == "long" %>
            <%= f.govuk_text_area "#{machine_value}_further_information", rows: 6, label: { text: option.fetch("further_information_help_text", "Optional further information"), hidden: !option.keys.include?("further_information_help_text") } %>
          <% end %>
        <% end %>
      <% else %>
        <%# NOTE: We have to include this if there is no block given, selecting an option causes a page jump as a conditional element is toggled by the form builder %>
        <%= f.govuk_radio_button :response, option["value"], label: { text: option["value"] }, hint: { text: option["help_text"] } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
