<%= render layout: layout do |f| %>
  <%= f.hidden_field :response, value: nil %>
  <%= f.govuk_radio_buttons_fieldset(:response, legend: { size: 'm', text: @step.title }) do %>
    <% if @step.help_text.present? %>
      <span class="govuk-hint">
        <%= @step.help_text %>
      </span>
    <% end %>
    <% @step.options.each do |option| %>
      <%= f.govuk_radio_button :response, option["value"].downcase, label: { text: option["value"] } %>
    <% end %>
  <% end %>
<% end %>
