<%= render layout: layout do |f| %>
  <%= f.hidden_field :response, value: nil %>
  <%= f.govuk_radio_buttons_fieldset(:response, legend: { size: 'xl', text: @step.title }) do %>
    <% if @step.help_text.present? %>
      <span class="govuk-hint">
        <%= @step.help_text %>
      </span>
    <% end %>

    <% @step.options.each do |option| %>
      <% if option["display_further_information"] == true %>
        <%= f.govuk_radio_button :response, option["value"].downcase, label: { text: option["value"] }, hint: { text: option["help_text"] } do %>
          <%= f.govuk_text_area :further_information, rows: 1, label: { text: option["further_information_help_text"] } %>
        <% end %>
      <% else %>
        <%= f.govuk_radio_button :response, option["value"].downcase, label: { text: option["value"] }, hint: { text: option["help_text"] } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
