<%= content_for :title, I18n.t("faf.search_for_a_group.title") %>

<span class="govuk-caption-l">
  <%= I18n.t("faf.search_for_a_group.caption") %>
</span>
<h1 class="govuk-heading-l">
  <%= I18n.t("faf.search_for_a_group.heading") %>
</h1>

<%= render "components/autocomplete",
      container_id: "framework-request-form-group-uid-field",
      label_text: I18n.t("faf.search_for_a_group.hint"),
      label_class: "govuk-hint",
      element_id: "framework-support-form-group-uid-field",
      element_name: "framework_support_form[group_uid]",
      template_suggestion: "UID: {{uid}}, <strong>{{name}}</strong>, UKPRN: {{ukprn}}",
      value_field: :formatted_name,
      default_value: form.object.group_uid,
      query_url: support_establishment_groups_path(format: :json, q: "{{QUERY}}") %>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= I18n.t("faf.search_for_a_group.details.summary") %>
    </span>
  </summary>

  <%
    text = I18n.t "faf.search_for_a_group.details.search_for_a_school_link"

    link =
      if @framework_request&.persisted?
        link_to text, edit_framework_request_path(@framework_request, step: 3, group: false), class: "govuk-link"
      else
        link_to text, framework_requests_path(framework_support_form: form.object.find_school), method: :post, class: "govuk-link"
      end

    for body in I18n.t "faf.search_for_a_group.details.body", search_for_a_school_link: link
  %>
    <div class="govuk-details__text">
      <%= body.html_safe %>
    </div>
  <% end %>
</details>
