<!-- first name and last name (5) -->

<%= form.hidden_field :dsi, value: form.object.dsi %>
<%= form.hidden_field :group, value: form.object.group %>
<%= form.hidden_field :school_urn, value: form.object.school_urn %>
<%= form.hidden_field :group_uid, value: form.object.group_uid %>

<%= content_for :title, I18n.t("faf.name.title") %>

<span class="govuk-caption-l">
  <%= I18n.t("faf.name.subtitle") %>
</span>

<h1 class="govuk-heading-l">
  <%= I18n.t("faf.name.title") %>
</h1>

<%= form.govuk_text_field :first_name, autofocus: true, label: { text: I18n.t("faf.name.first_name.label") } %>

<%= form.govuk_text_field :last_name, label: { text: I18n.t("faf.name.last_name.label") } %>
