<h1 class="govuk-heading-l">
  <%= I18n.t("support.case_request_details.check_answers.title") %>
</h1>

<%= form_with model: @case_request_details_form, scope: :case_request_details_form, url: support_case_request_details_path(@current_case, confirm: true), method: :patch do |form| %>
  <% params[:case_request_details_form].each do |key, value| %>
    <%= form.hidden_field key, value: value %>
  <% end %>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case_request_details.check_answers.type") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @case_request_details_form.type %>
      </dd>
      <dd class="govuk-summary-list__actions">
        <%= form.button I18n.t("support.case_request_details.check_answers.change"), class: "govuk-link link-styled-button", value: "change" %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case_request_details.check_answers.#{@case_request_details_form.request_type ? "sub_category" : "query"}") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @case_request_details_form.send(@case_request_details_form.request_type ? "category_name" : "query_name") %>
      </dd>
      <dd class="govuk-summary-list__actions">
        <%= form.button I18n.t("support.case_request_details.check_answers.change"), class: "govuk-link link-styled-button", value: "change" %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.new.request_text.header") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @case_request_details_form.request_text %>
      </dd>
      <dd class="govuk-summary-list__actions">
        <%= form.button I18n.t("support.case_request_details.check_answers.change"), class: "govuk-link link-styled-button", value: "change" %>
      </dd>
    </div>
  </dl>

  <%= form.submit I18n.t("support.case_request_details.check_answers.submit"), class: "govuk-button", role: "button" %>
<% end %>
