<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= I18n.t("support_request_submissions.header.confirmation") %>
        </h1>
        <div class="govuk-panel__body">
          <%= I18n.t("support_request_submissions.sub_header.confirmation") %>
          <br><strong><%= @support_request.email %></strong>
        </div>
      </div>

      <h1 class="govuk-heading-m">
        <%= I18n.t("support_request_submissions.header.what_happens_next") %>
      </h1>
      <p class="govuk-body">
        <%= I18n.t("support_request_submissions.body.what_happens_next", days: 2) %>
      </p>

      <h1 class="govuk-heading-m">
        <%= I18n.t("support_request_submissions.header.what_you_can_do_next") %>
      </h1>
      <p class="govuk-body">
        <% if @support_request.journey %>
          <%=
            I18n.t("support_request_submissions.body.what_you_can_do_next",
              continue_link: link_to(I18n.t("support_request_submissions.what_you_can_do_next.continue_link"), journey_path(@support_request.journey), class: "govuk-link"),
              start_new_link: link_to(I18n.t("support_request_submissions.what_you_can_do_next.start_new_link"), dashboard_path, class: "govuk-link")
            ).html_safe
          %>
        <% else %>
          <%= link_to I18n.t("support_request_submissions.what_you_can_do_next.start_new_link"), dashboard_path, class: "govuk-link" %>
        <% end %>
      </p>

      <p class="govuk-body">
        <%= I18n.t("support_request_submissions.header.you_can_also") %>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <%=
            I18n.t("support_request_submissions.you_can_also.step_one",
              read_procs_link: link_to(I18n.t("support_request_submissions.you_can_also.read_procs_link"), "https://www.gov.uk/guidance/buying-procedures-and-procurement-law-for-schools", class: "govuk-link")
            ).html_safe
          %>
        </li>
        <li>
          <%=
            link_to(I18n.t("support_request_submissions.you_can_also.read_guides_link"), "https://www.gov.uk/guidance/buying-for-schools-things-to-consider-before-you-start", class: "govuk-link").html_safe
          %>
        </li>
      </ul>

      <%= button_to I18n.t("support_request_submissions.back_button"), dashboard_path,
        class: "govuk-button", "data-module" => "govuk-button", method: :get
      %>

    </div>
  </div>
</div>
