<%= button_to I18n.t("support.case.label.create"), engagement_case_requests_path, class: "govuk-button" %>

<div class="govuk-tabs" data-module="govuk-tabs" data-component="select-tab">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <%= link_to I18n.t("support.case.list.my_cases"), "#my-cases", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <%= link_to "All cases", "#all-cases", class: "govuk-tabs__tab" %>
    </li>
  </ul>

  <%= render "engagement/cases/index/tab_my_cases" %>
  <%= render "engagement/cases/index/tab_all_cases" %>
</div>
