<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-attachments">
  <h2 class="govuk-heading-l">
    <%= I18n.t("support.case.header.case_attachments") %>
  </h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header"><%= I18n.t("support.case.label.attachments.table.attachment_name") %></th>
        <th class="govuk-table__header"><%= I18n.t("support.case.label.attachments.table.description") %></th>
        <th class="govuk-table__header"><%= I18n.t("support.case.label.attachments.table.date_added") %></th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <% current_case.case_attachments.each do |attachment| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row"><%= link_to attachment.name, support_document_download_path(attachment, type: attachment.class), class: "govuk-link" %></th>
          <td class="govuk-table__cell"><%= attachment.description %></td>
          <td class="govuk-table__cell"><%= attachment.created_at.strftime("%d %B %Y %H:%M") %></td>
        </tr>
      <% end %>
      <% current_case.energy_bills.each do |energy_bill| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row"><%= link_to energy_bill.filename, support_document_download_path(energy_bill, type: energy_bill.class), class: "govuk-link" %></th>
          <td class="govuk-table__cell"><%= I18n.t("support.case.label.attachments.table.energy_bill") %></td>
          <td class="govuk-table__cell"><%= energy_bill.created_at.strftime("%d %B %Y %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
