<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-details">
  <h2 class="govuk-heading-l">
    <%= I18n.t("support.case.header.case_detail") %>
  </h2>

  <div role="tabpanel" aria-labelledby="tab_case-details" id="case_details_sections">
    <h3 class="govuk-heading-m">
      <%= I18n.t("support.case.case_details.case_summary.heading") %>
      - <%= link_to I18n.t("support.case.link.change"), edit_support_case_summary_path(current_case), class: "govuk-link govuk-link--no-visited-state" %>
    </h3>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <% if current_case.category.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case.label.sub_category") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= current_case.category.title %><%= " - #{current_case.other_category}" if current_case.other_category.present? %>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.support_level.header") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if current_case.support_level.present? %>
            <%= I18n.t("support.case.label.support_level.#{current_case.support_level}") %>
          <% else %>
            <%= I18n.t("support.case.label.support_level.unspecified") %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <% if current_case.procurement_stage.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case.label.procurement_stage") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= current_case.procurement_stage.detailed_title %>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.case_value") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.value %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.discovery_method.field") %>
        </dt>
        <dd class="govuk-summary-list__value">
					<% if current_case.discovery_method.present? %>
            <%= I18n.t("support.case.label.discovery_method.#{current_case.discovery_method}") %>
						<%= if current_case.other? && !current_case.discovery_method_other_text.empty? then "- #{current_case.discovery_method_other_text}" end %>
					<% else %>
						<%= "Unknown" %>
					<% end %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.source.header") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if current_case.source.present? %>
            <%= I18n.t("support.case.label.source.#{current_case.source}") %>
          <% else %>
            <%= I18n.t("support.case.label.source.unspecified") %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.project.header") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <% if current_case.project.present? %>
          <%= current_case.project %>
        <% else %>
          <%= I18n.t("support.case.label.project.unspecified") %>
        <% end %>
      </dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.problem_description") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= simple_format(current_case.request_text, class: "govuk-body") %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.next_key_date.full_label") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.next_key_date_formatted %>
          <%= current_case.next_key_date_description_formatted %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>

    <h3 id="procurement-details-procurement" class="govuk-heading-m">
      <%= I18n.t("support.case.header.procurement_detail") %>
      <% if current_case.procurement %>
        - <%= link_to I18n.t("support.case.link.change"), edit_support_case_procurement_details_path(current_case), class: "govuk-link govuk-link--no-visited-state"%>
      <% end %>
    </h3>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.required_agreement_type") %>
        </dt>
        <dt class="govuk-summary-list__value">
          <%= current_case.procurement&.required_agreement_type %>
        </dt>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.route_to_market") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.procurement&.route_to_market %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.reason_for_route_to_market") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.procurement&.reason_for_route_to_market %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <% if current_case.procurement&.framework %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case.label.procurement_details.legacy_framework_name") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= current_case.procurement.framework.name %>, <%= current_case.procurement.framework.category %>
          </dd>
        </div>
      <% end %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.framework_name") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if current_case.procurement&.register_framework %>
            <%= govuk_link_to current_case.procurement&.register_framework&.reference_and_name, frameworks_framework_path(current_case.procurement&.register_framework, back_to: current_url_b64(:case_details)), no_visited_state: true %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.procurement_start_date") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.procurement&.started_at %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.procurement_end_date") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.procurement&.ended_at %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <% if current_case.procurement&.stage.present? && current_case.procurement&.stage != "Need" %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case.label.procurement_details.legacy_procurement_stage") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= current_case.procurement&.stage %>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      <% end %>
    </dl>

    <h3 id="pd-existing-contract" class="govuk-heading-m">
      Existing contract details -
      <%= link_to I18n.t("support.case.link.change"), edit_support_case_contract_path(current_case, current_case.existing_contract), class: "govuk-link govuk-link--no-visited-state" %>
    </h3>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="pd-existing-contract-details">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.end_date") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.existing_contract&.ended_at %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.contract_duration") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.existing_contract&.duration %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.contract_spend") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.existing_contract&.spend %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.supplier") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.existing_contract&.supplier %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>

    <h3 id="pd-new-contract" class="govuk-heading-m">
      New contract details -
      <%= link_to I18n.t("support.case.link.change"), edit_support_case_contract_path(current_case, current_case.new_contract_id), class: "govuk-link govuk-link--no-visited-state"%>
    </h3>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="pd-new-contract-details">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.start_date") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.new_contract&.started_at %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.contract_duration") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.new_contract&.duration %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.contract_spend") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.new_contract&.spend %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.supplier") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.new_contract&.supplier %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>

    <h3 id="pd-savings" class="govuk-heading-m">
      <%= I18n.t("support.case_savings.show.header") %> - <%= link_to I18n.t("support.case_savings.show.link"), edit_support_case_savings_path(current_case), class: "govuk-link"%>
    </h3>
    <dl class="govuk-summary-list" id="pd-savings-details">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.savings_status") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.savings_status %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.savings_estimate_method") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.savings_estimate_method %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.savings_actual_method") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.savings_actual_method %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.savings_estimate") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.savings_estimate %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.procurement_details.savings_actual") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= current_case.savings_actual %>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
  </div>
</div>
