<% tab = defined?(tab) ? tab : nil %>
<% tab_url = ->(anchor) { "##{anchor}" } %>

<% content_for :title do %>
  Buy for your school | Case <%= @current_case.ref %>
<% end %>

<h1 class="govuk-heading-l">
  <%= @current_case.organisation_name %>
</h1>

<%= turbo_stream_from "case_status_updates" %>

<div id="case-badges" class="flex-gap-5px govuk-!-margin-bottom-7">
  <%= render "support/cases/status_badge", state: @current_case.state %>
  <%= render "support/cases/with_school_badge" if @current_case.with_school %>
  <%= render "support/cases/accessibility_flag" if @current_case.has_special_requirements? %>
  <%= render "support/cases/action_flag", badge: true if @current_case.action_required? && !@current_case.closed? %>
</div>

<p class="govuk-body" id="case-ref">
  <strong><%= @current_case.ref %></strong>
  <%= "Case owner: #{@current_case.agent.full_name}" if @current_case.agent %>
</p>

<div class="govuk-tabs" data-module="govuk-tabs" data-component="select-tab">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item <%= "govuk-tabs__list-item--selected" if tab == "school_detail" || tab.nil? %>">
      <%= link_to I18n.t("support.case.header.school_detail"), "#school-details", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item <%= "govuk-tabs__list-item--selected" if tab == "case_detail" %>">
      <%= link_to I18n.t("support.case.header.case_detail"), "#case-details", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item <%= "govuk-tabs__list-item--selected" if tab == "request_details" %>">
      <%= link_to I18n.t("support.case.header.request"), "#request-details", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item <%= "govuk-tabs__list-item--selected" if tab == "messages" %>">
      <%= link_to I18n.t("support.case.header.messages"), "#messages", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item <%= "govuk-tabs__list-item--selected" if tab == "case_history" %>">
      <%= link_to I18n.t("support.case.header.case_history"), "#case-history", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item <%= "govuk-tabs__list-item--selected" if tab == "case_attachments" %>">
    <%= link_to I18n.t("support.case.header.case_attachments"), "#case-attachments", class: "govuk-tabs__tab" %>
    </li>
    <li class="govuk-tabs__list-item <%= "govuk-tabs__list-item--selected" if tab == "case_files" %>">
      <%= link_to I18n.t("support.case.header.case_files"), "#case-files", class: "govuk-tabs__tab" %>
    </li>
  </ul>

  <%= yield %>
</div>

<%= render "support/cases/show/case_actions" unless @current_case.closed? %>

