<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tasklist">
  <h2 class="govuk-heading-l">
    <%= I18n.t("support.case.header.procurement_task_list") %>
  </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
        <%= I18n.t("support.case.label.tasklist.complete_evaluation") %>
      </h3>
      <%= govuk_task_list(id_prefix: "complete-evaluation") do |task_list|
        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.add_evaluators"), href: support_case_evaluators_path(@current_case), status: @current_case.evaluators.present? ? govuk_tag(text: I18n.t("support.case.label.tasklist.status.complete"), colour: "green") : govuk_tag(text: I18n.t("support.case.label.tasklist.status.to_do")))
        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.set_due_date"), href: edit_support_case_evaluation_due_dates_path(@current_case), status: @current_case.evaluation_due_date ? govuk_tag(text: I18n.t("support.case.label.tasklist.status.complete"), colour: "green") : govuk_tag(text: I18n.t("support.case.label.tasklist.status.to_do")))

        if @current_case.document_upload_complete?
          document_upload_Status = govuk_tag(text: I18n.t("support.case.label.tasklist.status.complete"), colour: "green")
        elsif @current_case.document_upload_in_progress?
          document_upload_Status = govuk_tag(text: I18n.t("support.case.label.tasklist.status.in_progress"))
        else
          document_upload_Status = govuk_tag(text: I18n.t("support.case.label.tasklist.status.to_do"))
        end

        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.upload_documents"), href: edit_support_case_document_uploads_path(@current_case), status: document_upload_Status)

        if (@current_case.evaluators.any? && @current_case.evaluation_due_date && @current_case.has_uploaded_documents && @current_case.sent_email_to_evaluators)
          task_list.with_item(title: I18n.t("support.case.label.tasklist.item.email_evaluators"), href: edit_support_case_email_evaluators_path(@current_case), status: govuk_tag(text: I18n.t("support.case.label.tasklist.status.complete"), colour: "green"))
        elsif (@current_case.evaluators.any? && @current_case.evaluation_due_date && @current_case.has_uploaded_documents && @current_case.sent_email_to_evaluators == false)
          task_list.with_item(title: I18n.t("support.case.label.tasklist.item.email_evaluators"), href: edit_support_case_email_evaluators_path(@current_case), status: govuk_tag(text: I18n.t("support.case.label.tasklist.status.to_do")))
        else
          task_list.with_item(title: I18n.t("support.case.label.tasklist.item.email_evaluators")) do | item | 
          item.with_status(text: govuk_tag(text: I18n.t("support.case.label.tasklist.status.cannot_start"), colour: "grey"), cannot_start_yet: true)
          end
        end

        if @current_case.evaluation_complete?
          review_evaluation_Status = govuk_tag(text: I18n.t("support.case.label.tasklist.status.complete"), colour: "green")
        elsif @current_case.evaluation_in_progress?
          review_evaluation_Status = govuk_tag(text: I18n.t("support.case.label.tasklist.status.in_progress"))
        else
          review_evaluation_Status = govuk_tag(text: I18n.t("support.case.label.tasklist.status.to_do"))
        end


        if @current_case.enable_evaluation_link?
          task_list.with_item(title: I18n.t("support.case.label.tasklist.item.review_evaluations"), href: edit_support_case_review_evaluation_path(@current_case), status: review_evaluation_Status)
        else
          task_list.with_item(title: I18n.t("support.case.label.tasklist.item.review_evaluations")) do | item | 
          item.with_status(text: govuk_tag(text: I18n.t("support.case.label.tasklist.status.cannot_start"), colour: "grey"), cannot_start_yet: true)
          end
        end
      end %>
    </div>      
  </div>

  <div class="govuk-grid-row govuk-!-static-margin-top-5">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">
        <%= I18n.t("support.case.label.tasklist.handover_contract") %>
      </h3>
      <%= govuk_task_list(id_prefix: "handover_contract") do |task_list|

        if @current_case.contract_recipients.any?
          add_contract_recipients_status = govuk_tag(text: I18n.t("support.case.label.tasklist.status.complete"), colour: "green")
        else
          add_contract_recipients_status = govuk_tag(text: I18n.t("support.case.label.tasklist.status.to_do"))
        end

        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.add_contract_recipients"), href: support_case_contract_recipients_path(@current_case), status: add_contract_recipients_status)

        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.upload_contract_handover_pack"), href: '#', status: govuk_tag(text: I18n.t("support.case.label.tasklist.status.to_do")))

        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.share_handover_pack")) do | item | 
          item.with_status(text: govuk_tag(text: I18n.t("support.case.label.tasklist.status.cannot_start"), colour: "grey"), cannot_start_yet: true)
        end

        task_list.with_item(title: I18n.t("support.case.label.tasklist.item.download_contract_handover_pack")) do | item | 
          item.with_status(text: govuk_tag(text: I18n.t("support.case.label.tasklist.status.cannot_start"), colour: "grey"), cannot_start_yet: true)
        end
      end %>
    </div>
  </div>
</div>