<table class="govuk-table activity-log-table-advanced">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header activity-log-request">Request</th>
      <th scope="col" class="govuk-table__header activity-log-date">Date</th>
      <th scope="col" class="govuk-table__header activity-log-person">Person</th>
      <th scope="col" class="govuk-table__header">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% activity_log_items.each do |activity_log_item| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><code><%= activity_log_item.guid %></code></td>
        <td class="govuk-table__cell"><%= activity_log_item.display_created_at %></td>
        <td class="govuk-table__cell"><%= activity_log_item.display_actor %></td>
        <td class="govuk-table__cell"><%= link_to activity_log_item.display_subject, activity_log_item.subject, class: "govuk-link" %> - <%= activity_log_item.event_description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
