<%= form_with(model: agent, url:, method:, scope: :agent) do |form| %>
  <%= form.govuk_text_field :first_name, width: 'two-thirds', label: { text: "First name" } %>
  <%= form.govuk_text_field :last_name, width: 'two-thirds', label: { text: "Last name" } %>

  <%= form.govuk_text_field :email, width: 'two-thirds', label: { text: "Email" }, disabled: disable_email_field %>
  <% if disable_email_field %>
    <%= form.hidden_field :email %>
  <% end %>

  <%= form.govuk_collection_check_boxes :roles, grantable_agent_role_options, :id, :label, legend: { text: "Roles" } %>

  <div class="govuk-button-group flex-align-center">
    <%= form.submit I18n.t("support.management.agents.table.save"), class: "govuk-button" %>
    <%= link_to "Cancel", @back_url, class: "govuk-link govuk-link--no-visited-state" %>
  </div>
<% end %>
