<%= content_for :title, "CMS Management | Edit Agent" %>

<h2 class="govuk-heading-l">Edit <%= @agent.full_name %></h2>

<%= form_with(model: @agent, url: support_management_agent_path(@agent), method: :patch, scope: :agent) do |form| %>
  <%= form.govuk_collection_check_boxes :roles, grantable_agent_role_options, :id, :label, legend: { text: "Roles" } %>

  <div class="govuk-button-group flex-align-center">
    <%= form.submit I18n.t("support.management.agents.table.save"), class: "govuk-button" %>
    <%= link_to "Cancel", @back_url, class: "govuk-link govuk-link--no-visited-state" %>
  </div>
<% end %>
