<%= content_for :title, "CMS Management | #{I18n.t("support.management.agents.header")}" %>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to I18n.t("support.management.base.header"), portal_management_path, class: "govuk-breadcrumbs__link" %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to I18n.t("support.management.agents.header"), portal_management_agents_path, class: "govuk-breadcrumbs__link" %>
    </li>
  </ol>
</div>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l"><%= I18n.t("support.management.agents.header") %></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-third"><%= I18n.t("support.management.agents.table.name") %></th>
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Roles</th>
      <th scope="col" class="govuk-table__header"><%= I18n.t("support.management.agents.table.actions") %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @agents.each do |agent| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= agent.full_name %></th>
        <td class="govuk-table__cell">
          <%= agent.labelled_roles.join("<br />").html_safe %>
        </td>
        <td class="govuk-table__cell">
          <%= link_to "Edit", portal_edit_management_agent_path(agent), class: "govuk-link govuk-link--no-visited-state" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="govuk-heading-m">Actions</h3>
<ul class="govuk-list">
  <li><%= link_to "New Agent", portal_new_management_agent_path , class: "govuk-link" %></li>
</ul>
