<li>
  <div>
    <div class="govuk-grid-row">
      <div <%= tag.attributes class: mode == :edit ? "govuk-grid-column-three-quarters" : "govuk-grid-column-full" %>>
        <p class="govuk-body govuk-!-font-weight-bold">
          <% if form.present? && mode == :select %>
            <%= form.govuk_radio_button :template_id, template.id, label: { size: "s", text: template.title }, "data-action" => "email-templates-select#onTemplateSelected" %>
          <% else %>
            <%= template.title %>
          <% end %>
        </p>
      </div>
      <% if mode == :edit %>
        <div class="govuk-grid-column-one-quarter">
          <div class="template-manager__template-actions">
            <%= link_to I18n.t("support.management.email_templates.index.template_manager.templates.edit"), edit_support_management_email_template_path(template), class: "govuk-link govuk-link--no-visited-state" %>
            <%= link_to I18n.t("support.management.email_templates.index.template_manager.templates.delete"), support_management_email_template_path(template), method: :delete, data: { confirm: I18n.t("support.management.email_templates.index.template_manager.templates.delete_confirmation") }, class: "govuk-link govuk-link--no-visited-state" %>
          </div>
        </div>
      <% end %>
    </div>

    <div <%= tag.attributes class: "template-manager__template-attributes-#{mode}" %>>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= simple_format(template.description, wrapper_tag: "p", class: "govuk-body") %>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render "support/management/email_templates/template_manager/templates/template_tags", template: %>
        </div>
      </div>

      <% if template.subject.present? %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <p class="govuk-hint">
              <%= I18n.t("support.management.email_templates.index.template_manager.templates.subject", subject: template.subject) %>
            </p>
          </div>
        </div>
      <% end %>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= I18n.t("support.management.email_templates.index.template_manager.templates.preview") %>
          </span>
        </summary>
        <div class="govuk-details__text">
          <%= template.body_parsed.html_safe %>
          <% unless template.attachments.empty? %>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><%= I18n.t("support.emails.attachments.attachments_added") %></h2>
            <% template.attachments.each do |attachment| %>
              <div class="template-manager__attachment">
                <span class="template-manager__attachment-name"><%= attachment.file_name %></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </details>
    </div>
  </div>
</li>
