<% return if cookies[:cookie_consent].in?(["accepted", "rejected"]) %>

<div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on Get Help Buying for Schools">
  <div id="cookie-step-1" class="govuk-cookie-banner__message govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on Get Help Buying for Schools</h2>

        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">We use some essential cookies to make this service work.</p>
          <p class="govuk-body">We&rsquo;d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group flex-align-center">
      <%= button_to "Accept analytics cookies", cookie_preferences_path,
            method: :patch,
            remote: true,
            params: { "cookie_preferences_form[accepted_or_rejected]" => "accepted" },
            class: "govuk-button",
            data: { disable_with: "loading..." } %>

      <%= button_to "Reject analytics cookies", cookie_preferences_path,
            method: :patch,
            remote: true,
            params: { "cookie_preferences_form[accepted_or_rejected]" => "rejected" },
            class: "govuk-button",
            data: { disable_with: "loading..." } %>

      <%= link_to "View cookies", cookie_preferences_path, class: "govuk-link" %>
    </div>
  </div>

  <div id="cookie-step-accepted" class="govuk-cookie-banner__message govuk-width-container" role="alert" hidden>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">You&rsquo;ve accepted analytics cookies. You can <%= link_to "change your cookie settings", cookie_preferences_path, class: "govuk-link" %> at any time.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" data-hide=".govuk-cookie-banner">
        Hide cookie message
      </button>
    </div>
  </div>

  <div id="cookie-step-rejected" class="govuk-cookie-banner__message govuk-width-container" role="alert" hidden>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-cookie-banner__content">
          <p class="govuk-body">You&rsquo;ve rejected analytics cookies. You can <%= link_to "change your cookie settings", cookie_preferences_path, class: "govuk-link" %> at any time.</p>
        </div>
      </div>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" data-hide=".govuk-cookie-banner">
        Hide cookie message
      </button>
    </div>
  </div>
</div>
