<%= turbo_frame_tag "school-details-frame" do %>
  <h2 class="govuk-heading-l">
    <%= I18n.t("support.case.header.school_detail") %>
  </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-5">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.contact_name") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @current_case.full_name %>
      </dd>
      <dd class="govuk-summary-list__actions">
        <% unless @current_case.closed? %>
          <%= link_to "Change", edit_support_case_contact_details_path(@current_case), class: "govuk-link", target: "_top" %>
        <% end %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.contact_phone") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @current_case.phone_number %>
      </dd>
      <dd class="govuk-summary-list__actions">
        <% unless @current_case.closed? %>
          <%= link_to "Change", edit_support_case_contact_details_path(@current_case), class: "govuk-link", target: "_top" %>
        <% end %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.contact_extension_number") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @current_case.extension_number %>
      </dd>
      <dd class="govuk-summary-list__actions">
        <% unless @current_case.closed? %>
          <%= link_to "Change", edit_support_case_contact_details_path(@current_case), class: "govuk-link", target: "_top" %>
        <% end %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.contact_email") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @current_case.email %>
      </dd>
      <dd class="govuk-summary-list__actions">
        <% unless @current_case.closed? %>
          <%= link_to "Change", edit_support_case_contact_details_path(@current_case), class: "govuk-link", target: "_top" %>
        <% end %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.organisation_name") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @current_case.organisation_name if @current_case.organisation.present? %>
      </dd>
      <dd class="govuk-summary-list__actions">
        <% unless @current_case.closed? %>
          <%= link_to @current_case.organisation.present? ? "Change" : "Add",
            edit_support_case_organisation_path(@current_case), class: "govuk-link", target: "_top" %>
        <% end %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= I18n.t("support.case.label.organisation_type") %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= @current_case.organisation_type_name %>
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>

    <% if @current_case.eligible_for_school_picker? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.participating_schools") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @current_case.participating_schools.count %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to I18n.t("support.generic.view"), support_case_school_details_participating_schools_path(@current_case), class: "govuk-link" %>
        </dd>
      </div>
    <% end %>
  </dl>

  <% if @current_case.organisation.present? %>
    <ul class="govuk-list">
      <% if @current_case.organisation_gias_url.present? %>
        <li>
          <%= govuk_link_to @current_case.organisation_gias_label,
              @current_case.organisation_gias_url,
              target: "_blank", rel: "noreferrer noopener"
          %>
        </li>
      <% end %>
      <% if other_cases_by_case_org_exist?(@current_case.organisation) %>
        <li>
          <%= govuk_link_to I18n.t("support.case.label.view_all_cases"), other_cases_by_case_org_path(@current_case.organisation, back_to: url_b64(support_case_path(@current_case, back_to: params[:back_to]))), no_visited_state: true, "target" => "_top" %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
