<% if Rails.env.development? %>
  <%= debug @support_request.attributes %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <% if @support_request.submitted? %>
        Your request has been submitted
      <% else %>
        <%= I18n.t("support_request.section.submit_request") %>
      <% end %>
    </h1>

    <h2 class="govuk-heading-m">
      <%= I18n.t("support_request.section.about_you") %>
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @current_user.full_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your email address
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @current_user.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      <%= I18n.t("support_request.section.request_summary") %>
    </h2>

    <dl class="govuk-summary-list">

      <div id="support-request-school" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @support_request.school_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% unless @support_request.submitted? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_support_request_path(@support_request, step: 2), class: "govuk-link", id: "edit-school" %>
          <% end %>
        </dd>
      </div>

      <div id="support-request-category" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attached specification
        </dt>
          <dd class="govuk-summary-list__value">
          <% if @support_request.journey %>
            <%= @support_request.journey.created_at %>
          <% else %>
            None
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @current_user.journeys.any? && !@support_request.submitted? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_support_request_path(@support_request, step: 3), class: "govuk-link", id: "edit-specification" %>
          <% end %>
        </dd>
      </div>

      <div id="support-request-category" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support_request.label.category") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @support_request.journey %>
            <%= @support_request.journey.category.title %>
          <% else %>
            <%= @support_request.category&.title %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% unless @support_request.submitted? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_support_request_path(@support_request, step: 4), class: "govuk-link", id: "edit-category" %>
          <% end %>
        </dd>
      </div>

      <div id="support-request-message" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support_request.label.message") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @support_request.message_body %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% unless @support_request.submitted? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_support_request_path(@support_request, step: 5), class: "govuk-link", id: "edit-message" %>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("request.label.procurement_amount") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @support_request.procurement_amount %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% unless @support_request.submitted? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_support_request_path(@support_request, step: 6), class: "govuk-link", id: "edit-procurement-amount" %>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("request.label.special_requirements") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @support_request.special_requirements %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% unless @support_request.submitted? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_support_request_path(@support_request, step: 7), class: "govuk-link", id: "edit-special-requirements" %>
          <% end %>
        </dd>
      </div>
    </dl>

    <% unless @support_request.submitted? %>
      <p class="govuk-body">
        <%= I18n.t("support_request.response_time") %>
      </p>

      <%= button_to I18n.t("support_request.button.send"), support_request_submission_path(@support_request), class: "govuk-button", method: :patch, data: { disable_with: "Submitting..." } %>
    <% end %>

  </div>
</div>
