<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_with url: engagement_cases_path, scope: :create_case_form, method: :post, class: "new-case-form" do |form| %>

      <% params[:create_case_form].each do |key, value| %>
        <%= hidden_field_tag "create_case_form[#{key}]", value %>
      <% end %>

      <h1 class="govuk-heading-l">
        <%= I18n.t("support.case_hub_migration.edit.header") %>
      </h1>

      <h2 class="govuk-heading-m">
        <%= I18n.t("support.case_hub_migration.edit.section.establishment") %>
      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.school_name") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @form.organisation_name %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.school_postcode") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @form.organisation_postcode %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.school_urn") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @form.organisation_urn %>
          </dd>
          <dd id="changeSchool" class="govuk-summary-list__actions">
            <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.school_ukprn") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @form.organisation_ukprn %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        <%= I18n.t("support.case_hub_migration.edit.section.contact") %>
      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.name") %>
          </dt>
          <dd id="fullName" class="govuk-summary-list__value">
            <%= @form.full_name %>
          </dd>
          <dd id="changeName" class="govuk-summary-list__actions">
            <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.email") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @form.email %>
          </dd>
          <dd id="changeEmail" class="govuk-summary-list__actions">
            <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.phone_number", optional: nil) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @form.phone_number %>
          </dd>
          <dd id="changePhoneNumber" class="govuk-summary-list__actions">
            <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.extension_number", optional: nil) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @form.extension_number %>
          </dd>
          <dd id="changeExtensionNumber" class="govuk-summary-list__actions">
            <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        <%= I18n.t("support.case_hub_migration.edit.section.case") %>
      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.type") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @form.type %>
          </dd>
          <dd id="changeRequestType" class="govuk-summary-list__list__actions">
            <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
          </dd>
        </div>

        <% if @form.type == "Procurement" %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= I18n.t("support.case_hub_migration.label.sub_category") %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= @form.category_name %>
            </dd>
            <dd id="changeCategory" class="govuk-summary-list__list__actions">
              <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
            </dd>
          </div>
        <% else %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= I18n.t("support.case_hub_migration.label.query") %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= @form.query_name %>
            </dd>
            <dd id="changeQuery" class="govuk-summary-list__list__actions">
              <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
            </dd>
          </div>
        <% end %>
      </dl>

      <h2 class="govuk-heading-m">
        <%= I18n.t("support.case_hub_migration.edit.section.source") %>
      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.case_source") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= I18n.t("support.case.label.source.#{@form.source}") %>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        <%= I18n.t("support.case_hub_migration.edit.section.request_text") %>
      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.request_text") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= simple_format(@form.request_text, class: "govuk-body") %>
          </dd>
          <dd id="changeRequestText" class="govuk-summary-list__list__actions">
            <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        <%= I18n.t("support.case_hub_migration.edit.section.case_details") %>
      </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.procurement_value") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @form.procurement_amount %>
          </dd>
          <dd id="changeRequestText" class="govuk-summary-list__list__actions">
            <%= form.button I18n.t("generic.button.change_answer"), class: "govuk-link", value: "change" %>
          </dd>
        </div>
      </dl>

      <p class="govuk-body">
        <%= I18n.t("support.case_hub_migration.edit.label.confirm") %>
      </p>

      <%= form.button I18n.t("support.case_hub_migration.edit.submit"), class: "govuk-button", value: "create" %>

    <% end %>
  </div>
</div>
