<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= I18n.t("support.case_hub_migration.edit.header") %>
    </h1>

    <h2 class="govuk-heading-m">
      <%= I18n.t("support.case_hub_migration.edit.section.establishment") %>
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case_hub_migration.label.school_name") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @case_request.organisation.name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
        </dd>
      </div>

      <% if @case_request.organisation.respond_to?(:postcode) %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.school_postcode") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @case_request.organisation.postcode %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
          </dd>
        </div>
      <% end %>

      <% if @case_request.organisation.respond_to?(:urn) %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.school_urn") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @case_request.organisation.urn %>
          </dd>
          <dd id="changeSchool" class="govuk-summary-list__actions">
            <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
          </dd>
        </div>
      <% end %>

      <% if @case_request.organisation.respond_to?(:uid) %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.school_uid") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @case_request.organisation.uid %>
          </dd>
          <dd id="changeSchool" class="govuk-summary-list__actions">
            <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
          </dd>
        </div>
      <% end %>

      <% if @case_request.organisation.respond_to?(:la_code) %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.la_code") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @case_request.organisation.la_code %>
          </dd>
          <dd id="changeSchool" class="govuk-summary-list__actions">
            <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
          </dd>
        </div>
      <% end %>

      <% if @case_request.organisation.respond_to?(:ukprn) %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.school_ukprn") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @case_request.organisation.ukprn %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
          </dd>
        </div>
      <% end %>

      <% if @case_request.multischool? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.participating_schools") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= I18n.t("support.case_hub_migration.label.school_number", selected: @case_request.school_urns.count, total: @case_request.organisation.organisations.length ) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_school_picker_path(source: :change_link), no_visited_state: true %>
          </dd>
        </div>
      <% end %>
    </dl>

    <h2 class="govuk-heading-m">
      <%= I18n.t("support.case_hub_migration.edit.section.contact") %>
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case_hub_migration.label.name") %>
        </dt>
        <dd id="fullName" class="govuk-summary-list__value">
          <%= @case_request.full_name %>
        </dd>
        <dd id="changeName" class="govuk-summary-list__actions">
          <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case_hub_migration.label.email") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @case_request.email %>
        </dd>
        <dd id="changeEmail" class="govuk-summary-list__actions">
          <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case_hub_migration.label.phone_number", optional: nil) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @case_request.phone_number %>
        </dd>
        <dd id="changePhoneNumber" class="govuk-summary-list__actions">
          <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case_hub_migration.label.extension_number", optional: nil) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @case_request.extension_number %>
        </dd>
        <dd id="changeExtensionNumber" class="govuk-summary-list__actions">
          <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      <%= I18n.t("support.case.label.discovery_method.legend") %>
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case.label.discovery_method.field") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= I18n.t("support.case.label.discovery_method.#{Support::Case::discovery_methods.keys[@case_request.discovery_method]}") %>
          <%= if @case_request.discovery_method == Support::Case::discovery_methods[:other] && !@case_request.discovery_method_other_text.empty? then "- #{@case_request.discovery_method_other_text}" end %>
        </dd>
        <dd id="changeDiscoveryMethod" class="govuk-summary-list__actions">
          <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      <%= I18n.t("support.case_hub_migration.edit.section.case") %>
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case_hub_migration.label.type") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @case_request.type %>
        </dd>
        <dd id="changeRequestType" class="govuk-summary-list__actions">
          <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
        </dd>
      </div>

      <% if @case_request.type == "Procurement" %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.sub_category") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @case_request.category.title %>
          </dd>
          <dd id="changeCategory" class="govuk-summary-list__actions">
            <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
          </dd>
        </div>
      <% else %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("support.case_hub_migration.label.query") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @case_request.query.title %>
          </dd>
          <dd id="changeQuery" class="govuk-summary-list__actions">
            <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
          </dd>
        </div>
      <% end %>
    </dl>

    <h2 class="govuk-heading-m">
      <%= I18n.t("support.case_hub_migration.edit.section.request_text") %>
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case_hub_migration.label.request_text") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= simple_format(@case_request.request_text, class: "govuk-body") %>
        </dd>
        <dd id="changeRequestText" class="govuk-summary-list__actions">
          <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      <%= I18n.t("support.case_hub_migration.edit.section.case_details") %>
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("support.case_hub_migration.label.procurement_value") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= number_to_currency(@case_request.procurement_amount, unit: "£", precision: 2) %>
        </dd>
        <dd id="changeRequestText" class="govuk-summary-list__actions">
          <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
        </dd>
      </div>
      <% if @case_request.is_energy_or_services? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("faf.check_answers.details.contract_start_date") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @case_request.contract_start_date_formatted || I18n.t("faf.check_answers.not_known") %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_contract_start_date_path(@case_request, source: :change_link), class: "govuk-link", id: "edit-contract-start-date", "aria-label": I18n.t("faf.check_answers.aria.change_contract_start_date")  %>
          </dd>
        </div>
      <% end %>
      <% if @case_request.school_urns.count > 1 %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("faf.check_answers.details.same_supplier_used") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @case_request.same_supplier_used_formatted %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_same_supplier_path(@case_request, source: :change_link), class: "govuk-link", id: "edit-same-supplier", "aria-label": I18n.t("faf.check_answers.aria.change_same_supplier_used")  %>
          </dd>
        </div>
      <% end %>
    </dl>

    <h2 class="govuk-heading-m">
      <%= I18n.t("support.case_hub_migration.edit.section.attached_files") %>
    </h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <% if @case_request.engagement_case_uploads.present? %>
        <% @case_request.engagement_case_uploads.each do |f| %>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              <%= f.filename %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <%= govuk_link_to I18n.t("generic.button.change_answer"), edit_engagement_case_request_path, no_visited_state: true %>
            </dd>
          </div>
        <% end %>
      <% else %>
        <div class="govuk-summary-list__row">
          <p>None</p>
        </div>
      <% end %>
    </dl>

    <p class="govuk-body">
      <%= I18n.t("support.case_hub_migration.edit.label.confirm") %>
    </p>

    <%= button_to I18n.t("support.case_hub_migration.edit.submit"), submit_engagement_case_request_path, class: "govuk-button", data: { disable_with: "Submitting..." } %>
  </div>
</div>
