<h1 class="govuk-heading-l">
  <%= I18n.t("support.case_email_templates.index.header") %>
</h1>

<h3 class="govuk-heading-m">
  <%= link_to I18n.t("support.case_email_templates.index.what_is_a_framework.link_text"),
  support_case_email_content_path(@current_case, template: "f4696e59-8d89-4ac5-84ca-17293b79c337"),
  class: "govuk-link" %>
</h3>

<p class="govuk-body">
  <%= I18n.t("support.case_email_templates.index.what_is_a_framework.subtitle") %>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<h3 class="govuk-heading-m">
  <%= link_to I18n.t("support.case_email_templates.index.how_to_approach_suppliers.link_text"),
  support_case_email_content_path(@current_case, template: "6c76ed8c-030e-4c69-8f25-ea0c66091bc5"),
  class: "govuk-link" %>
</h3>

<p class="govuk-body">
  <%= I18n.t("support.case_email_templates.index.how_to_approach_suppliers.subtitle") %>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<h3 class="govuk-heading-m">
  <%= link_to I18n.t("support.case_email_templates.index.catering_frameworks.link_text"),
  support_case_email_content_path(@current_case, template: "12430165-4ae7-47aa-baa3-d0b3c5440a9b"),
  class: "govuk-link" %>
</h3>

<p class="govuk-body">
  <%= I18n.t("support.case_email_templates.index.catering_frameworks.subtitle") %>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<h3 class="govuk-heading-m">
  <%= link_to I18n.t("support.case_email_templates.index.social_value.link_text"),
  support_case_email_content_path(@current_case, template: "bb4e6925-3491-44b8-8747-bdbb31257403"),
  class: "govuk-link" %>
</h3>

<p class="govuk-body">
  <%= I18n.t("support.case_email_templates.index.social_value.subtitle") %>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<h3 class="govuk-heading-m">
  <%= link_to I18n.t("support.case_email_templates.index.user_research.link_text"),
  support_case_email_content_path(@current_case, template: "fd89b69e-7ff9-4b73-b4c4-d8c1d7b93779"),
  class: "govuk-link" %>
</h3>

<p class="govuk-body">
  <%= I18n.t("support.case_email_templates.index.user_research.subtitle") %>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
