<h1 class="govuk-heading-l">
  <%= I18n.t("support.case_email_templates.index.header") %>
</h1>

<h3 class="govuk-heading-m">
  <%= link_to I18n.t("support.case_email_templates.index.what_is_a_framework.link_text"),
  support_case_email_content_path(@current_case, template: Support::EmailTemplates::IDS[:what_is_a_framework]),
  class: "govuk-link" %>
</h3>

<p class="govuk-body">
  <%= I18n.t("support.case_email_templates.index.what_is_a_framework.subtitle") %>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<h3 class="govuk-heading-m">
  <%= link_to I18n.t("support.case_email_templates.index.how_to_approach_suppliers.link_text"),
  support_case_email_content_path(@current_case, template: Support::EmailTemplates::IDS[:how_to_approach_suppliers]),
  class: "govuk-link" %>
</h3>

<p class="govuk-body">
  <%= I18n.t("support.case_email_templates.index.how_to_approach_suppliers.subtitle") %>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<h3 class="govuk-heading-m">
  <%= link_to I18n.t("support.case_email_templates.index.catering_frameworks.link_text"),
  support_case_email_content_path(@current_case, template: Support::EmailTemplates::IDS[:catering_frameworks]),
  class: "govuk-link" %>
</h3>

<p class="govuk-body">
  <%= I18n.t("support.case_email_templates.index.catering_frameworks.subtitle") %>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<h3 class="govuk-heading-m">
  <%= link_to I18n.t("support.case_email_templates.index.social_value.link_text"),
  support_case_email_content_path(@current_case, template: Support::EmailTemplates::IDS[:social_value]),
  class: "govuk-link" %>
</h3>

<p class="govuk-body">
  <%= I18n.t("support.case_email_templates.index.social_value.subtitle") %>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<h3 class="govuk-heading-m">
  <%= link_to I18n.t("support.case_email_templates.index.user_research.link_text"),
  support_case_email_content_path(@current_case, template: Support::EmailTemplates::IDS[:user_research]),
  class: "govuk-link" %>
</h3>

<p class="govuk-body">
  <%= I18n.t("support.case_email_templates.index.user_research.subtitle") %>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

<h3 class="govuk-heading-m">
  <%= link_to I18n.t("support.case_email_templates.index.exit_survey.link_text"),
  support_case_email_content_path(@current_case, template: Support::EmailTemplates::IDS[:exit_survey]),
  class: "govuk-link" %>
</h3>

<p class="govuk-body">
  <%= I18n.t("support.case_email_templates.index.exit_survey.subtitle") %>
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
