<h1 class="govuk-heading-l"><%= I18n.t("support.case.messages.reply.edit.label.heading") %></h1>

<%= render "support/cases/emails/content/help_with_formatting" %>

<%= form_with model: @reply_form, scope: :message_reply_form, url: support_case_message_reply_path(@current_case, @current_email), method: :get do |form| %>
  <%= form.govuk_error_summary %>

  <%= form.govuk_text_area :body, rows: 10, label: { text: I18n.t("support.case.messages.reply.edit.label.reply_body") } %>

  <%= form.submit I18n.t("support.case.messages.reply.edit.label.preview_reply"), class: "govuk-button", role: "button" %>
<% end %>
