<div class="filters-remove">
  <div class="filters-remove__heading">
    <div class="govuk-body filters-remove__heading-title govuk-!-margin-bottom-0">
      <%= t(".active_filters") %>
    </div>
  </div>

  <ul class="filters-remove-tags">
    <% @selected_subcategories.each do |subcategory| %>
      <li>
        <%= link_to category_path(@category, subcategory_slugs: params[:subcategory_slugs] - [subcategory.slug]),
        class: "filters-remove-tag",
            no_underline: true do %>
          <span class="govuk-visually-hidden"><%= t(".remove_filter") %></span>
          <%= subcategory.title %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= govuk_link_to t(".clear_all_filters"), category_path(@category) %>

</div>
