<div class="dfe-grid-row">
  <div class="dfe-grid-column-two-thirds">
    <h1 class="dfe-heading-xl homepage-heading XXhomepage-heading-search-open">
      <%= t('header_title') %>
    </h1>
    <p class="dfe-body-l">
      <%= t('header_description') %>
    </p>
  </div>
</div>

<div class="govuk-!-margin-top-4">
  <% if @energy_banner %>
    <%= render partial: 'energy_banner', locals: { banner: @energy_banner } %>
  <% end %>

  <div class="govuk-inset-text govuk-inset-text--thin">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><%= t(".not_sure_title") %></h2>
    <p class="govuk-body"><%= t(".not_sure_body") %></p>
    <%= govuk_link_to(t(".expert_help_button"), framework_requests_path, class: "cta govuk-button", data: { track_internal_link: true }) %>
  </div>

  <% if @featured_offers.present? %>
    <h2 class="govuk-heading-m"><%= t(".offers_title") %></h2>
    <div class="dfe-grid-container offers-grid-container">
      <% @featured_offers.each do |offer| %>
        <%= render partial: "offers/offer", locals: { offer: offer } %>
      <% end %>
    </div>
  <% end %>

  <h2 class="govuk-heading-m"><%= t(".title") %></h2>
  <div class="dfe-grid-container">
    <% @categories.each do |category| %>
      <%= render "category", category: category %>
    <% end %>
  </div>

  <p class="govuk-body">
    <%= govuk_link_to t(".procurement_support"), framework_requests_path, target: "_blank", rel: "noopener noreferrer", data: { track_internal_link: true } %>
  </p>
</div>
