<div class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">
  <h2 class="govuk-heading-l govuk-!-margin-bottom-0"><%= @category.body_title %></h2>
  <p class="govuk-!-margin-bottom-4 govuk-body-l"><%= @category.body_description %></p>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-4">
      <% if @category.banner.present? %>
        <%= image_tag @category.banner&.image&.url, alt: @category.banner&.title %>
      <% end %>
    </div>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <% if @category.banner.present? %>
      <%= render partial: "shared/content_banner", locals: { 
        title: @category.banner.title, 
        description: @category.banner.description,
        url: @category.banner.url
      } %>
    <% end %>
  </div>
</div>

<hr/><br />
<% if @solutions.present? %>
  <%= render partial: "shared/solution_section", locals: { solutions: @solutions, category_slug: @category_slug  } %>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: "shared/right_filters", locals: { subcategories: @subcategories, category: @category, solutions: @solutions, ways_to_buy: @ways_to_buy } %>

  <% if @category.get_expert_help.present? %>
    <div class=" govuk-!-padding-bottom-4 govuk-!-padding-top-9 border-top">
      <h2 class="govuk-heading-s govuk-!-margin-top-2"><%= t(".get_expert_help") %></h2>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <b><%= @category&.get_expert_help&.title %></b>
          </span>
        </summary>
        <div class="govuk-details__text">
          <%= render_markdown_to_html(@category&.get_expert_help&.description) %>
        </div>
      </details>
    </div>
  <% end %>
  <%= render partial: "shared/related_content", locals: { related_content: @category.related_content } %>

<% end %>
