<% content_for :pre_main do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @category.banner.present? %>
        <%= render partial: "shared/content_banner", locals: { 
          title: @category.banner.title, 
          description: @category.banner.description,
          url: @category.banner.url
        } %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @dfe_solutions.present? %>
  <%= render partial: "shared/solution_section", locals: { title_key: t(".dfe_title"), standfirst_key: t(".dfe_standfirst"), solutions: @dfe_solutions, category_slug: @category_slug  } %>
  <%= render partial: "shared/solution_section", locals: { title_key: t(".other_title"), standfirst_key: t(".other_standfirst"), solutions: @other_solutions, category_slug: @category_slug  } %>
<% else  %>
  <%= render partial: "shared/solution_section", locals: { title_key: t(".title"), standfirst_key: t(".standfirst"), solutions: @solutions, category_slug: @category_slug  } %>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: "shared/right_filters", locals: { subcategories: @subcategories, category: @category, solutions: @solutions } %>
  <%= render partial: "shared/related_content", locals: { related_content: @category.related_content } %>
<% end %>
