<%= content_for :title, I18n.t("faf.check_answers.header") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"><%= I18n.t("faf.check_answers.header") %></h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.name") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.user.full_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @current_user.guest? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_name_path(@framework_request), class: "govuk-link", id: "edit-name" %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.email") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.user.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if current_user.guest? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_email_path(@framework_request), class: "govuk-link", id: "edit-email" %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.school") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.org_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if current_user.guest? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_search_for_organisation_path(@framework_request), class: "govuk-link", id: "edit-school" %>
          <% elsif !current_user.single_org? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_select_organisation_path(@framework_request), class: "govuk-link", id: "edit-school" %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.school_type") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @framework_request.group %>
            <%= @framework_request.group_type %>
          <% else %>
            <%= I18n.t("faf.check_answers.details.single") %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if current_user.guest? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_organisation_type_path(@framework_request), class: "govuk-link", id: "edit-school-type" %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.problem") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.message_body %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_message_path(@framework_request), class: "govuk-link", id: "edit-message" %>
        </dd>
      </div>

      <% unless @framework_request.allow_bill_upload? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("request.label.procurement_amount") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @framework_request.procurement_amount %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <% unless @framework_request.submitted? %>
              <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_procurement_amount_path(@framework_request), class: "govuk-link", id: "edit-procurement-amount" %>
            <% end %>
          </dd>
        </div>
      <% end %>

      <% if @framework_request.confidence_level %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= I18n.t("request.label.confidence_level") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @framework_request.confidence_level %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <% unless @framework_request.submitted? %>
              <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_procurement_confidence_path(@framework_request), class: "govuk-link", id: "edit-confidence-level" %>
            <% end %>
          </dd>
        </div>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("request.label.special_requirements") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.special_requirements %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% unless @framework_request.submitted? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_special_requirements_path(@framework_request), class: "govuk-link", id: "edit-special-requirements" %>
          <% end %>
        </dd>
      </div>
    </dl>

    <p class="govuk-body">
      <%= I18n.t("faf.check_answers.response_time") %>
    </p>

    <%= button_to I18n.t("faf.check_answers.button.send"), framework_request_submission_path(@framework_request), class: "govuk-button", method: :patch, data: { disable_with: "Submitting..." } %>

  </div>
</div>

<% if Rails.env.development? %>
  <%= render "framework_requests/debug" %>
<% end %>
