<% if Rails.env.development? %>
  <%= debug @framework_request.attributes %>
<% end %>

<%= link_to I18n.t("generic.button.back"), edit_framework_request_path(@framework_request, step: 7), class: "govuk-back-link" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"><%= I18n.t("faf.check_answers.header") %></h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.name") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.user.full_name %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if @current_user.guest? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_path(@framework_request, step: 5), class: "govuk-link", id: "edit-name" %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.email") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.user.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% if current_user.guest? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_path(@framework_request, step: 6), class: "govuk-link", id: "edit-email" %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.school") %>
        </dt>
        <% if @framework_request.group_uid.nil? %>
          <dd class="govuk-summary-list__value">
            <%= @framework_request.school_name %>
          </dd>
          <% else %>
          <dd class="govuk-summary-list__value">
            <%= @framework_request.group_name %>
          </dd>
        <% end %>
        <dd class="govuk-summary-list__actions">
          <% unless @framework_request.submitted? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_path(@framework_request, step: 3), class: "govuk-link", id: "edit-school" unless current_user.single_org? %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.school_type") %>
        </dt>
        <% if @framework_request.group_uid.nil? %>
          <dd class="govuk-summary-list__value">
            <%= I18n.t("faf.check_answers.details.single") %>
          </dd>
          <% else %>
           <dd class="govuk-summary-list__value">
            <%= @framework_request.group_type %>
          </dd>
        <% end %>
        <dd class="govuk-summary-list__actions">
          <% unless @framework_request.submitted? || !current_user.guest? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_path(@framework_request, step: 2), class: "govuk-link", id: "edit-school-type" %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= I18n.t("faf.check_answers.details.problem") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @framework_request.message_body %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <% unless @framework_request.submitted? %>
            <%= link_to I18n.t("generic.button.change_answer"), edit_framework_request_path(@framework_request, step: 7), class: "govuk-link", id: "edit-message" %>
          <% end %>
        </dd>
      </div>
    </dl>

    <p class="govuk-body">
      <%= I18n.t("faf.check_answers.response_time") %>
    </p>

    <%= button_to I18n.t("faf.check_answers.button.send"), framework_request_submission_path(@framework_request), class: "govuk-button", method: :patch, data: { disable_with: "Submitting..." } %>

  </div>
</div>
