<%= content_for :title, I18n.t("journey.specification.delete.header.confirm") %>

<%# TODO Append heading below with descriptive title ticket #124 %>
<h1 class="govuk-heading-xl"><%= I18n.t("journey.specification.delete.header.confirm") %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold">Specification</p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%# TODO descriptive title ticket #124 %> Title</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold">Category</p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= @current_journey.category.title %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold">Date started</p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= @current_journey.created_at %></p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    <p class="govuk-body"><%= I18n.t("journey.specification.delete.warning") %></p>
    <p class="govuk-body">
      <%= I18n.t("journey.specification.delete.download.message",
                 link: link_to(I18n.t("journey.specification.delete.download.link"),
                               journey_specification_path(@current_journey, format: :docx), class: "govuk-link")).html_safe %>
    </p>
  </div>
</div>

<div class="govuk-button-group">
  <%= link_to I18n.t("journey.specification.delete.button.delete"), journey_path(@current_journey), method: :delete,  class: "govuk-button govuk-button--warning " %>
  <%= link_to I18n.t("journey.specification.delete.button.cancel"), dashboard_path, class: "govuk-link" %>
</div>



