<%= content_for :title, I18n.t("journey.specification.delete.header.confirmed") %>

<h1 class="govuk-heading-xl"><%= I18n.t("journey.specification.delete.header.confirmed")  %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold">Specification</p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%# TODO descriptive title ticket #124 %> Title</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold">Category</p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= @current_journey.category.title %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body govuk-!-font-weight-bold">Date started</p>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= @current_journey.created_at %></p>
  </div>
</div>

<div class="govuk-button-group">
  <%= link_to I18n.t("journey.specification.delete.button.dashboard"), dashboard_path, class: "govuk-link govuk-button", role: "button" %>
</div>



