<%= content_for :title, @journey.category.capitalize %>

<h1 class="govuk-heading-xl"><%= @journey.category.capitalize %></h1>
<ol class="app-task-list">
  
  <% section_group_with_steps(journey: @journey, steps: @steps).each do |grouping| %>
    <h2 class="app-task-list__section"><%= grouping["title"] %></h2>
    <li>
      <%= render "step_list", journey: @journey, steps: grouping["steps"] %>
    </li>
  <% end %>
</ol>

<%= render "resume_journey_notice" %>

<h1 class="govuk-heading-l"><%= I18n.t("journey.specification.header") %></h1>
<%= link_to "Download (.docx)", journey_path(@journey, format: :docx), class: "govuk-button" %>
<%= @specification_template.render(@answers).html_safe %>
