<%= content_for :title, @journey.category.capitalize %>

<h1 class="govuk-heading-xl"><%= I18n.t("specifying.start_page.page_title") %></h1>

<%= render "resume_journey_notice" %>

<ol class="app-task-list">
  <% section_group_with_steps(journey: @journey, steps: @step_presenters).each do |grouping| %>
    <h2 class="app-task-list__section"><%= grouping["title"] %></h2>
    <li>
      <%= render "step_list", journey: @journey, steps: grouping["steps"] %>
    </li>
  <% end %>
</ol>

<%= link_to I18n.t("journey.specification.button"), journey_specification_path(@journey), class: "govuk-button" %>
