<%= content_for :title, @journey.category.capitalize %>

<h1 class="govuk-heading-xl"><%= I18n.t("specifying.start_page.page_title") %></h1>

<%= render "resume_journey_notice" %>

<ol class="app-task-list">

  <% section_group_with_steps(journey: @journey, steps: @step_presenters).each do |grouping| %>
    <h2 class="app-task-list__section"><%= grouping["title"] %></h2>
    <li>
      <%= render "step_list", journey: @journey, steps: grouping["steps"] %>
    </li>
  <% end %>
</ol>

<h1 class="govuk-heading-l"><%= I18n.t("journey.specification.header") %></h1>
<% unless @journey.all_steps_completed? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <%= I18n.t("journey.specification.warning") %>
    </strong>
  </div>
<% end %>
<%= link_to "Download (.docx)", journey_path(@journey, format: :docx), class: "govuk-button" %>
<%= @specification_html.html_safe %>
