<%= content_for :title, @journey.category.capitalize %>

<h1 class="govuk-heading-xl"><%= @journey.category.capitalize %></h1>
<dl class="govuk-summary-list">
  <% @steps.each do |step| %>
    <% if step.question? %>
      <%= render "#{step.contentful_type}_answer", step: step, answer: step.answer %>
    <% end %>
  <% end %>
</dl>

<h1 class="govuk-heading-l"><%= I18n.t("journey.specification.header") %></h1>
<%= @specification_template.render(@answers).html_safe %>
