<%= content_for :title, I18n.t("feedback.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l"> <%= I18n.t("feedback.user.header") %> </h1>

    <p class="govuk-body-m"> <%= I18n.t("feedback.user.body") %> </p>


    <%= form_with model: @form,
                  scope: :feedback_form,
                  url: feedback_path,
                  method: :patch do |form|
    %>

      <%= form.govuk_error_summary %>

      <%= form.hidden_field :satisfaction, value: form.object.satisfaction %>
      <%= form.hidden_field :feedback_text, value: form.object.feedback_text %>

      <%= form.govuk_text_field :full_name, autofocus: true, label: { text: I18n.t("feedback.user.full_name") } %>

      <%= form.govuk_text_field :email, label: { text: I18n.t("feedback.user.email") } %>


      <ul class="govuk-list">
        <li class="govuk-!-display-inline">
          <%= form.submit I18n.t("generic.button.submit"), class: "govuk-button" %>
        </li>
      </ul>

    <% end %>
  </div>
</div>
