<%= content_for :title, I18n.t("feedback.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl"><%= I18n.t("feedback.header") %></h1>

    <%= form_with model: @form, scope: :feedback_form, url: feedback_index_path, method: :post do |form| %>
      <%= form.govuk_error_summary %>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading"><%= I18n.t("feedback.survey.title") %></h1>
          </legend>

          <%= form.govuk_radio_buttons_fieldset :satisfaction, legend: { text: I18n.t("feedback.survey.satisfaction_question"), size: "s" } do %>
              <% form.object.satisfaction_options.each do |option| %>
                <%= form.govuk_radio_button :satisfaction, option, label: { text: I18n.t("feedback.survey.satisfaction_options.#{option}") } %>
              <% end %>
          <% end %>

          <%= form.govuk_text_area :feedback_text,
            class: "govuk-textarea",
            rows: 5,
            label: { text: I18n.t("feedback.survey.feedback_text_question"), size: "s" },
            hint: { text: I18n.t("feedback.survey.feedback_text_hint") }
          %>
        </fieldset>
      </div>

      <%= form.submit I18n.t("feedback.survey.submit"), class: "govuk-button" %>
    <% end %>
  </div>
</div>
