<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= I18n.t("support.procurement_details.edit.header") %></h1>

    <%= form_with model: @case_procurement_details_form, scope: :case_procurement_details_form, url: support_case_procurement_details_path(@current_case), method: :patch do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_radio_buttons_fieldset :required_agreement_type, legend: { text: I18n.t("support.procurement_details.edit.required_agreement_type.header") } do %>

        <div class="govuk-radios">
          <% @required_agreement_types.each do |type| %>
            <%= form.govuk_radio_button :required_agreement_type, type, label: { text: I18n.t("support.procurement_details.required_agreement_types.#{type}") } %>
          <% end %>
        </div>
      <% end %>

      <%= form.govuk_radio_buttons_fieldset :route_to_market, legend: { text: I18n.t("support.procurement_details.edit.route_to_market.header") } do %>
        <div class="govuk-radios">
          <% @route_to_markets.each do |route| %>
            <%= form.govuk_radio_button :route_to_market, route, label: { text: I18n.t("support.procurement_details.routes_to_market.#{route}") } %>
          <% end %>
        </div>
      <% end %>

      <%= form.govuk_radio_buttons_fieldset :reason_for_route_to_market, legend: { text: I18n.t("support.procurement_details.edit.reason_for_route_to_market.header") } do %>
        <div class="govuk-radios">
          <% @reason_for_route_to_markets.each do |reason| %>
            <%= form.govuk_radio_button :reason_for_route_to_market, reason, label: { text: I18n.t("support.procurement_details.reasons_for_route_to_market.#{reason}") } %>
          <% end %>
        </div>
      <% end %>

      <% if Flipper.enabled?(:framework_select_from_register) %>

        <%= render "components/autocomplete",
                container_id: "case-procurement-details-form-framework-field",
                label_text: I18n.t("support.procurement_details.edit.framework_name.header"),
                label_class: "govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-2",
                element_id: "framework-autocomplete",
                element_name: "case_procurement_details_form[framework_name]",
                template_suggestion: "{{display_status}} <strong>{{reference_and_name}}</strong>, {{provider_name}}<br />{{category_names}}<br />Provider start: {{display_provider_start_date}}, Provider end: {{display_provider_end_date}}",
                value_field: :reference_and_name,
                default_value: form.object.framework_name,
                hidden_fields: {
                  'case_procurement_details_form[frameworks_framework_id]' => [:id, form.object.frameworks_framework_id]
                },
                query_url: support_frameworks_path(format: :json, q: "{{QUERY}}") %>

      <% else %>

        <%= render "components/autocomplete",
                container_id: "case-procurement-details-form-framework-field",
                label_text: I18n.t("support.procurement_details.edit.framework_name.header"),
                label_class: "govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-2",
                element_id: "framework-autocomplete",
                element_name: "case_procurement_details_form[framework_name]",
                template_suggestion: "<strong>{{name}}</strong>, {{supplier}}<br />{{category}}<br />Expires: {{expires_at}}",
                value_field: :name,
                default_value: form.object.framework_name,
                hidden_fields: {
                  'case_procurement_details_form[framework_id]' => [:id, form.object.framework_id]
                },
                query_url: support_frameworks_path(format: :json, q: "{{QUERY}}") %>

      <% end %>

      <%= form.govuk_date_field :started_at, legend: { text: I18n.t("support.procurement_details.edit.started_at.header") } %>

      <%= form.govuk_date_field :ended_at, legend: { text: I18n.t("support.procurement_details.edit.ended_at.header") } %>

      <%= form.submit I18n.t("support.procurement_details.edit.submit"), class: "govuk-button", role: "button" %>
    <% end %>
  </div>
</div>
