<%= content_for :title, "CMS Management" %>

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to I18n.t("support.management.base.header"), support_management_path, class: "govuk-breadcrumbs__link" %>
    </li>
  </ol>
</nav>

<h1 class="govuk-heading-l"><%= I18n.t("support.management.base.header") %></h1>

<h2 class="govuk-heading-m"><%= I18n.t("support.management.base.configuration") %></h2>

<ul>
  <% if policy(:cms_portal).manage_agents? %>
    <li><%= link_to I18n.t("support.management.agents.header"), support_management_agents_path, class: "govuk-link" %></li>
  <% end %>

  <% if policy(:cms_portal).access_proc_ops_portal? %>
    <li><%= link_to I18n.t("support.management.categories.header"), support_management_categories_path, class: "govuk-link" %></li>
    <li><%= link_to I18n.t("support.management.email_templates.header"), support_management_email_templates_path, class: "govuk-link" %></li>
    <li><%= link_to I18n.t("support.management.energy_for_schools.header"), support_management_energy_for_schools_path, class: "govuk-link" %></li>
  <% end %>
</ul>

<% if policy(:cms_portal).access_proc_ops_portal? %>
  <h2 class="govuk-heading-m"><%= I18n.t("support.management.base.tasks") %></h2>

  <ul>
    <li><%= link_to I18n.t("support.management.sync_frameworks.header"), support_management_sync_frameworks_path, class: "govuk-link" %></li>
    <li><%= link_to I18n.t("support.management.all_cases_surveys.header"), support_management_all_cases_surveys_path, class: "govuk-link" %></li>
  </ul>
<% end %>
