<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to I18n.t("support.management.base.header"), support_management_path, class: "govuk-breadcrumbs__link" %>
    </li>
  </ol>
</div>


<h1 class="govuk-heading-l"><%= I18n.t("support.management.base.header") %></h1>

<ul>
  <li><%= link_to I18n.t("support.management.agents.header"), support_management_agents_path, class: "govuk-link" %></li>
  <li><%= link_to I18n.t("support.management.categories.header"), support_management_categories_path, class: "govuk-link" %></li>
  <li><%= link_to I18n.t("support.management.all_cases_surveys.header"), support_management_all_cases_surveys_path, class: "govuk-link" %></li>
</ul>
