<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l"><%= @task.title %></h1>
    <strong class="timeline-tasks__timeframe-tag"><%= @task.time_frame %></strong>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <%= link_to "What to do", "#what-to-do", class: "govuk-tabs__tab" %>
        </li>
        <li class="govuk-tabs__list-item">
          <%= link_to "Messages", "#messages", class: "govuk-tabs__tab" %>
        </li>
        <li class="govuk-tabs__list-item">
          <%= link_to "Internal notes", "#internal-notes", class: "govuk-tabs__tab" %>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="what-to-do">
        <%= form_with model: @file_picker, scope: :file_picker, url: support_case_timeline_task_path(case_id: @current_case, timeline_id: @timeline, id: @task), method: :patch do |form| %>
          <table class="govuk-table" aria-label="Email attachments">
            <caption class="govuk-table__caption govuk-table__caption--m">Add files</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                  File name
                </th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
              <% @files.each do |file| %>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <%= form.govuk_check_boxes_fieldset :files, multiple: true, small: true, legend: nil, form_group: { class: "govuk-!-margin-bottom-0" } do %>
                      <%= form.govuk_check_box :files, file.id, label: { text: file.name } %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= form.submit "Save", class: "govuk-button" %>
        <% end %>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="messages">
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="internal-notes">
      </div>
    </div>
  </div>
</div>
