<%= content_for :title, I18n.t("feedback.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title"><%= I18n.t("feedback.confirmation_details.submitted") %></h1>
    </div>
    <p class="govuk-body"><%= I18n.t("feedback.confirmation_details.message") %></p>

    <h2 class="govuk-heading-m"><%= I18n.t("feedback.confirmation_details.next.header") %></h2>

    <p class="govuk-body"><%= I18n.t("feedback.confirmation_details.next.body") %></p>

    <p class="govuk-body">
      <%= link_to I18n.t("feedback.confirmation_details.next.link.label"), I18n.t("feedback.confirmation_details.next.link.url"), class: "govuk-link" %>
    </p>

  </div>
</div>
