<%= content_for :title, I18n.t("feedback.title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title"><%= I18n.t("feedback.confirmation_feedback.submitted") %></h1>
    </div>
    <p class="govuk-body"><%= I18n.t("feedback.confirmation_feedback.message") %></p>

    <h2 class="govuk-heading-m"><%= I18n.t("feedback.confirmation_feedback.get_involved.header") %></h2>
    <p class="govuk-body"><%= I18n.t("feedback.confirmation_feedback.get_involved.body", contact_form_link: link_to(I18n.t("feedback.confirmation_feedback.get_involved.contact_form_link"), edit_feedback_path, class: "govuk-link")).html_safe %></p>
  </div>
</div>
