<%= content_for :title, I18n.t("all_cases_survey.about_outcomes.question") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, scope: :about_outcomes_form, url: all_cases_survey_about_outcome_path, method: :patch do |form| %>
      <%= form.govuk_error_summary %>

      <%= form.govuk_text_area :about_outcomes_text,
        class: "govuk-textarea",
        rows: 5,
        label: { text: I18n.t("all_cases_survey.about_outcomes.question"), size: "l" }
      %>

      <%= form.submit I18n.t("generic.button.next"), class: "govuk-button" %>
    <% end %>
  </div>
</div>
