<%= form_with(scope: :gas_supplier, url: energy_mat_gas_contract_path, method: :patch, local: true) do |form| %>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <%= I18n.t("energy.current_contract.current_supplier") %>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
    
      <% Energy::OnboardingCaseOrganisation::CURRENT_SUPPLIERS.each do |supplier, value| %>
        <% if supplier == :other %>
          <div class="govuk-radios__divider"><%= I18n.t("energy.or")%></div>

        <% end %>
        <%= render "energy/gas_supplier/supplier", { form: form, supplier: supplier, value: value } %>

      <% if supplier == :other %>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-e-supplier-8">
          <div class="govuk-form-group">
            <label class="govuk-label" for="e-supplier">
              Electricity supplier
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="e-supplier" name="e-supplier" type="tel" autocomplete="tel">  
          </div>
        </div>
      <% end %>


      <% end %>
      </div>
    </fieldset>
  </div>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="contract-end-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <%= I18n.t("energy.current_contract.when_contract_ends") %>
      </legend>
      <div id="contract-end-hint" class="govuk-hint">
        <%= I18n.t("energy.current_contract.date_for_example") %>
      </div>
      <% date_parts = [
        { id_suffix: 'day', width: 2 },
        { id_suffix: 'month', width: 2 },
        { id_suffix: 'year', width: 4 }
      ] %>

      <div class="govuk-date-input" id="contract-end">
        <% date_parts.each do |part| %>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <%= form.label "contract_end_#{part[:id_suffix]}", I18n.t("energy.current_contract.end_#{part[:id_suffix]}"), class: "govuk-label govuk-date-input__label" %>
              <%= form.text_field "contract_end_#{part[:id_suffix]}", class: "govuk-input govuk-date-input__input govuk-input--width-#{part[:width]}", id: "contract-end-#{part[:id_suffix]}", inputmode: "numeric" %>
            </div>
          </div>
        <% end %>
      </div>

    </fieldset>
  </div>
  <%= form.submit "Save and continue", class: "govuk-button" %>
<% end %>