<ul class="govuk-service-navigation__list" id="navigation" aria-label="Top level navigation">
  <% unless current_user.guest? %>

    <% if support_portal? || cec_portal? %>
      <%= turbo_stream_from current_agent, "notifications" %>
      <%= render "layouts/navigation_links_notifications", notifications_unread: notifications_unread? %>
    <% end %>

    <% if support_portal? && (current_agent.roles & %w[cec cec_admin]).none? %>

      <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(support_case_statistics_path)%>">
        <%= link_to I18n.t("support.case_statistics.header_link"), support_case_statistics_path, class: "govuk-service-navigation__link" %>
      </li>

      <% if policy(:cms_portal).access_admin_settings? %>
        <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(support_management_path)%>">
          <%= link_to 'Management', support_management_path, class: "govuk-service-navigation__link" %>
        </li>
      <% end %>

      <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(support_cases_path) || current_page?(support_root_path)%>">
        <%= link_to I18n.t("support.cases.my_cases.header_link"), support_cases_path(anchor: 'my-cases'), class: "govuk-service-navigation__link" %>
      </li>

      <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(new_support_case_search_path)%>">
        <%= link_to I18n.t("support.case.search.heading"), new_support_case_search_path, class: "govuk-service-navigation__link" %>
      </li>

      <% if policy(:cms_portal).access_frameworks_portal? %>
        <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(frameworks_root_path)%>">
          <%= link_to 'Frameworks', frameworks_root_path, class: "govuk-service-navigation__link" %>
        </li>
      <% end %>
    <% end %>

    <% if engagement_portal? %>
      <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(engagement_root_path)%>">
        <%= link_to "Cases", engagement_root_path, class: "govuk-service-navigation__link" %>
      </li>

      <% if policy(:cms_portal).access_admin_settings? %>
        <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(engagement_management_path)%>">
          <%= link_to 'Management', engagement_management_path, class: "govuk-service-navigation__link" %>
        </li>
      <% end %>
    <% end %>

    <% if frameworks_portal? %>
      <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(frameworks_root_path)%>">
        <%= link_to 'Frameworks', frameworks_root_path, class: "govuk-service-navigation__link" %>
      </li>

      <% if policy(:cms_portal).access_admin_settings? %>
        <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(frameworks_management_path)%>">
          <%= link_to 'Management', frameworks_management_path, class: "govuk-service-navigation__link" %>
        </li>
      <% end %>

      <% if policy(:cms_portal).access_proc_ops_portal? %>
        <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(support_cases_path) || current_page?(support_root_path)%>">
          <%= link_to 'Case Management', support_root_path, class: "govuk-service-navigation__link" %>
        </li>
      <% end %>
    <% end %>

    <% if cec_portal? || (support_portal? && (current_agent.roles & %w[cec cec_admin]).any?) %>
      <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(cec_cases_path) || current_page?(cec_root_path)%>">
        <%= link_to "Cases", cec_root_path, class: "govuk-service-navigation__link" %>
      </li>

        <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(cec_case_search_new_path)%>">
        <%= link_to I18n.t("support.case.search.heading"), cec_case_search_new_path, class: "govuk-service-navigation__link" %>
      </li>

      <% if policy(:cms_portal).access_admin_settings? %>
        <li class="govuk-service-navigation__item <%= "govuk-service-navigation__item--active" if current_page?(cec_management_path)%>">
          <%= link_to 'Management', cec_management_path, class: "govuk-service-navigation__link" %>
        </li>
      <% end %>
    <% end %>

    <li class="govuk-service-navigation__item">
      <%= link_to I18n.t("generic.button.sign_out"), sign_out_path, method: :delete, class: "govuk-service-navigation__link" %>
    </li>
  <% end %>
</ul>
