<!DOCTYPE html>
<html lang="en" class="govuk-template--rebranded">

  <head>
    <%= render "shared/analytics_tags" %>

    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Buy for your school" %></title>
    <meta name="theme-color" content="#1d70b8">
    <meta name="robots" content="noindex,nofollow">

    <%= render "shared/favicons" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>

    <% if support_portal? || frameworks_portal? || cec_portal? %>
      <%= javascript_include_tag "tinymce/tinymce.min" %>
    <% end %>

    <%= javascript_include_tag "application" %>
  </head>

  <body class="govuk-template__body" data-controller="dfe_analytics_engagement_tracking dfe_analytics_links">

    <%= javascript_tag nonce: true do -%>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end -%>

    <% unless internal_portal? %>
      <%= render "cookie_preferences/banner" %>
    <% end %>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <header class="govuk-header govuk-header--full-width-border" data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container <%= container_width_class %>">
        <div class="govuk-header__logo">
          <a href="https://www.gov.uk" class="govuk-header__link govuk-header__link--homepage">
            <img src="<%=image_path("department-for-education_white.png") %>" alt="Department for Education" class="govuk-header__logotype">
          </a>
        </div>
        <% unless current_user.guest? %>
          <div class="govuk-header__signed-in-user">
            Signed in as <%= current_user.first_name %> <%= current_user.last_name %>
          </div>
        <% end %>
      </div>
    </header>

    <section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
      <div class="govuk-width-container <%= container_width_class %>">
        <div class="govuk-service-navigation__container">
          <span class="govuk-service-navigation__service-name">
            <a href="<%= header_link %>" class="govuk-service-navigation__link">
              <%= I18n.t("app.name") %>
            </a>
          </span>
          <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
            <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
              Menu
            </button>
            <%= render "layouts/navigation_links" %>
          </nav>
        </div>
      </div>
    </section>

    <div class="govuk-width-container <%= container_width_class %>">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            <%= banner_tag %>
          </strong>
          <span class="govuk-phase-banner__text">
            <%= banner_message.html_safe %>
          </span>
        </p>
      </div>
      <%= render partial: "layouts/breadcrumbs" %>
      <main class="govuk-main-wrapper" id="main-content">
        <%= render partial: "layouts/messages" %>
        <%= yield %>
      </main>
    </div>

    <footer class="govuk-footer">
      <div class="govuk-width-container <%= container_width_class %>">
        <%= image_tag("govuk-footer-crown.svg", alt: "Crown Logo", class: "govuk-footer__crown") %>
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-visually-hidden">Support links</h2>

            <ul class="govuk-footer__inline-list">
              <li class="govuk-footer__inline-list-item">
                <%= accessibility_link(class: "govuk-footer__link") %>
              </li>
              <li class="govuk-footer__inline-list-item">
                <%= link_to "Terms and Conditions", "/terms-and-conditions", class: "govuk-footer__link" %>
              </li>
              <li class="govuk-footer__inline-list-item">
                <%= privacy_link(class: "govuk-footer__link") %>
              </li>
              <li class="govuk-footer__inline-list-item">
                <a class="govuk-footer__link" href="/cookie_preferences">Cookies</a>
              </li>
            </ul>

            <svg
              aria-hidden="true"
              focusable="false"
              class="govuk-footer__licence-logo"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 483.2 195.7"
              height="17"
              width="41">
              <path
                fill="currentColor"
                d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
            </svg>
            <span class="govuk-footer__licence-description">
              All content is available under the
              <a
                class="govuk-footer__link"
                href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                rel="license">Open Government Licence v3.0</a>, except where otherwise stated
            </span>
          </div>
          <div class="govuk-footer__meta-item">
            <a
              class="govuk-footer__link govuk-footer__copyright-logo"
              href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
              © Crown copyright
            </a>
          </div>
        </div>
      </div>
    </footer>

    <%= render partial: "layouts/redirect" %>
  </body>

</html>