<div class="govuk-tabs__panel" id="my-cases">
  <button class="govuk-button govuk-button--secondary pull-right" data-panel="filter-my-cases" data-component="toggle-panel-visibility">
    <%= I18n.t("support.case.filter.filter_results") %>
  </button>
  <h2 class="govuk-heading-l"><%= I18n.t("support.case.list.my_cases") %></h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render "support/cases/forms/filter_cases_form",
                  form: @my_cases_filter_form,
                  scope: :filter_my_cases_form,
                  filter_url: support_cases_path(anchor: "my-cases"),
                  clear_url: support_cases_path(anchor: "my-cases"),
                  tab: "my-cases" %>
      <% if @my_cases.none? %>
        <p class="govuk-body">
          <%= I18n.t("support.case.list.not_found") %>
        </p>
      <% else %>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">
                <%= I18n.t("support.case.label.case") %>
              </th>
              <th class="govuk-table__header" scope="col">
                <%= I18n.t("support.case.label.organisation") %>
              </th>
              <th class="govuk-table__header" scope="col">
                <%= I18n.t("support.case.label.sub_category") %>
              </th>
              <th class="govuk-table__header" scope="col">
                <%= I18n.t("support.case.label.status") %>
              </th>
              <th class="govuk-table__header" scope="col">
                <%= I18n.t("support.case.label.last_updated") %>
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @my_cases.each do |kase| %>
                <%= render "row", kase: kase, tab: :my_cases %>
            <% end %>
          </tbody>
        </table>
        <%= render "components/pagination", records: @my_cases, page_param_name: 'my_cases_page', pagination_params: { anchor: "my-cases" } %>
      <% end %>

      <%= link_to I18n.t("support.case.label.view_resolved_cases"), support_case_search_index_path(search_case_form: { search_term: current_agent.last_name.downcase, state: "resolved", agent: current_agent.id }), class: "govuk-link govuk-link--no-visited-state" %>
      <% if current_agent.support_tower.present? %>
        <br /><%= link_to I18n.t("support.case.label.view_tower_cases"), support_tower_path(current_agent.support_tower), class: "govuk-link govuk-link--no-visited-state" %>
      <% end %>
    </div>
  </div>
</div>
