<tr class="govuk-table__row case-row">
  <td class="govuk-table__cell">
    <%= link_to kase.ref, support_case_path(kase.id, back_to: current_url_b64(tab)), class: "govuk-link--no-visited-state" %>
  </td>

  <td class="govuk-table__cell">
    <div class="ellipsis-overflow col-350px">
      <%= link_to kase.organisation_name, support_case_path(kase.id, back_to: current_url_b64(tab)), class: "govuk-link--no-visited-state", title: kase.organisation_name %>
    </div>
  </td>

  <td class="govuk-table__cell"><%= kase.category.title %></td>

  <td class="govuk-table__cell case-status">
    <%= render "support/cases/status_badge", kase: %>
  </td>

  <% case tab %>
  <% when :all_cases %>
    <td class="govuk-table__cell"><%= kase.agent_name %></td>
    <td class="govuk-table__cell"><%= short_date_format(kase.last_updated_at) %></td>
  <% when :new_cases %>
    <td class="govuk-table__cell"><%= simple_distance_of_time_in_words(kase.received_at, Time.zone.now) %> ago</td>
  <% end %>
</tr>
