<% if cases.none? %>
  <%= render partial: "support/cases/not_found" %>
<% else %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <%= sortable_th :action, I18n.t("support.case.label.flag"), sort_scope, sort_form, sort_order: :desc_asc %>
        <%= sortable_th :ref, I18n.t("support.case.label.case"), sort_scope, sort_form %>
        <%= sortable_th :organisation_name, I18n.t("support.case.label.organisation"), sort_scope, sort_form %>
        <%= sortable_th :subcategory, I18n.t("support.case.label.category"), sort_scope, sort_form, th_attributes: { title: I18n.t("support.case.label.sub_category") } %>
        <%= sortable_th :state, I18n.t("support.case.label.status"), sort_scope, sort_form %>
        <% case tab %>
        <% when :all_cases %>
          <%= sortable_th :last_updated, I18n.t("support.case.label.updated"), sort_scope, sort_form, sort_order: :desc_asc %>
        <% when :new_cases %>
          <%= sortable_th :received, I18n.t("support.case.label.received"), sort_scope, sort_form, sort_order: :desc_asc %>
        <% end %>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <%= render partial: "support/cases/index/simple_case", collection: cases, as: :kase, locals: { tab: } %>
    </tbody>
  </table>
<% end %>
