<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="all-cases">
  <button class="govuk-button govuk-button--secondary pull-right" data-panel="filter-all-cases" data-component="toggle-panel-visibility">
    <%= I18n.t("support.case.filter.filter_results") %>
  </button>

  <h2 class="govuk-heading-l">
    <%= I18n.t("support.case.list.all_cases") %>
  </h2>

  <%= render "support/cases/forms/filter_cases_form",
              form: @all_cases_filter_form,
              scope: :filter_all_cases_form,
              filter_url: support_cases_path(anchor: "all-cases"),
              clear_url: support_cases_path(anchor: "all-cases"),
              tab: "all-cases" %>

  <%= render "support/cases/index/simple_cases", cases: Support::CasePresenter.wrap_collection(@cases), tab: :all_cases %>
  <%= render "components/pagination", records: @cases, page_param_name: 'cases_page', pagination_params: { anchor: "all-cases" } %>
</div>
